/* purgecss start ignore */
@supports(overflow: overlay) {
    body {
        overflow: overlay;
    }

    ::-webkit-scrollbar {
        background: transparent;
    }

    ::-webkit-scrollbar:vertical {
        width: 12px;
    }

    ::-webkit-scrollbar:horizontal {
        height: 12px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 9999px;
        border-color: transparent;
        border-style: solid;
        border-width: 4px 1px 4px 8px;
        box-shadow: 4px 0px 0px 4px var(--scrollbar-color) inset;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--scrollbar-color);
        border-width: 0 2px 0 0;
        box-shadow: none;
    }
}
/* purgecss end ignore */
