body {
    height: 100vh;
    overflow-y: auto;
    background-color: #FFFEF4;
    color: #533824;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.auth-form {
    background-color: #FFFEF4;
    color: #533824;
    border: 1px dashed #533824;
    opacity: 0.75;
    width: min(100vw - 20px, 400px);
    margin: 60px auto;
    border-radius: 22px;
}

.auth-form__form {
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.auth-form__header {
    display: flex;
    justify-content: space-around;
}

.auth-form__header-item {
    padding: 28px 12px;
    text-decoration: none;
    text-align: center;
    line-height: 1;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    transition: background-color 0.25s;
    color: #533824;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100%;

    &:hover {
        background-color: #533824;
        color: darkseagreen;
    }

    &:first-child {
        border-top-left-radius: 22px;
    }

    &:last-child {
        border-top-right-radius: 22px;
    }
}

.auth-form__footer {
    display: flex;
    flex-direction: column;
}

.auth-form__footer-item {
    padding: 28px 12px;
    text-decoration: none;
    text-align: center;
    line-height: 1;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    transition: background-color 0.25s;
    color: #533824;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:last-child {
        border-bottom-left-radius: 22px;
        border-bottom-right-radius: 22px;
    }

    &:hover {
        background-color: #533824;
        color: darkseagreen;
    }
}

.auth-form__button-container {
    display: flex;
    justify-content: space-around;
}

.auth-form__primary-button {
    height: 48px;
    border-radius: 24px;
    background-color: #533824;
    border: none;
    width: 100%;
    color: #eee;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    transition: background-color 0.2s;
    margin-top: 24px;

    &:hover {
        background-color: #533824;
        cursor: pointer;
    }
}

.auth-form__button--text {
    padding: 14px 22px;
    border-radius: 9999px;
    border: none;
    color: #533824;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    transition: background-color 0.2s;
    background: transparent;
    cursor: pointer;

    &:hover {
        background-color: #533824;
    }
}

.auth-form__label {
    margin-left: 14px;
    font-size: 16px;
    color: #533824;
    font-weight: bold;
    width: 100%;
}

.auth-form__text-input-group,
.auth-form__select-group,
.auth-form__textarea-group{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.auth-form__text-input,
.auth-form__select{
    border-radius: 19px;
    height: 38px;
    padding: 6px 15px;
    margin: 3px 0;
    border: none;
    box-sizing: border-box;
    background-color: #533824;;
    outline: none;
    transition: outline-color 0.5s;
    font-weight: 400;
    color: white;
}

.auth-form__text-input:focus,
.auth-form__select:focus,
.auth-form__textarea:focus {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.auth-form__checkbox-input-group {
    margin: 0;
}

.auth-form__checkbox-input {
    margin-left: 12px;
    margin-right: 2px;
}

.auth-form__checkbox-input + .auth-form__label {
    margin-left: 0;
}

.auth-form__fieldset {
    border-radius: 8px;
    border: none;
    padding: 52px 16px 16px 16px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    position: relative;
}

.auth-form__legend {
    font-size: 18px;
    font-weight: bold;
    margin: 12px 0 0 0;
    color: #11001C;
    position: absolute;
    top: 0;
    border: none;
}

.auth-form__textarea {
    height: 300px;
    border-radius: 19px;
    padding: 6px 15px;
    margin: 3px 0;
    border: none;
    box-sizing: border-box;
    background-color: #533824;
    outline: none;
    transition: outline-color 0.5s;
    font-weight: 400;
    color: white;
}

.auth-form__branding {
    text-decoration: none;
    color: #533824;
    display: flex;
    column-gap: 5px;
    align-items: center;
    font-size: 3rem;
    flex-direction: column;
    margin-bottom: 12px;
}

.auth-form__site-logo {
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-image: linear-gradient(
                  90deg,
                  #4E342E 0%,
                  #4E342E 75%,
                  #2E7D32 75%,
                  #2E7D32 100%
  );
  font-weight: 400;
  font-size: 3.0rem;
  font-family: 'HelveticaNeueLT Pro 35 Th', sans-serif;
  text-transform: lowercase;
  transition: background-image 0.5s ease-in-out;
}

.auth-form__errors {
    list-style-type: none;
    margin: 0;
    padding: 16px 8px;
}

.auth-form__important-infos {
    list-style-type: none;
    margin: 0;
    padding: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.auth-form__error, .auth-form__important-info {
    color: #533824;
    font-weight: bold;
    font-size: 16px;
}

[x-cloak] {
    display: none !important;
}
