.overview__welcome {
  text-align: center;
}

.overview__welcome h1 {
  font-size: 180px;
  margin: 0;
}

.overview__welcome h3 {
  font-size: 100px;
  margin: 0;
  line-height: 0;
}

.overview__welcome span {
  line-height: 10;
}