.stats__panels {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(240px, 20%), 1fr));
    gap: 1rem;
}

.stats__requirements-table tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.stats__perks-table tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.stats__requirements-table tr:nth-child(even) > td,
.stats__perks-table tr:nth-child(even) > td {
    background-color: inherit;
}

.stats__requirements-table tr:nth-child(odd) > td,
.stats__perks-table tr:nth-child(odd) > td {
    background-color: inherit;
}

.stats__requirements-table > tr:not(:last-child) > td,
.stats__requirements-table > thead > tr:not(:last-child) > td,
.stats__requirements-table > tbody > tr:not(:last-child) > td,
.stats__requirements-table > tfoot > tr:not(:last-child) > td {
    border-bottom: var(--data-table-tr-border);
}

@media only screen and (max-width: 806px) {
    .stats__groups-table > thead {
        display: none;
    }

    .stats__groups-table > tbody > tr {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin-bottom: 20px;
    }

    .stats__groups-table > tbody > tr > td {
        text-align: center;
    }
}
