/* Dashboard */

.form__button > svg {
    height: 17px;
    position: absolute;
    left: -17px;
    width: 17px;
}

.dashboard__menus {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(240px, 30%), 1fr));
    gap: 1rem;
}

.dashboard__stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 1rem;
}

/* Applications */

.application--pending {
    color: orange;
}

.application--approved {
    color: green;
}

.application--rejected {
    color: red;
}

/* Chat */

.chat-bots__icon {
    height: 24px;
}

/* User Search */

.user-search__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
