.profileV2 {
    display: grid;
    grid-template-columns: 200px minmax(min-content, auto) 1fr;
    grid-template-areas: "avatar username ." "avatar registration ." "avatar title ." "avatar about .";
    align-items: center;
    row-gap: 1rem;
}

@media screen and (max-width: 500px) {
    .profileV2 {
        grid-template-columns: auto 1fr;
        grid-template-areas: "avatar ." "username ." "registration ." "title ." "about .";
    }
}

.profile__username {
    grid-area: username;
    font-size: 22px;
}

.profile__avatar {
    grid-area: avatar;
    align-self: start;  border-radius: 50%;
    width: 180px;
    height: 180px;
}

.profile__registration {
    grid-area: registration;
}

.profile__title {
    grid-area: title;
}

.profile__about {
    grid-area: about;
}

.twoStep__qrCode {
    width: fit-content;
    padding: 0.75rem 0.75rem 0.75rem 0.75rem;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: var(--panel-box-shadow);
}

.twoStep__recoveryCodes {
    margin-top: 1rem;
    width: fit-content;
    padding: 1rem 1rem 1rem 1rem;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: var(--panel-box-shadow);
    font-family: monospace;
    color: #0f0f0f;
}
