bootstrap/cache/*

storage
vendor
node_modules

**.git
.idea
**.github
**.gitignore
**.gitattributes
**.sass-cache
*.env*

?ulpfile.js
?untfile.js
phpunit.xml
readme.md
phpspec.yml

/public/css
/public/files
/public/fonts
/public/img
/public/js
/public/sounds
/public/vendor
/public/mix-manifest.json
/public/mix-sri.json

supervisord.pid
Dockerfile
docker-compose.yml
run
run.ps1
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
laravel-echo-server.lock
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
