# Laravel

/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/mix-manifest.json
/public/tmp
/public/fonts/fa-*
/storage/backups
/storage/gitupdate
/storage/*.key
/vendor
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
laravel-echo-server.json

# IntelliJ

/.idea

# Vim
.*.swp