{
  "plugins": [
    "prettier-plugin-blade"
  ],
  "overrides": [
    {
      "files": [
        "*.blade.php"
      ],
      "options": {
        "parser": "blade",
        "printWidth": 100,
        "semi": true,
        "singleQuote": true
      }
    }
  ]
}
