includes:
    - ./vendor/calebdw/larastan/extension.neon
    - ./vendor/calebdw/larastan-livewire/extension.neon
    #- ./vendor/tomasvotruba/bladestan/config/extension.neon
    - ./phpstan-baseline.neon
parameters:
    tmpDir: .phpstan.cache
    paths:
        - app
        - bootstrap
        - config
        - database
        - lang
        - public
        - resources
        - routes
    excludePaths:
        - app/Helpers/Markdown
        - app/Helpers/MarkdownExtra
        - app/Http/Livewire/PersonCredit
        - app/Http/Livewire/TorrentSearch
        - bootstrap/cache
    level: 7
    checkOctaneCompatibility: true
