parameters:
	ignoreErrors:
		-
			message: "#^Comparison operation \"\\<\" between int\\<1, max\\> and 1 is always false\\.$#"
			count: 2
			path: app/Bots/CasinoBot.php

		-
			message: "#^Parameter \\#1 \\$amount of method App\\\\Bots\\\\CasinoBot\\:\\:putDonate\\(\\) expects int, string\\|null given\\.$#"
			count: 1
			path: app/Bots/CasinoBot.php

		-
			message: "#^Parameter \\#2 \\$array of function implode expects array\\|null, string given\\.$#"
			count: 1
			path: app/Bots/CasinoBot.php

		-
			message: "#^Parameter \\#2 \\$note of method App\\\\Bots\\\\CasinoBot\\:\\:putDonate\\(\\) expects string, array\\<int, string\\>\\|null given\\.$#"
			count: 1
			path: app/Bots/CasinoBot.php

		-
			message: "#^Property App\\\\Bots\\\\CasinoBot\\:\\:\\$chat is unused\\.$#"
			count: 1
			path: app/Bots/CasinoBot.php

		-
			message: "#^Property App\\\\Bots\\\\CasinoBot\\:\\:\\$current is never read, only written\\.$#"
			count: 1
			path: app/Bots/CasinoBot.php

		-
			message: "#^Property App\\\\Models\\\\BotTransaction\\:\\:\\$to_bot \\(bool\\) does not accept int\\.$#"
			count: 1
			path: app/Bots/CasinoBot.php

		-
			message: "#^Result of method App\\\\Repositories\\\\ChatRepository\\:\\:botMessage\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: app/Bots/CasinoBot.php

		-
			message: "#^Property App\\\\Bots\\\\IRCAnnounceBot\\:\\:\\$channel is never read, only written\\.$#"
			count: 1
			path: app/Bots/IRCAnnounceBot.php

		-
			message: "#^Property App\\\\Bots\\\\IRCAnnounceBot\\:\\:\\$registered is never read, only written\\.$#"
			count: 1
			path: app/Bots/IRCAnnounceBot.php

		-
			message: "#^Comparison operation \"\\<\" between int\\<1, max\\> and 1 is always false\\.$#"
			count: 2
			path: app/Bots/NerdBot.php

		-
			message: "#^Property App\\\\Bots\\\\NerdBot\\:\\:\\$chat is unused\\.$#"
			count: 1
			path: app/Bots/NerdBot.php

		-
			message: "#^Property App\\\\Models\\\\BotTransaction\\:\\:\\$to_bot \\(bool\\) does not accept int\\.$#"
			count: 1
			path: app/Bots/NerdBot.php

		-
			message: "#^Result of method App\\\\Repositories\\\\ChatRepository\\:\\:botMessage\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: app/Bots/NerdBot.php

		-
			message: "#^Comparison operation \"\\<\" between int\\<1, max\\> and 1 is always false\\.$#"
			count: 2
			path: app/Bots/SystemBot.php

		-
			message: "#^Property App\\\\Bots\\\\SystemBot\\:\\:\\$chat is unused\\.$#"
			count: 1
			path: app/Bots/SystemBot.php

		-
			message: "#^Result of method App\\\\Repositories\\\\ChatRepository\\:\\:botMessage\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: app/Bots/SystemBot.php

		-
			message: "#^Called 'pluck' on Laravel collection, but could have been retrieved as a query\\.$#"
			count: 1
			path: app/Console/Commands/AutoHighspeedTag.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$id\\.$#"
			count: 2
			path: app/Console/Commands/DemoSeed.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: app/Console/Commands/GitUpdater.php

		-
			message: "#^Property Illuminate\\\\Console\\\\Command\\:\\:\\$output \\(Illuminate\\\\Console\\\\OutputStyle\\) does not accept Symfony\\\\Component\\\\Console\\\\Output\\\\ConsoleOutput\\.$#"
			count: 1
			path: app/Console/Commands/GitUpdater.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: app/Helpers/Markdown.php

		-
			message: "#^Variable \\$text might not be defined\\.$#"
			count: 2
			path: app/Helpers/Markdown.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\:\\:\\$can_chat\\.$#"
			count: 1
			path: app/Http/Controllers/API/ChatController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\:\\:\\$id\\.$#"
			count: 9
			path: app/Http/Controllers/API/ChatController.php

		-
			message: "#^Comparison operation \"\\<\" between int\\<1, max\\> and 1 is always false\\.$#"
			count: 6
			path: app/Http/Controllers/API/ChatController.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 2
			path: app/Http/Controllers/API/ChatController.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 2
			path: app/Http/Controllers/API/ChatController.php

		-
			message: "#^Parameter \\#2 \\$user of method App\\\\Bots\\\\NerdBot\\:\\:process\\(\\) expects App\\\\Models\\\\User, Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\|null given\\.$#"
			count: 1
			path: app/Http/Controllers/API/ChatController.php

		-
			message: "#^Parameter \\#2 \\$user of method App\\\\Bots\\\\SystemBot\\:\\:process\\(\\) expects App\\\\Models\\\\User, Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\|null given\\.$#"
			count: 1
			path: app/Http/Controllers/API/ChatController.php

		-
			message: "#^Property App\\\\Models\\\\UserAudible\\:\\:\\$status \\(bool\\) does not accept int\\.$#"
			count: 6
			path: app/Http/Controllers/API/ChatController.php

		-
			message: "#^Property App\\\\Models\\\\Torrent\\:\\:\\$doubleup \\(bool\\) does not accept string\\.$#"
			count: 1
			path: app/Http/Controllers/API/TorrentController.php

		-
			message: "#^Property App\\\\Models\\\\Torrent\\:\\:\\$free \\(int\\) does not accept string\\.$#"
			count: 1
			path: app/Http/Controllers/API/TorrentController.php

		-
			message: "#^Right side of \\|\\| is always false\\.$#"
			count: 2
			path: app/Http/Controllers/API/TorrentController.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Torrent\\:\\:\\$meta\\.$#"
			count: 10
			path: app/Http/Controllers/HomeController.php

		-
			message: "#^Match arm comparison between 1 and bool\\|null is always false\\.$#"
			count: 2
			path: app/Http/Controllers/PlaylistController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$forum\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$latestPost\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:posts\\(\\)\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Parameter \\#1 \\$id of method MarcReichel\\\\IGDBLaravel\\\\Builder\\:\\:find\\(\\) expects int, string given\\.$#"
			count: 1
			path: app/Http/Controllers/RequestController.php

		-
			message: "#^Right side of \\|\\| is always false\\.$#"
			count: 2
			path: app/Http/Controllers/RequestController.php

		-
			message: "#^If condition is always true\\.$#"
			count: 2
			path: app/Http/Controllers/RssController.php

		-
			message: "#^Property App\\\\Models\\\\Rss\\:\\:\\$is_private \\(bool\\) does not accept int\\.$#"
			count: 2
			path: app/Http/Controllers/RssController.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: app/Http/Controllers/SimilarTorrentController.php

		-
			message: "#^Parameter \\#2 \\$values of static method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<App\\\\Models\\\\User\\>\\:\\:whereIntegerNotInRaw\\(\\) expects array\\<string, mixed\\>\\|Illuminate\\\\Contracts\\\\Support\\\\Arrayable\\<\\(int\\|string\\), mixed\\>, array\\{mixed, mixed, mixed, mixed\\} given\\.$#"
			count: 1
			path: app/Http/Controllers/Staff/MassActionController.php

		-
			message: "#^Property App\\\\Models\\\\Rss\\:\\:\\$is_private \\(bool\\) does not accept int\\.$#"
			count: 1
			path: app/Http/Controllers/Staff/RssController.php

		-
			message: "#^Offset 0 does not exist on Illuminate\\\\Http\\\\Client\\\\Response\\.$#"
			count: 1
			path: app/Http/Controllers/Staff/VersionController.php

		-
			message: "#^Parameter \\#2 \\$values of method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<App\\\\Models\\\\User\\>\\:\\:whereIntegerNotInRaw\\(\\) expects array\\<string, mixed\\>\\|Illuminate\\\\Contracts\\\\Support\\\\Arrayable\\<\\(int\\|string\\), mixed\\>, array\\{mixed, mixed, mixed, mixed\\} given\\.$#"
			count: 3
			path: app/Http/Controllers/StatsController.php

		-
			message: "#^Parameter \\#2 \\$values of static method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<App\\\\Models\\\\User\\>\\:\\:whereIntegerNotInRaw\\(\\) expects array\\<string, mixed\\>\\|Illuminate\\\\Contracts\\\\Support\\\\Arrayable\\<\\(int\\|string\\), mixed\\>, array\\{mixed, mixed, mixed, mixed\\} given\\.$#"
			count: 1
			path: app/Http/Controllers/StatsController.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Post\\:\\:\\$post_count\\.$#"
			count: 1
			path: app/Http/Controllers/TopicController.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: app/Http/Controllers/TopicController.php

		-
			message: "#^Property App\\\\Models\\\\Topic\\:\\:\\$pinned \\(bool\\) does not accept int\\.$#"
			count: 2
			path: app/Http/Controllers/TopicController.php

		-
			message: "#^Property App\\\\Models\\\\Topic\\:\\:\\$approved \\(bool\\) does not accept string\\.$#"
			count: 1
			path: app/Http/Controllers/TopicLabelController.php

		-
			message: "#^Property App\\\\Models\\\\Topic\\:\\:\\$bug \\(bool\\) does not accept string\\.$#"
			count: 1
			path: app/Http/Controllers/TopicLabelController.php

		-
			message: "#^Property App\\\\Models\\\\Topic\\:\\:\\$denied \\(bool\\) does not accept string\\.$#"
			count: 1
			path: app/Http/Controllers/TopicLabelController.php

		-
			message: "#^Property App\\\\Models\\\\Topic\\:\\:\\$implemented \\(bool\\) does not accept string\\.$#"
			count: 1
			path: app/Http/Controllers/TopicLabelController.php

		-
			message: "#^Property App\\\\Models\\\\Topic\\:\\:\\$invalid \\(bool\\) does not accept string\\.$#"
			count: 1
			path: app/Http/Controllers/TopicLabelController.php

		-
			message: "#^Property App\\\\Models\\\\Topic\\:\\:\\$solved \\(bool\\) does not accept string\\.$#"
			count: 1
			path: app/Http/Controllers/TopicLabelController.php

		-
			message: "#^Property App\\\\Models\\\\Topic\\:\\:\\$suggestion \\(bool\\) does not accept string\\.$#"
			count: 1
			path: app/Http/Controllers/TopicLabelController.php

		-
			message: "#^Property App\\\\Models\\\\Torrent\\:\\:\\$doubleup \\(bool\\) does not accept string\\.$#"
			count: 4
			path: app/Http/Controllers/TorrentBuffController.php

		-
			message: "#^Property App\\\\Models\\\\Torrent\\:\\:\\$featured \\(bool\\) does not accept string\\.$#"
			count: 2
			path: app/Http/Controllers/TorrentBuffController.php

		-
			message: "#^Property App\\\\Models\\\\Torrent\\:\\:\\$free \\(int\\) does not accept string\\.$#"
			count: 2
			path: app/Http/Controllers/TorrentBuffController.php

		-
			message: "#^Property App\\\\Models\\\\Torrent\\:\\:\\$sticky \\(int\\) does not accept string\\.$#"
			count: 1
			path: app/Http/Controllers/TorrentBuffController.php

		-
			message: "#^Parameter \\#1 \\$id of method MarcReichel\\\\IGDBLaravel\\\\Builder\\:\\:find\\(\\) expects int, string given\\.$#"
			count: 1
			path: app/Http/Controllers/TorrentController.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 2
			path: app/Http/Controllers/TorrentController.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: app/Http/Controllers/User/ResurrectionController.php

		-
			message: "#^Match expression does not handle remaining value\\: true$#"
			count: 1
			path: app/Http/Controllers/User/TipController.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\AttachmentUpload\\:\\:\\$attachments\\.$#"
			count: 1
			path: app/Http/Livewire/AttachmentUpload.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\AuditLogSearch\\:\\:\\$audits\\.$#"
			count: 1
			path: app/Http/Livewire/AuditLogSearch.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\AuditLogSearch\\:\\:\\$modelNames\\.$#"
			count: 1
			path: app/Http/Livewire/AuditLogSearch.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\BackupPanel\\:\\:\\$activeDisk\\.$#"
			count: 4
			path: app/Http/Livewire/BackupPanel.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\BackupPanel\\:\\:\\$backupStatuses\\.$#"
			count: 3
			path: app/Http/Livewire/BackupPanel.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\BackupPanel\\:\\:\\$backups\\.$#"
			count: 1
			path: app/Http/Livewire/BackupPanel.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\CollectionSearch\\:\\:\\$collections\\.$#"
			count: 1
			path: app/Http/Livewire/CollectionSearch.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\Comments\\:\\:\\$comments\\.$#"
			count: 1
			path: app/Http/Livewire/Comments.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\CompanySearch\\:\\:\\$companies\\.$#"
			count: 1
			path: app/Http/Livewire/CompanySearch.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\FailedLoginSearch\\:\\:\\$failedLogins\\.$#"
			count: 1
			path: app/Http/Livewire/FailedLoginSearch.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\ForumCategoryTopicSearch\\:\\:\\$topics\\.$#"
			count: 1
			path: app/Http/Livewire/ForumCategoryTopicSearch.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\ForumTopicSearch\\:\\:\\$topics\\.$#"
			count: 1
			path: app/Http/Livewire/ForumTopicSearch.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\InviteLogSearch\\:\\:\\$invites\\.$#"
			count: 1
			path: app/Http/Livewire/InviteLogSearch.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\LaravelLogViewer\\:\\:\\$entries\\.$#"
			count: 1
			path: app/Http/Livewire/LaravelLogViewer.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\LaravelLogViewer\\:\\:\\$logFiles\\.$#"
			count: 2
			path: app/Http/Livewire/LaravelLogViewer.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\MissingMediaSearch\\:\\:\\$medias\\.$#"
			count: 1
			path: app/Http/Livewire/MissingMediaSearch.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\MissingMediaSearch\\:\\:\\$types\\.$#"
			count: 1
			path: app/Http/Livewire/MissingMediaSearch.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\NetworkSearch\\:\\:\\$networks\\.$#"
			count: 1
			path: app/Http/Livewire/NetworkSearch.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\NoteSearch\\:\\:\\$notes\\.$#"
			count: 1
			path: app/Http/Livewire/NoteSearch.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\NotificationSearch\\:\\:\\$notifications\\.$#"
			count: 1
			path: app/Http/Livewire/NotificationSearch.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\PeerSearch\\:\\:\\$peers\\.$#"
			count: 1
			path: app/Http/Livewire/PeerSearch.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\PersonCredit\\:\\:\\$actedCount\\.$#"
			count: 2
			path: app/Http/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\PersonCredit\\:\\:\\$artDirectedCount\\.$#"
			count: 2
			path: app/Http/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\PersonCredit\\:\\:\\$cinematographedCount\\.$#"
			count: 2
			path: app/Http/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\PersonCredit\\:\\:\\$composedCount\\.$#"
			count: 2
			path: app/Http/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\PersonCredit\\:\\:\\$createdCount\\.$#"
			count: 2
			path: app/Http/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\PersonCredit\\:\\:\\$directedCount\\.$#"
			count: 2
			path: app/Http/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\PersonCredit\\:\\:\\$editedCount\\.$#"
			count: 2
			path: app/Http/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\PersonCredit\\:\\:\\$medias\\.$#"
			count: 1
			path: app/Http/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\PersonCredit\\:\\:\\$personalFreeleech\\.$#"
			count: 1
			path: app/Http/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\PersonCredit\\:\\:\\$producedCount\\.$#"
			count: 2
			path: app/Http/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\PersonCredit\\:\\:\\$productionDesignedCount\\.$#"
			count: 2
			path: app/Http/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\PersonCredit\\:\\:\\$writtenCount\\.$#"
			count: 2
			path: app/Http/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Movie\\:\\:\\$category_id\\.$#"
			count: 1
			path: app/Http/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Movie\\:\\:\\$meta\\.$#"
			count: 1
			path: app/Http/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Tv\\:\\:\\$category_id\\.$#"
			count: 1
			path: app/Http/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Tv\\:\\:\\$meta\\.$#"
			count: 1
			path: app/Http/Livewire/PersonCredit.php

		-
			message: "#^Property App\\\\Models\\\\Movie\\:\\:\\$torrents is not writable\\.$#"
			count: 1
			path: app/Http/Livewire/PersonCredit.php

		-
			message: "#^Property App\\\\Models\\\\Tv\\:\\:\\$torrents is not writable\\.$#"
			count: 1
			path: app/Http/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\PersonSearch\\:\\:\\$persons\\.$#"
			count: 1
			path: app/Http/Livewire/PersonSearch.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\PostSearch\\:\\:\\$posts\\.$#"
			count: 1
			path: app/Http/Livewire/PostSearch.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\SimilarTorrent\\:\\:\\$personalFreeleech\\.$#"
			count: 1
			path: app/Http/Livewire/SimilarTorrent.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\SimilarTorrent\\:\\:\\$torrents\\.$#"
			count: 3
			path: app/Http/Livewire/SimilarTorrent.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\SubscribedForum\\:\\:\\$forums\\.$#"
			count: 1
			path: app/Http/Livewire/SubscribedForum.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\SubscribedTopic\\:\\:\\$topics\\.$#"
			count: 1
			path: app/Http/Livewire/SubscribedTopic.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\SubtitleSearch\\:\\:\\$subtitles\\.$#"
			count: 1
			path: app/Http/Livewire/SubtitleSearch.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\Top10\\:\\:\\$personalFreeleech\\.$#"
			count: 1
			path: app/Http/Livewire/Top10.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\Top10\\:\\:\\$torrentsAll\\.$#"
			count: 1
			path: app/Http/Livewire/Top10.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\Top10\\:\\:\\$torrentsDay\\.$#"
			count: 1
			path: app/Http/Livewire/Top10.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\Top10\\:\\:\\$torrentsMonth\\.$#"
			count: 1
			path: app/Http/Livewire/Top10.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\Top10\\:\\:\\$torrentsWeek\\.$#"
			count: 1
			path: app/Http/Livewire/Top10.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\Top10\\:\\:\\$torrentsYear\\.$#"
			count: 1
			path: app/Http/Livewire/Top10.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\TopicPostSearch\\:\\:\\$posts\\.$#"
			count: 1
			path: app/Http/Livewire/TopicPostSearch.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\TopicSearch\\:\\:\\$forumCategories\\.$#"
			count: 1
			path: app/Http/Livewire/TopicSearch.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\TopicSearch\\:\\:\\$topics\\.$#"
			count: 1
			path: app/Http/Livewire/TopicSearch.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\TorrentRequestSearch\\:\\:\\$torrentRequestBountyStat\\.$#"
			count: 1
			path: app/Http/Livewire/TorrentRequestSearch.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\TorrentRequestSearch\\:\\:\\$torrentRequestStat\\.$#"
			count: 1
			path: app/Http/Livewire/TorrentRequestSearch.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\TorrentRequestSearch\\:\\:\\$torrentRequests\\.$#"
			count: 1
			path: app/Http/Livewire/TorrentRequestSearch.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\TorrentSearch\\:\\:\\$groupedPosters\\.$#"
			count: 1
			path: app/Http/Livewire/TorrentSearch.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\TorrentSearch\\:\\:\\$groupedTorrents\\.$#"
			count: 1
			path: app/Http/Livewire/TorrentSearch.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\TorrentSearch\\:\\:\\$personalFreeleech\\.$#"
			count: 1
			path: app/Http/Livewire/TorrentSearch.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\TorrentSearch\\:\\:\\$torrents\\.$#"
			count: 1
			path: app/Http/Livewire/TorrentSearch.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Movie\\|Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\), mixed\\>\\:\\:\\$category_id\\.$#"
			count: 1
			path: app/Http/Livewire/TorrentSearch.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Movie\\|Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\), mixed\\>\\:\\:\\$meta\\.$#"
			count: 1
			path: app/Http/Livewire/TorrentSearch.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Tv\\|Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\), mixed\\>\\:\\:\\$category_id\\.$#"
			count: 1
			path: app/Http/Livewire/TorrentSearch.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Tv\\|Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\), mixed\\>\\:\\:\\$meta\\.$#"
			count: 1
			path: app/Http/Livewire/TorrentSearch.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:ofName\\(\\)\\.$#"
			count: 1
			path: app/Http/Livewire/TorrentSearch.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\TvSearch\\:\\:\\$shows\\.$#"
			count: 1
			path: app/Http/Livewire/TvSearch.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\UserNotes\\:\\:\\$notes\\.$#"
			count: 1
			path: app/Http/Livewire/UserNotes.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\UserResurrections\\:\\:\\$resurrections\\.$#"
			count: 1
			path: app/Http/Livewire/UserResurrections.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\UserSearch\\:\\:\\$users\\.$#"
			count: 1
			path: app/Http/Livewire/UserSearch.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\UserTorrents\\:\\:\\$history\\.$#"
			count: 1
			path: app/Http/Livewire/UserTorrents.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\UserUploads\\:\\:\\$uploads\\.$#"
			count: 1
			path: app/Http/Livewire/UserUploads.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\WarningLogSearch\\:\\:\\$warnings\\.$#"
			count: 1
			path: app/Http/Livewire/WarningLogSearch.php

		-
			message: "#^Access to an undefined property App\\\\Http\\\\Livewire\\\\WatchlistSearch\\:\\:\\$users\\.$#"
			count: 1
			path: app/Http/Livewire/WatchlistSearch.php

		-
			message: "#^Called 'pluck' on Laravel collection, but could have been retrieved as a query\\.$#"
			count: 1
			path: app/Jobs/ProcessMovieJob.php

		-
			message: "#^Called 'pluck' on Laravel collection, but could have been retrieved as a query\\.$#"
			count: 1
			path: app/Jobs/ProcessTvJob.php

		-
			message: "#^Method App\\\\Providers\\\\CacheUserProvider\\:\\:retrieveByToken\\(\\) should return Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\|null but empty return statement found\\.$#"
			count: 1
			path: app/Providers/CacheUserProvider.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: app/Repositories/ChatRepository.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 1
			path: routes/console.php
