parameters:
	ignoreErrors:
		-
			message: "#^Strict comparison using \\=\\=\\= between true\\|null and false will always evaluate to false\\.$#"
			count: 1
			path: app/Actions/Fortify/CreateNewUser.php

		-
			message: "#^If condition is always false\\.$#"
			count: 2
			path: app/Bots/IRCAnnounceBot.php

		-
			message: "#^Parameter \\#2 \\$port of function fsockopen expects int, string\\|null given\\.$#"
			count: 1
			path: app/Bots/IRCAnnounceBot.php

		-
			message: "#^Property App\\\\Models\\\\User\\:\\:\\$can_download \\(bool\\) does not accept int\\.$#"
			count: 1
			path: app/Console/Commands/AutoBanDisposableUsers.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: app/Console/Commands/AutoDisableInactiveUsers.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: app/Console/Commands/AutoFlushPeers.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\User\\:\\:\\$avg_seedtime\\.$#"
			count: 1
			path: app/Console/Commands/AutoGroup.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\User\\:\\:\\$seedsize\\.$#"
			count: 1
			path: app/Console/Commands/AutoGroup.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\User\\:\\:\\$uploads\\.$#"
			count: 1
			path: app/Console/Commands/AutoGroup.php

		-
			message: "#^Binary operation \"\\-\" between float\\|int\\|string and float\\|int\\|string results in an error\\.$#"
			count: 1
			path: app/Console/Commands/AutoGroup.php

		-
			message: "#^Property App\\\\Models\\\\User\\:\\:\\$can_download \\(bool\\) does not accept int\\.$#"
			count: 2
			path: app/Console/Commands/AutoGroup.php

		-
			message: "#^Parameter \\#1 \\$callback of method Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\),mixed\\>\\:\\:filter\\(\\) expects \\(callable\\(mixed, int\\|string\\)\\: bool\\)\\|null, Closure\\(mixed\\)\\: \\(non\\-falsy\\-string\\|false\\) given\\.$#"
			count: 1
			path: app/Console/Commands/AutoHighspeedTag.php

		-
			message: "#^Negated boolean expression is always true\\.$#"
			count: 1
			path: app/Console/Commands/AutoRefundDownload.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: app/Console/Commands/AutoSoftDeleteDisabledUsers.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: app/Console/Commands/GitUpdater.php

		-
			message: "#^Method App\\\\Console\\\\Commands\\\\GitUpdater\\:\\:commands\\(\\) has parameter \\$commands with no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Console/Commands/GitUpdater.php

		-
			message: "#^Method App\\\\Console\\\\Commands\\\\GitUpdater\\:\\:manualUpdate\\(\\) has parameter \\$updating with no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Console/Commands/GitUpdater.php

		-
			message: "#^Parameter \\#2 \\$callback of function array_filter expects \\(callable\\(string\\)\\: bool\\)\\|null, 'strlen' given\\.$#"
			count: 2
			path: app/Console/Commands/GitUpdater.php

		-
			message: "#^Property Illuminate\\\\Console\\\\Command\\:\\:\\$output \\(Illuminate\\\\Console\\\\OutputStyle\\) does not accept Symfony\\\\Component\\\\Console\\\\Output\\\\ConsoleOutput\\.$#"
			count: 1
			path: app/Console/Commands/GitUpdater.php

		-
			message: "#^Negated boolean expression is always true\\.$#"
			count: 1
			path: app/Console/Kernel.php

		-
			message: "#^Method App\\\\Events\\\\Chatter\\:\\:__construct\\(\\) has parameter \\$payload with no type specified\\.$#"
			count: 1
			path: app/Events/Chatter.php

		-
			message: "#^Method App\\\\Events\\\\Chatter\\:\\:__construct\\(\\) has parameter \\$target with no type specified\\.$#"
			count: 1
			path: app/Events/Chatter.php

		-
			message: "#^Property App\\\\Events\\\\Chatter\\:\\:\\$audibles has no type specified\\.$#"
			count: 1
			path: app/Events/Chatter.php

		-
			message: "#^Property App\\\\Events\\\\Chatter\\:\\:\\$echoes has no type specified\\.$#"
			count: 1
			path: app/Events/Chatter.php

		-
			message: "#^Property App\\\\Events\\\\Chatter\\:\\:\\$message has no type specified\\.$#"
			count: 1
			path: app/Events/Chatter.php

		-
			message: "#^Property App\\\\Events\\\\Chatter\\:\\:\\$ping has no type specified\\.$#"
			count: 1
			path: app/Events/Chatter.php

		-
			message: "#^Method App\\\\Events\\\\Ping\\:\\:__construct\\(\\) has parameter \\$room with no type specified\\.$#"
			count: 1
			path: app/Events/Ping.php

		-
			message: "#^Property App\\\\Events\\\\Ping\\:\\:\\$ping type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Events/Ping.php

		-
			message: "#^Method App\\\\Exceptions\\\\TrackerException\\:\\:__construct\\(\\) has parameter \\$replace with no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Exceptions/TrackerException.php

		-
			message: "#^Method App\\\\Helpers\\\\Bencode\\:\\:bdecode\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Helpers/Bencode.php

		-
			message: "#^Method App\\\\Helpers\\\\Bencode\\:\\:bdecode\\(\\) has parameter \\$pos with no type specified\\.$#"
			count: 1
			path: app/Helpers/Bencode.php

		-
			message: "#^Method App\\\\Helpers\\\\Bencode\\:\\:bdecode\\(\\) has parameter \\$s with no type specified\\.$#"
			count: 1
			path: app/Helpers/Bencode.php

		-
			message: "#^Method App\\\\Helpers\\\\Bencode\\:\\:bdecode_file\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Helpers/Bencode.php

		-
			message: "#^Method App\\\\Helpers\\\\Bencode\\:\\:bdecode_file\\(\\) has parameter \\$filename with no type specified\\.$#"
			count: 1
			path: app/Helpers/Bencode.php

		-
			message: "#^Method App\\\\Helpers\\\\Bencode\\:\\:bencode\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Helpers/Bencode.php

		-
			message: "#^Method App\\\\Helpers\\\\Bencode\\:\\:bencode\\(\\) has parameter \\$d with no type specified\\.$#"
			count: 1
			path: app/Helpers/Bencode.php

		-
			message: "#^Method App\\\\Helpers\\\\Bencode\\:\\:get_infohash\\(\\) has parameter \\$t with no type specified\\.$#"
			count: 1
			path: app/Helpers/Bencode.php

		-
			message: "#^Method App\\\\Helpers\\\\Bencode\\:\\:get_meta\\(\\) has parameter \\$t with no type specified\\.$#"
			count: 1
			path: app/Helpers/Bencode.php

		-
			message: "#^Method App\\\\Helpers\\\\Bencode\\:\\:get_meta\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Helpers/Bencode.php

		-
			message: "#^Method App\\\\Helpers\\\\Bencode\\:\\:get_name\\(\\) has parameter \\$t with no type specified\\.$#"
			count: 1
			path: app/Helpers/Bencode.php

		-
			message: "#^Method App\\\\Helpers\\\\Bencode\\:\\:is_v2_or_hybrid\\(\\) has parameter \\$t with no type specified\\.$#"
			count: 1
			path: app/Helpers/Bencode.php

		-
			message: "#^Method App\\\\Helpers\\\\Bencode\\:\\:parse_integer\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Helpers/Bencode.php

		-
			message: "#^Method App\\\\Helpers\\\\Bencode\\:\\:parse_integer\\(\\) has parameter \\$pos with no type specified\\.$#"
			count: 1
			path: app/Helpers/Bencode.php

		-
			message: "#^Method App\\\\Helpers\\\\Bencode\\:\\:parse_integer\\(\\) has parameter \\$s with no type specified\\.$#"
			count: 1
			path: app/Helpers/Bencode.php

		-
			message: "#^Method App\\\\Helpers\\\\Bencode\\:\\:parse_string\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Helpers/Bencode.php

		-
			message: "#^Method App\\\\Helpers\\\\Bencode\\:\\:parse_string\\(\\) has parameter \\$pos with no type specified\\.$#"
			count: 1
			path: app/Helpers/Bencode.php

		-
			message: "#^Method App\\\\Helpers\\\\Bencode\\:\\:parse_string\\(\\) has parameter \\$s with no type specified\\.$#"
			count: 1
			path: app/Helpers/Bencode.php

		-
			message: "#^Method App\\\\Helpers\\\\CacheUser\\:\\:user\\(\\) should return App\\\\Models\\\\User\\|null but returns App\\\\Models\\\\User\\|Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<int, App\\\\Models\\\\User\\>\\|null\\.$#"
			count: 1
			path: app/Helpers/CacheUser.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: app/Helpers/TorrentHelper.php

		-
			message: "#^Method App\\\\Helpers\\\\TorrentTools\\:\\:getTorrentFiles\\(\\) should return array\\<int, array\\{name\\: string, size\\: int\\}\\> but returns array\\<int\\|string, array\\{name\\: mixed, size\\: mixed\\}\\>\\.$#"
			count: 1
			path: app/Helpers/TorrentTools.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\API\\\\BaseController\\:\\:sendError\\(\\) has parameter \\$code with no type specified\\.$#"
			count: 1
			path: app/Http/Controllers/API/BaseController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\API\\\\BaseController\\:\\:sendError\\(\\) has parameter \\$error with no type specified\\.$#"
			count: 1
			path: app/Http/Controllers/API/BaseController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\API\\\\BaseController\\:\\:sendError\\(\\) has parameter \\$errorMessages with no type specified\\.$#"
			count: 1
			path: app/Http/Controllers/API/BaseController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\API\\\\BaseController\\:\\:sendResponse\\(\\) has parameter \\$message with no type specified\\.$#"
			count: 1
			path: app/Http/Controllers/API/BaseController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\API\\\\BaseController\\:\\:sendResponse\\(\\) has parameter \\$result with no type specified\\.$#"
			count: 1
			path: app/Http/Controllers/API/BaseController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\API\\\\ChatController\\:\\:createMessage\\(\\) should return App\\\\Http\\\\Resources\\\\ChatMessageResource\\|bool\\|Illuminate\\\\Contracts\\\\Routing\\\\ResponseFactory\\|Illuminate\\\\Http\\\\Response but returns bool\\|Illuminate\\\\Contracts\\\\Foundation\\\\Application\\|Illuminate\\\\Contracts\\\\Routing\\\\ResponseFactory\\|Illuminate\\\\Http\\\\Response\\.$#"
			count: 1
			path: app/Http/Controllers/API/ChatController.php

		-
			message: "#^Property App\\\\Models\\\\UserAudible\\:\\:\\$status \\(int\\) does not accept bool\\.$#"
			count: 3
			path: app/Http/Controllers/API/ChatController.php

		-
			message: "#^Property App\\\\Models\\\\UserAudible\\:\\:\\$status \\(int\\) does not accept true\\.$#"
			count: 1
			path: app/Http/Controllers/API/ChatController.php

		-
			message: "#^Cannot call method getClientOriginalExtension\\(\\) on array\\<int, Illuminate\\\\Http\\\\UploadedFile\\>\\|Illuminate\\\\Http\\\\UploadedFile\\.$#"
			count: 1
			path: app/Http/Controllers/API/TorrentController.php

		-
			message: "#^Cannot call method getError\\(\\) on array\\<int, Illuminate\\\\Http\\\\UploadedFile\\>\\|Illuminate\\\\Http\\\\UploadedFile\\.$#"
			count: 1
			path: app/Http/Controllers/API/TorrentController.php

		-
			message: "#^Parameter \\#1 \\$inputFile of static method App\\\\Helpers\\\\TorrentTools\\:\\:getNfo\\(\\) expects Illuminate\\\\Http\\\\UploadedFile\\|null, array\\<int, Illuminate\\\\Http\\\\UploadedFile\\>\\|Illuminate\\\\Http\\\\UploadedFile\\|null given\\.$#"
			count: 1
			path: app/Http/Controllers/API/TorrentController.php

		-
			message: "#^Parameter \\#1 \\$torrentFile of static method App\\\\Helpers\\\\TorrentTools\\:\\:normalizeTorrent\\(\\) expects Illuminate\\\\Http\\\\UploadedFile, array\\<int, Illuminate\\\\Http\\\\UploadedFile\\>\\|Illuminate\\\\Http\\\\UploadedFile\\|null given\\.$#"
			count: 1
			path: app/Http/Controllers/API/TorrentController.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: app/Http/Controllers/API/TorrentController.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$banned_id\\.$#"
			count: 1
			path: app/Http/Controllers/AnnounceController.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$disabled_id\\.$#"
			count: 1
			path: app/Http/Controllers/AnnounceController.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$validating_id\\.$#"
			count: 1
			path: app/Http/Controllers/AnnounceController.php

		-
			message: "#^Cannot access property \\$id on App\\\\Models\\\\Torrent\\|string\\.$#"
			count: 1
			path: app/Http/Controllers/AnnounceController.php

		-
			message: "#^Cannot access property \\$status on App\\\\Models\\\\Torrent\\|string\\.$#"
			count: 3
			path: app/Http/Controllers/AnnounceController.php

		-
			message: "#^Cannot call method setRelation\\(\\) on App\\\\Models\\\\Torrent\\|string\\.$#"
			count: 1
			path: app/Http/Controllers/AnnounceController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\AnnounceController\\:\\:checkTorrent\\(\\) should return App\\\\Models\\\\Torrent but returns App\\\\Models\\\\Torrent\\|string\\.$#"
			count: 1
			path: app/Http/Controllers/AnnounceController.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Article\\:\\:\\$newNews\\.$#"
			count: 1
			path: app/Http/Controllers/HomeController.php

		-
			message: "#^Left side of && is always false\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Property App\\\\Models\\\\Rss\\:\\:\\$is_private \\(int\\) does not accept true\\.$#"
			count: 2
			path: app/Http/Controllers/RssController.php

		-
			message: "#^Unable to resolve the template type TKey in call to function collect$#"
			count: 2
			path: app/Http/Controllers/SimilarTorrentController.php

		-
			message: "#^Unable to resolve the template type TValue in call to function collect$#"
			count: 2
			path: app/Http/Controllers/SimilarTorrentController.php

		-
			message: "#^Parameter \\#1 \\$boolean of function abort_if expects bool, int given\\.$#"
			count: 1
			path: app/Http/Controllers/Staff/ChatBotController.php

		-
			message: "#^Call to function is_int\\(\\) with 'General'\\|null will always evaluate to false\\.$#"
			count: 1
			path: app/Http/Controllers/Staff/ChatRoomController.php

		-
			message: "#^Parameter \\#1 \\$boolean of function abort_if expects bool, int given\\.$#"
			count: 3
			path: app/Http/Controllers/Staff/RssController.php

		-
			message: "#^Property App\\\\Models\\\\Rss\\:\\:\\$is_private \\(int\\) does not accept false\\.$#"
			count: 1
			path: app/Http/Controllers/Staff/RssController.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Group\\|Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<int, App\\\\Models\\\\Group\\>\\:\\:\\$level\\.$#"
			count: 1
			path: app/Http/Controllers/Staff/UserController.php

		-
			message: "#^Offset 0 does not exist on Illuminate\\\\Http\\\\Client\\\\Response\\.$#"
			count: 1
			path: app/Http/Controllers/Staff/VersionController.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Post\\:\\:\\$post_count\\.$#"
			count: 1
			path: app/Http/Controllers/TopicController.php

		-
			message: "#^Left side of && is always false\\.$#"
			count: 1
			path: app/Http/Controllers/TopicController.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: app/Http/Controllers/TorrentBuffController.php

		-
			message: "#^Property App\\\\Models\\\\Torrent\\:\\:\\$refundable \\(bool\\) does not accept int\\.$#"
			count: 1
			path: app/Http/Controllers/TorrentBuffController.php

		-
			message: "#^Unable to resolve the template type TKey in call to function collect$#"
			count: 2
			path: app/Http/Controllers/TorrentController.php

		-
			message: "#^Unable to resolve the template type TValue in call to function collect$#"
			count: 2
			path: app/Http/Controllers/TorrentController.php

		-
			message: "#^Left side of && is always false\\.$#"
			count: 2
			path: app/Http/Controllers/User/InviteController.php

		-
			message: "#^Left side of && is always false\\.$#"
			count: 1
			path: app/Http/Controllers/User/TransactionController.php

		-
			message: "#^Parameter \\#2 \\$timestamp of function date expects int\\|null, int\\|false given\\.$#"
			count: 1
			path: app/Http/Controllers/YearlyOverviewController.php

		-
			message: "#^Property App\\\\Http\\\\Livewire\\\\AttachmentUpload\\:\\:\\$attachment has no type specified\\.$#"
			count: 1
			path: app/Http/Livewire/AttachmentUpload.php

		-
			message: "#^Property App\\\\Http\\\\Livewire\\\\AttachmentUpload\\:\\:\\$storedImage has no type specified\\.$#"
			count: 1
			path: app/Http/Livewire/AttachmentUpload.php

		-
			message: "#^Argument of an invalid type array\\<int, string\\>\\|false supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: app/Http/Livewire/AuditLogSearch.php

		-
			message: "#^Cannot call method sizeInBytes\\(\\) on class\\-string\\|object\\.$#"
			count: 1
			path: app/Http/Livewire/BackupPanel.php

		-
			message: "#^Method App\\\\Http\\\\Livewire\\\\BackupPanel\\:\\:backups\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Livewire/BackupPanel.php

		-
			message: "#^Cannot access offset 0 on array\\<int, string\\>\\|false\\.$#"
			count: 1
			path: app/Http/Livewire/LaravelLogViewer.php

		-
			message: "#^Method App\\\\Http\\\\Livewire\\\\LaravelLogViewer\\:\\:logFiles\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Livewire/LaravelLogViewer.php

		-
			message: "#^Parameter \\#1 \\$array of function array_shift expects array, array\\<int, string\\>\\|false given\\.$#"
			count: 1
			path: app/Http/Livewire/LaravelLogViewer.php

		-
			message: "#^Property App\\\\Http\\\\Livewire\\\\MissingMediaSearch\\:\\:\\$categories type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Livewire/MissingMediaSearch.php

		-
			message: "#^Access to an undefined property MarcReichel\\\\IGDBLaravel\\\\Models\\\\Game\\:\\:\\$first_release_date\\.$#"
			count: 1
			path: app/Http/Livewire/SimilarTorrent.php

		-
			message: "#^Access to an undefined property MarcReichel\\\\IGDBLaravel\\\\Models\\\\Game\\:\\:\\$name\\.$#"
			count: 1
			path: app/Http/Livewire/SimilarTorrent.php

		-
			message: "#^Method App\\\\Http\\\\Livewire\\\\UserSearch\\:\\:toggleProperties\\(\\) has parameter \\$property with no type specified\\.$#"
			count: 1
			path: app/Http/Livewire/UserSearch.php

		-
			message: "#^Method App\\\\Http\\\\Livewire\\\\WarningLogSearch\\:\\:toggleProperties\\(\\) has parameter \\$property with no type specified\\.$#"
			count: 1
			path: app/Http/Livewire/WarningLogSearch.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: app/Http/Middleware/CheckIfBanned.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: app/Http/Middleware/SetLanguage.php

		-
			message: "#^Method App\\\\Http\\\\Middleware\\\\SetLanguage\\:\\:setSystemLocale\\(\\) has parameter \\$request with no type specified\\.$#"
			count: 1
			path: app/Http/Middleware/SetLanguage.php

		-
			message: "#^Method App\\\\Http\\\\Middleware\\\\TrustHosts\\:\\:hosts\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Middleware/TrustHosts.php

		-
			message: "#^Method App\\\\Http\\\\Resources\\\\BotResource\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Resources/BotResource.php

		-
			message: "#^Method App\\\\Http\\\\Resources\\\\BotResource\\:\\:toArray\\(\\) return type with generic interface Illuminate\\\\Contracts\\\\Support\\\\Arrayable does not specify its types\\: TKey, TValue$#"
			count: 1
			path: app/Http/Resources/BotResource.php

		-
			message: "#^Method App\\\\Http\\\\Resources\\\\ChatMessageResource\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Resources/ChatMessageResource.php

		-
			message: "#^Method App\\\\Http\\\\Resources\\\\ChatRoomResource\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Resources/ChatRoomResource.php

		-
			message: "#^Method App\\\\Http\\\\Resources\\\\ChatUserResource\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Resources/ChatUserResource.php

		-
			message: "#^Method App\\\\Http\\\\Resources\\\\TorrentResource\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Resources/TorrentResource.php

		-
			message: "#^Strict comparison using \\=\\=\\= between 0\\|null and true will always evaluate to false\\.$#"
			count: 1
			path: app/Http/Resources/TorrentResource.php

		-
			message: "#^Unable to resolve the template type TKey in call to function collect$#"
			count: 1
			path: app/Http/Resources/TorrentResource.php

		-
			message: "#^Unable to resolve the template type TValue in call to function collect$#"
			count: 1
			path: app/Http/Resources/TorrentResource.php

		-
			message: "#^Method App\\\\Http\\\\Resources\\\\TorrentsResource\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Resources/TorrentsResource.php

		-
			message: "#^Method App\\\\Http\\\\Resources\\\\TorrentsResource\\:\\:with\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Resources/TorrentsResource.php

		-
			message: "#^Method App\\\\Http\\\\Resources\\\\UserAudibleResource\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Resources/UserAudibleResource.php

		-
			message: "#^Method App\\\\Http\\\\Resources\\\\UserEchoResource\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Resources/UserEchoResource.php

		-
			message: "#^Method App\\\\Http\\\\Resources\\\\UserResource\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: "#^Method App\\\\Http\\\\Resources\\\\UserResource\\:\\:toArray\\(\\) return type with generic interface Illuminate\\\\Contracts\\\\Support\\\\Arrayable does not specify its types\\: TKey, TValue$#"
			count: 1
			path: app/Http/Resources/UserResource.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: app/Jobs/ProcessAnnounce.php

		-
			message: "#^Negated boolean expression is always true\\.$#"
			count: 1
			path: app/Jobs/ProcessAnnounce.php

		-
			message: "#^Right side of \\|\\| is always false\\.$#"
			count: 2
			path: app/Jobs/ProcessAnnounce.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: app/Jobs/ProcessAnnounce.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: app/Models/Language.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: app/Models/Language.php

		-
			message: "#^Right side of \\|\\| is always false\\.$#"
			count: 1
			path: app/Models/Torrent.php

		-
			message: "#^Strict comparison using \\=\\=\\= between 0\\.4\\|null and 0 will always evaluate to false\\.$#"
			count: 1
			path: app/Models/User.php

		-
			message: "#^Cannot access offset 'validator' on Illuminate\\\\Contracts\\\\Foundation\\\\Application\\.$#"
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: "#^Parameter \\#2 \\$minLimit of static method App\\\\Helpers\\\\HiddenCaptcha\\:\\:check\\(\\) expects int, float\\|int\\|string given\\.$#"
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: "#^Parameter \\#3 \\$maxLimit of static method App\\\\Helpers\\\\HiddenCaptcha\\:\\:check\\(\\) expects int, float\\|int\\|string given\\.$#"
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: app/Providers/FortifyServiceProvider.php

		-
			message: "#^Call to function is_int\\(\\) with \\'General\\'\\|null will always evaluate to false\\.$#"
			count: 1
			path: app/Repositories/ChatRepository.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<int\\, App\\\\Models\\\\Chatroom\\>\\:\\:\\$id\\.$#"
			count: 1
			path: app/Repositories/ChatRepository.php

		-
			message: "#^Empty array passed to foreach\\.$#"
			count: 1
			path: app/Repositories/ChatRepository.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: app/Rules/EmailBlacklist.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 9
			path: app/Services/Unit3dAnnounce.php

		-
			message: "#^Strict comparison using \\!\\=\\= between null and null will always evaluate to false\\.$#"
			count: 9
			path: app/Services/Unit3dAnnounce.php

		-
			message: "#^Strict comparison using \\=\\=\\= between false\\|null and true will always evaluate to false\\.$#"
			count: 3
			path: app/Services/Unit3dAnnounce.php

		-
			message: "#^Parameter \\#1 \\$title of static method Illuminate\\\\Support\\\\Str\\:\\:slug\\(\\) expects string, bool\\|string given\\.$#"
			count: 1
			path: config/cache.php

		-
			message: "#^Parameter \\#1 \\$url of function parse_url expects string, bool\\|string\\|null given\\.$#"
			count: 2
			path: config/secure-headers.php

		-
			message: "#^Parameter \\#1 \\$title of static method Illuminate\\\\Support\\\\Str\\:\\:slug\\(\\) expects string, bool\\|string given\\.$#"
			count: 1
			path: config/session.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$default_groups\\.$#"
			count: 1
			path: database/migrations/2022_12_30_090331_update_user_notifications_table.php

		-
			message: "#^Argument of an invalid type object supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: database/migrations/2022_12_30_090331_update_user_notifications_table.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$default_groups\\.$#"
			count: 1
			path: database/migrations/2022_12_30_090351_update_user_privacy_table.php

		-
			message: "#^Argument of an invalid type object supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: database/migrations/2022_12_30_090351_update_user_privacy_table.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$file_name\\.$#"
			count: 3
			path: database/migrations/2023_02_09_113903_clean_torrent_files.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$content\\.$#"
			count: 1
			path: database/migrations/2023_07_22_043634_post_playlist_html_special_chars_decode.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$description\\.$#"
			count: 1
			path: database/migrations/2023_07_22_043634_post_playlist_html_special_chars_decode.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$id\\.$#"
			count: 2
			path: database/migrations/2023_07_22_043634_post_playlist_html_special_chars_decode.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$file_name\\.$#"
			count: 2
			path: database/migrations/2023_07_29_205035_add_torrent_folder_name.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$id\\.$#"
			count: 1
			path: database/migrations/2023_07_29_205035_add_torrent_folder_name.php

		-
			message: "#^If condition is always false\\.$#"
			count: 2
			path: routes/announce.php

		-
			message: "#^If condition is always false\\.$#"
			count: 2
			path: routes/api.php

		-
			message: "#^If condition is always false\\.$#"
			count: 2
			path: routes/rss.php

		-
			message: "#^If condition is always false\\.$#"
			count: 2
			path: routes/web.php
