parameters:
	ignoreErrors:
		-
			message: "#^Comparison operation \"\\<\" between int\\<1, max\\> and 1 is always false\\.$#"
			count: 2
			path: app/Bots/CasinoBot.php

		-
			message: "#^Parameter \\#1 \\$amount of method App\\\\Bots\\\\CasinoBot\\:\\:putDonate\\(\\) expects int, string\\|null given\\.$#"
			count: 1
			path: app/Bots/CasinoBot.php

		-
			message: "#^Parameter \\#2 \\$array of function implode expects array\\|null, string given\\.$#"
			count: 1
			path: app/Bots/CasinoBot.php

		-
			message: "#^Parameter \\#2 \\$note of method App\\\\Bots\\\\CasinoBot\\:\\:putDonate\\(\\) expects string, array\\<int, string\\>\\|null given\\.$#"
			count: 1
			path: app/Bots/CasinoBot.php

		-
			message: "#^Property App\\\\Bots\\\\CasinoBot\\:\\:\\$chat is unused\\.$#"
			count: 1
			path: app/Bots/CasinoBot.php

		-
			message: "#^Property App\\\\Bots\\\\CasinoBot\\:\\:\\$current is never read, only written\\.$#"
			count: 1
			path: app/Bots/CasinoBot.php

		-
			message: "#^Property App\\\\Models\\\\BotTransaction\\:\\:\\$to_bot \\(bool\\) does not accept int\\.$#"
			count: 1
			path: app/Bots/CasinoBot.php

		-
			message: "#^Result of method App\\\\Repositories\\\\ChatRepository\\:\\:botMessage\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: app/Bots/CasinoBot.php

		-
			message: "#^Property App\\\\Bots\\\\IRCAnnounceBot\\:\\:\\$channel is never read, only written\\.$#"
			count: 1
			path: app/Bots/IRCAnnounceBot.php

		-
			message: "#^Property App\\\\Bots\\\\IRCAnnounceBot\\:\\:\\$registered is never read, only written\\.$#"
			count: 1
			path: app/Bots/IRCAnnounceBot.php

		-
			message: "#^Comparison operation \"\\<\" between int\\<1, max\\> and 1 is always false\\.$#"
			count: 2
			path: app/Bots/NerdBot.php

		-
			message: "#^Property App\\\\Bots\\\\NerdBot\\:\\:\\$chat is unused\\.$#"
			count: 1
			path: app/Bots/NerdBot.php

		-
			message: "#^Property App\\\\Models\\\\BotTransaction\\:\\:\\$to_bot \\(bool\\) does not accept int\\.$#"
			count: 1
			path: app/Bots/NerdBot.php

		-
			message: "#^Result of method App\\\\Repositories\\\\ChatRepository\\:\\:botMessage\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: app/Bots/NerdBot.php

		-
			message: "#^Comparison operation \"\\<\" between int\\<1, max\\> and 1 is always false\\.$#"
			count: 2
			path: app/Bots/SystemBot.php

		-
			message: "#^Property App\\\\Bots\\\\SystemBot\\:\\:\\$chat is unused\\.$#"
			count: 1
			path: app/Bots/SystemBot.php

		-
			message: "#^Result of method App\\\\Repositories\\\\ChatRepository\\:\\:botMessage\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: app/Bots/SystemBot.php

		-
			message: "#^Called 'pluck' on Laravel collection, but could have been retrieved as a query\\.$#"
			count: 1
			path: app/Console/Commands/AutoHighspeedTag.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$id\\.$#"
			count: 2
			path: app/Console/Commands/DemoSeed.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: app/Console/Commands/GitUpdater.php

		-
			message: "#^Property Illuminate\\\\Console\\\\Command\\:\\:\\$output \\(Illuminate\\\\Console\\\\OutputStyle\\) does not accept Symfony\\\\Component\\\\Console\\\\Output\\\\ConsoleOutput\\.$#"
			count: 1
			path: app/Console/Commands/GitUpdater.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: app/Helpers/Markdown.php

		-
			message: "#^Variable \\$text might not be defined\\.$#"
			count: 2
			path: app/Helpers/Markdown.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\:\\:\\$can_chat\\.$#"
			count: 1
			path: app/Http/Controllers/API/ChatController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\:\\:\\$id\\.$#"
			count: 9
			path: app/Http/Controllers/API/ChatController.php

		-
			message: "#^Comparison operation \"\\<\" between int\\<1, max\\> and 1 is always false\\.$#"
			count: 6
			path: app/Http/Controllers/API/ChatController.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 2
			path: app/Http/Controllers/API/ChatController.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 2
			path: app/Http/Controllers/API/ChatController.php

		-
			message: "#^Parameter \\#2 \\$user of method App\\\\Bots\\\\NerdBot\\:\\:process\\(\\) expects App\\\\Models\\\\User, Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\|null given\\.$#"
			count: 1
			path: app/Http/Controllers/API/ChatController.php

		-
			message: "#^Parameter \\#2 \\$user of method App\\\\Bots\\\\SystemBot\\:\\:process\\(\\) expects App\\\\Models\\\\User, Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\|null given\\.$#"
			count: 1
			path: app/Http/Controllers/API/ChatController.php

		-
			message: "#^Property App\\\\Models\\\\UserAudible\\:\\:\\$status \\(bool\\) does not accept int\\.$#"
			count: 6
			path: app/Http/Controllers/API/ChatController.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Torrent\\:\\:\\$meta\\.$#"
			count: 10
			path: app/Http/Controllers/HomeController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$forum\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$latestPost\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:posts\\(\\)\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Offset 0 does not exist on Illuminate\\\\Http\\\\Client\\\\Response\\.$#"
			count: 1
			path: app/Http/Controllers/Staff/VersionController.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Post\\:\\:\\$post_count\\.$#"
			count: 1
			path: app/Http/Controllers/TopicController.php

		-
			message: "#^Called 'pluck' on Laravel collection, but could have been retrieved as a query\\.$#"
			count: 1
			path: app/Jobs/ProcessMovieJob.php

		-
			message: "#^Called 'pluck' on Laravel collection, but could have been retrieved as a query\\.$#"
			count: 1
			path: app/Jobs/ProcessTvJob.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\AttachmentUpload\\:\\:\\$attachments\\.$#"
			count: 1
			path: app/Livewire/AttachmentUpload.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\AuditLogSearch\\:\\:\\$audits\\.$#"
			count: 1
			path: app/Livewire/AuditLogSearch.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\AuditLogSearch\\:\\:\\$modelNames\\.$#"
			count: 1
			path: app/Livewire/AuditLogSearch.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\BackupPanel\\:\\:\\$activeDisk\\.$#"
			count: 4
			path: app/Livewire/BackupPanel.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\BackupPanel\\:\\:\\$backupStatuses\\.$#"
			count: 3
			path: app/Livewire/BackupPanel.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\BackupPanel\\:\\:\\$backups\\.$#"
			count: 1
			path: app/Livewire/BackupPanel.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\CollectionSearch\\:\\:\\$collections\\.$#"
			count: 1
			path: app/Livewire/CollectionSearch.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\Comments\\:\\:\\$comments\\.$#"
			count: 1
			path: app/Livewire/Comments.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\CompanySearch\\:\\:\\$companies\\.$#"
			count: 1
			path: app/Livewire/CompanySearch.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\FailedLoginSearch\\:\\:\\$failedLogins\\.$#"
			count: 1
			path: app/Livewire/FailedLoginSearch.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\ForumCategoryTopicSearch\\:\\:\\$topics\\.$#"
			count: 1
			path: app/Livewire/ForumCategoryTopicSearch.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\ForumTopicSearch\\:\\:\\$topics\\.$#"
			count: 1
			path: app/Livewire/ForumTopicSearch.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\InviteLogSearch\\:\\:\\$invites\\.$#"
			count: 1
			path: app/Livewire/InviteLogSearch.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\LaravelLogViewer\\:\\:\\$entries\\.$#"
			count: 1
			path: app/Livewire/LaravelLogViewer.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\LaravelLogViewer\\:\\:\\$logFiles\\.$#"
			count: 2
			path: app/Livewire/LaravelLogViewer.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\MissingMediaSearch\\:\\:\\$medias\\.$#"
			count: 1
			path: app/Livewire/MissingMediaSearch.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\MissingMediaSearch\\:\\:\\$types\\.$#"
			count: 1
			path: app/Livewire/MissingMediaSearch.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\NetworkSearch\\:\\:\\$networks\\.$#"
			count: 1
			path: app/Livewire/NetworkSearch.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\NoteSearch\\:\\:\\$notes\\.$#"
			count: 1
			path: app/Livewire/NoteSearch.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\NotificationSearch\\:\\:\\$notifications\\.$#"
			count: 1
			path: app/Livewire/NotificationSearch.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\PeerSearch\\:\\:\\$peers\\.$#"
			count: 1
			path: app/Livewire/PeerSearch.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\PersonCredit\\:\\:\\$actedCount\\.$#"
			count: 2
			path: app/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\PersonCredit\\:\\:\\$artDirectedCount\\.$#"
			count: 2
			path: app/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\PersonCredit\\:\\:\\$cinematographedCount\\.$#"
			count: 2
			path: app/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\PersonCredit\\:\\:\\$composedCount\\.$#"
			count: 2
			path: app/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\PersonCredit\\:\\:\\$createdCount\\.$#"
			count: 2
			path: app/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\PersonCredit\\:\\:\\$directedCount\\.$#"
			count: 2
			path: app/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\PersonCredit\\:\\:\\$editedCount\\.$#"
			count: 2
			path: app/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\PersonCredit\\:\\:\\$medias\\.$#"
			count: 1
			path: app/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\PersonCredit\\:\\:\\$personalFreeleech\\.$#"
			count: 1
			path: app/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\PersonCredit\\:\\:\\$producedCount\\.$#"
			count: 2
			path: app/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\PersonCredit\\:\\:\\$productionDesignedCount\\.$#"
			count: 2
			path: app/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\PersonCredit\\:\\:\\$writtenCount\\.$#"
			count: 2
			path: app/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Movie\\:\\:\\$category_id\\.$#"
			count: 1
			path: app/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Movie\\:\\:\\$meta\\.$#"
			count: 1
			path: app/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Tv\\:\\:\\$category_id\\.$#"
			count: 1
			path: app/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Tv\\:\\:\\$meta\\.$#"
			count: 1
			path: app/Livewire/PersonCredit.php

		-
			message: "#^Property App\\\\Models\\\\Movie\\:\\:\\$torrents is not writable\\.$#"
			count: 1
			path: app/Livewire/PersonCredit.php

		-
			message: "#^Property App\\\\Models\\\\Tv\\:\\:\\$torrents is not writable\\.$#"
			count: 1
			path: app/Livewire/PersonCredit.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\PersonSearch\\:\\:\\$persons\\.$#"
			count: 1
			path: app/Livewire/PersonSearch.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\PostSearch\\:\\:\\$posts\\.$#"
			count: 1
			path: app/Livewire/PostSearch.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\SimilarTorrent\\:\\:\\$personalFreeleech\\.$#"
			count: 1
			path: app/Livewire/SimilarTorrent.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\SimilarTorrent\\:\\:\\$torrents\\.$#"
			count: 3
			path: app/Livewire/SimilarTorrent.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\SubscribedForum\\:\\:\\$forums\\.$#"
			count: 1
			path: app/Livewire/SubscribedForum.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\SubscribedTopic\\:\\:\\$topics\\.$#"
			count: 1
			path: app/Livewire/SubscribedTopic.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\SubtitleSearch\\:\\:\\$subtitles\\.$#"
			count: 1
			path: app/Livewire/SubtitleSearch.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\Top10\\:\\:\\$personalFreeleech\\.$#"
			count: 1
			path: app/Livewire/Top10.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\Top10\\:\\:\\$torrentsAll\\.$#"
			count: 1
			path: app/Livewire/Top10.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\Top10\\:\\:\\$torrentsDay\\.$#"
			count: 1
			path: app/Livewire/Top10.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\Top10\\:\\:\\$torrentsMonth\\.$#"
			count: 1
			path: app/Livewire/Top10.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\Top10\\:\\:\\$torrentsWeek\\.$#"
			count: 1
			path: app/Livewire/Top10.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\Top10\\:\\:\\$torrentsYear\\.$#"
			count: 1
			path: app/Livewire/Top10.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\TopicPostSearch\\:\\:\\$posts\\.$#"
			count: 1
			path: app/Livewire/TopicPostSearch.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\TopicSearch\\:\\:\\$forumCategories\\.$#"
			count: 1
			path: app/Livewire/TopicSearch.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\TopicSearch\\:\\:\\$topics\\.$#"
			count: 1
			path: app/Livewire/TopicSearch.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\TorrentRequestSearch\\:\\:\\$torrentRequestBountyStat\\.$#"
			count: 1
			path: app/Livewire/TorrentRequestSearch.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\TorrentRequestSearch\\:\\:\\$torrentRequestStat\\.$#"
			count: 1
			path: app/Livewire/TorrentRequestSearch.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\TorrentRequestSearch\\:\\:\\$torrentRequests\\.$#"
			count: 1
			path: app/Livewire/TorrentRequestSearch.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\TorrentSearch\\:\\:\\$groupedPosters\\.$#"
			count: 1
			path: app/Livewire/TorrentSearch.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\TorrentSearch\\:\\:\\$groupedTorrents\\.$#"
			count: 1
			path: app/Livewire/TorrentSearch.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\TorrentSearch\\:\\:\\$personalFreeleech\\.$#"
			count: 1
			path: app/Livewire/TorrentSearch.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\TorrentSearch\\:\\:\\$torrents\\.$#"
			count: 1
			path: app/Livewire/TorrentSearch.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Movie\\|Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\), mixed\\>\\:\\:\\$category_id\\.$#"
			count: 1
			path: app/Livewire/TorrentSearch.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Movie\\|Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\), mixed\\>\\:\\:\\$meta\\.$#"
			count: 1
			path: app/Livewire/TorrentSearch.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Tv\\|Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\), mixed\\>\\:\\:\\$category_id\\.$#"
			count: 1
			path: app/Livewire/TorrentSearch.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\Tv\\|Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\), mixed\\>\\:\\:\\$meta\\.$#"
			count: 1
			path: app/Livewire/TorrentSearch.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:ofName\\(\\)\\.$#"
			count: 1
			path: app/Livewire/TorrentSearch.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\TvSearch\\:\\:\\$shows\\.$#"
			count: 1
			path: app/Livewire/TvSearch.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\UserNotes\\:\\:\\$notes\\.$#"
			count: 1
			path: app/Livewire/UserNotes.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\UserResurrections\\:\\:\\$resurrections\\.$#"
			count: 1
			path: app/Livewire/UserResurrections.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\UserSearch\\:\\:\\$users\\.$#"
			count: 1
			path: app/Livewire/UserSearch.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\UserTorrents\\:\\:\\$history\\.$#"
			count: 1
			path: app/Livewire/UserTorrents.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\UserUploads\\:\\:\\$uploads\\.$#"
			count: 1
			path: app/Livewire/UserUploads.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\WarningLogSearch\\:\\:\\$warnings\\.$#"
			count: 1
			path: app/Livewire/WarningLogSearch.php

		-
			message: "#^Access to an undefined property App\\\\Livewire\\\\WatchlistSearch\\:\\:\\$users\\.$#"
			count: 1
			path: app/Livewire/WatchlistSearch.php

		-
			message: "#^Method App\\\\Providers\\\\CacheUserProvider\\:\\:retrieveByToken\\(\\) should return Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable\\|null but empty return statement found\\.$#"
			count: 1
			path: app/Providers/CacheUserProvider.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: app/Repositories/ChatRepository.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 1
			path: routes/console.php
