// Web Font Components
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,700|Ubuntu');

// Vendor components
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "vendor/font-awesome";
@import "~sweetalert2/src/sweetalert2";
@import "../js/wysibb/theme/default/wbbtheme.css";

// UNIT3D components
@import "variables";
@import "nav/nav";
@import "main/main";
@import "main/aboutus";
@import "chat/chatbox";
@import "main/tooltips";
