// Web Font Components
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,700|Ubuntu');

// Vendor components
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'vendor/font-awesome';
@import '~sweetalert2/src/sweetalert2';
@import 'vendor/virtual-select';
@import 'vendor/alpinejs';

// Base
@import 'base/typography';

// Components
@import 'variables';
@import 'main/main';
@import 'main/aboutus';
@import 'chat/chatbox';
@import 'main/tooltips';
@import 'components/achievement';
@import 'components/article-preview';
@import 'components/bbcode-input';
@import 'components/comment';
@import 'components/comparison';
@import 'components/data-table';
@import 'components/dialog';
@import 'components/featured-pane';
@import 'components/form/button';
@import 'components/form/checkbox';
@import 'components/form/fieldset.scss';
@import 'components/form/file';
@import 'components/form/form-group';
@import 'components/form/form';
@import 'components/form/label';
@import 'components/form/legend';
@import 'components/form/meter.scss';
@import 'components/form/radio';
@import 'components/form/select';
@import 'components/form/text';
@import 'components/form/textarea';
@import 'components/forum/post';
@import 'components/forum/subforum-listing';
@import 'components/forum/topic-listing';
@import 'components/forum/topic-tag';
@import 'components/key-value';
@import 'components/pagination';
@import 'components/panel';
@import 'components/playlist';
@import 'components/quick_search';
@import 'components/torrent-card';
@import 'components/user-active';
@import 'components/user-card';
@import 'components/user-tag';
@import 'components/user-torrents';
@import 'components/user-uploads';

// Layout
@import 'layout/header';
@import 'layout/main';
@import 'layout/secondary-nav';
@import 'layout/top_nav';

// Pages
@import 'pages/error';
@import 'pages/home';
@import 'pages/missing';
@import 'pages/notifications';
@import 'pages/staff';
@import 'pages/stats';
@import 'pages/torrents';
