// Web Font Components
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,700|Ubuntu');

// Vendor components
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~keen-slider/keen-slider';
@import 'vendor/font-awesome';
@import '~sweetalert2/src/sweetalert2';
@import '../js/wysibb/theme/default/wbbtheme.css';
@import 'vendor/virtual-select';
@import 'vendor/alpinejs';

// UNIT3D components
@import 'variables';
@import 'main/main';
@import 'main/aboutus';
@import 'chat/chatbox';
@import 'main/tooltips';
@import 'base/typography';
@import 'components/achievement';
@import 'components/article-preview';
@import 'components/bbcode-input';
@import 'components/chip';
@import 'components/comparison';
@import 'components/data-table';
@import 'components/dialog';
@import 'components/form/button';
@import 'components/form/checkbox';
@import 'components/form/fieldset.scss';
@import 'components/form/file';
@import 'components/form/form-group';
@import 'components/form/form';
@import 'components/form/label';
@import 'components/form/legend';
@import 'components/form/meter.scss';
@import 'components/form/radio';
@import 'components/form/select';
@import 'components/form/text';
@import 'components/form/textarea';
@import 'components/key-value';
@import 'components/pagination';
@import 'components/panel';
@import 'components/quick_search';
@import 'components/user-active';
@import 'components/user-torrents';
@import 'components/user-uploads';
@import 'layout/header';
@import 'layout/main';
@import 'layout/secondary-nav';
@import 'layout/top_nav';
@import 'pages/error';
@import 'pages/home';
@import 'pages/staff';
@import 'pages/torrents';
