// Vendor components
@import 'vendor/alpinejs';
@import 'vendor/font-awesome';
@import 'vendor/virtual-select';
@import '~sweetalert2/src/sweetalert2';

// Base
@import 'base/normalize';
@import 'base/typography';
@import 'base/reset';
@import 'base/scrollbar';

// Layout
@import 'layout/footer';
@import 'layout/header';
@import 'layout/main';
@import 'layout/secondary-nav';
@import 'layout/top_nav';

// Components
@import 'components/achievement';
@import 'components/alert';
@import 'components/article-preview';
@import 'components/bbcode-input';
@import 'components/bbcode-rendered';
@import 'components/chat/chatbox';
@import 'components/chat/media-queries';
@import 'components/collection-card';
@import 'components/comment';
@import 'components/comparison';
@import 'components/data-table';
@import 'components/dialog';
@import 'components/emoji';
@import 'components/featured-pane';
@import 'components/form/button';
@import 'components/form/checkbox';
@import 'components/form/fieldset.scss';
@import 'components/form/file';
@import 'components/form/form';
@import 'components/form/form-group';
@import 'components/form/label';
@import 'components/form/legend';
@import 'components/form/meter.scss';
@import 'components/form/radio';
@import 'components/form/select';
@import 'components/form/text';
@import 'components/form/textarea';
@import 'components/forum/post';
@import 'components/forum/subforum-listing';
@import 'components/forum/topic-listing';
@import 'components/forum/topic-tag';
@import 'components/key-value';
@import 'components/mediahub-card';
@import 'components/mediainfo';
@import 'components/meta';
@import 'components/pagination';
@import 'components/panel';
@import 'components/playlist';
@import 'components/quick_search';
@import 'components/swal';
@import 'components/tooltips';
@import 'components/torrent-card';
@import 'components/user-active';
@import 'components/user-card';
@import 'components/user-resurrections';
@import 'components/user-stat-card';
@import 'components/user-tag';
@import 'components/user-torrents';
@import 'components/user-uploads';

// Pages
@import 'pages/error';
@import 'pages/home';
@import 'pages/missing';
@import 'pages/notifications';
@import 'pages/overview';
@import 'pages/request';
@import 'pages/staff';
@import 'pages/stats';
@import 'pages/top10';
@import 'pages/torrent';
@import 'pages/torrents';
@import 'pages/user';

// Shame
@import 'shame';
