.joypixels {
  height: 3ex;
  width: 3.1ex;
  min-height: 20px;
  min-width: 20px;
  margin: -0.2ex 0.15em 0.2ex;
  line-height: normal;
  font-size: inherit;
  display: inline-block;
}

img.joypixels {
  width: auto;
}
