.joypixels {
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  margin: -0.2ex 0.15em 0.2ex;
  line-height: normal;
  font-size: inherit;
  display: inline-block;
  vertical-align: sub;
}

img.joypixels {
  width: auto;
}
