.playlist__torrent-container {
    display: flex;
    align-items: flex-start;
}

.playlist__torrents {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    grid-gap: 1rem;
}

.playlist__backdrop {
    background: rgba(0, 0, 0, 0.65);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.playlist__backdrop-filter {
    padding: 40px;
    background: #0008;
    backdrop-filter: blur(5px);
    display: grid;
    grid-template: 'avatar author' 'description description' / auto 1fr;
    align-items: center;
    gap: 1.5rem;
    color: #fff;
}

.playlist__author-link {
    grid-area: avatar;
}

.playlist__author-avatar {
    width: 50px;
    border-radius: 50%;
}

.playlist__author {
    grid-area: author;
    font-weight: bold;
}

.playlist__description {
    grid-area: description;
}

.playlists {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-auto-flow: dense;
    grid-gap: 2rem;
}

.playlists__playlist {
    display: grid;
    grid-template-areas: 'image' 'author' 'link' 'titles';
    grid-template-rows: 145px auto 1fr auto;
    border: var(--playlist-card-border);
    background-color: var(--playlist-card-bg);
    box-shadow: var(--playlist-card-box-shadow);
    border-radius: var(--playlist-card-border-radius);
    overflow: hidden;
}

.playlists__playlist-image {
    grid-area: image;
    width: 100%;
    object-fit: cover;
}

.playlists__playlist-image--none {
    grid-area: image;
    width: 100%;
    background-color: var(--playlist-card-missing-image-bg);
    box-shadow: none !important;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
}

.playlists__playlist-image--none::before {
    line-height: 145px;
    font-size: 100px;
    font-family: 'Font Awesome 5 Pro';
    text-align: center;
    color: var(--playlist-card-missing-image-fg);
    content: '\f03e';
}

.playlists__playlist-avatar {
    width: 28px;
    border-radius: 50%;
}

.playlists__playlist-author {
    grid-area: author;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    text-align: center;
    font-size: 14px;
    padding: 20px 8px;
}

.playlists__playlist-link {
    grid-area: link;
    text-align: center;
}

.playlists__playlist-name {
    margin: 0;
    padding: 8px;
    font-size: 18px;
    color: var(--playlist-card-fg);
    font-weight: bold;
}

.playlists__playlist-link-titles {
    grid-area: titles;
    text-align: center;
}

.playlists__playlist-titles {
    font-size: 13px;
    padding: 20px 8px;
    margin: 0;
    color: var(--playlist-card-fg);
}
