.user-tag,
.user-tag__link {
    font-family: inherit;
    display: inline-flex;
    white-space: nowrap;
    align-items: baseline;
}

.user-tag__link::before {
    margin-right: 0.5ch;
}

.user-tag__link ~ i,
.user-tag__link ~ a {
    margin-left: 0.5ch;
}
