html, body {
    min-height: 100vh; /* Used for sticky footer */
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 100vh;
    padding-top: 20px;
}

.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    gap: 4rem;
}

.footer__section-title {
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-image: linear-gradient(
                  90deg,
                  #4E342E 0%,
                  #4E342E 75%,
                  #2E7D32 75%,
                  #2E7D32 100%
  );
  font-weight: 400;
  font-size: 3.0rem;
  font-family: 'HelveticaNeueLT Pro 35 Th', sans-serif;
  text-transform: lowercase;
  transition: background-image 0.5s ease-in-out;
}

.footer__section-list {
    list-style-type: none;
    padding-left: 6px;
    font-size: 15px;
}

.footer__stats {
    font-size: 14px;
}

.footer__icon {
    color: rgb(57, 96, 23);
}

.footer button {
    color: inherit;
}
