:root {
    --message-bubble-bg: white;
    --message-bubble-fg: currentColor;

    --achievement-fg: inherit;
    --achievement-bg: #e7e7e7;
    --achievement-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    --achievement-progress-bg: #8fbcbb;

    --article-card-bg: #e7e7e7;
    --article-card-fg: inherit;
    --article-card-head-fg: inherit;
    --article-card-time-fg: inherit;
    --article-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);

    --bbcode-input-header-bg: #e2e2e2;
    --bbcode-input-body-bg: white;
    --bbcode-input-border: 1px solid #555;
    --bbcode-input-border-radius: 5px;

    --bbcode-rendered-fg-default: #24292f;
    --bbcode-rendered-fg-muted: #57606a;
    --bbcode-rendered-fg-subtle: #667788;
    --bbcode-rendered-canvas-default: transparent;
    --bbcode-rendered-canvas-subtle: #ececec;
    --bbcode-rendered-border-default: #bebebe;
    --bbcode-rendered-border-muted: #babbbd;
    --bbcode-rendered-neutral-muted: #aeb3b833;
    --bbcode-rendered-accent-fg: #0969da;
    --bbcode-rendered-accent-emphasis: #0969da;
    --bbcode-rendered-attention-subtle: #7289da;
    --bbcode-rendered-danger-fg: #ff141ccc;
    --bbcode-rendered-quote-bg: #6662;
    --bbcode-rendered-quote-border: #707070;

    --breadcrumb-fg: #777;
    --breadcrumb-active-fg: #aaa;
    --breadcrumb-hover-fg: #ddd;
    --breadcrumb-inactive-text-decoration: none;

    --button-filled-bg: #5cb579 linear-gradient(to bottom right, #0ba360, #2bb673);
    --button-filled-border: none;
    --button-filled-border-radius: 9999px;
    --button-filled-fg: white;

    --button-outlined-bg: inherit;
    --button-outlined-border: 1px solid #555;
    --button-outlined-border-radius: 9999px;
    --button-outlined-fg: currentColor;

    --button-text-bg: inherit;
    --button-text-border: none;
    --button-text-border-radius: 5px;
    --button-text-fg: currentColor;

    --comparison-divider-fg: #000;
    --comparison-button-fg: #000;

    --data-table-fg: inherit;
    --data-table-th-bg: #efefef;
    --data-table-thead-border: 1px solid rgba(14, 21, 34, 0.25);
    --data-table-tr-border: 1px solid #ddd;
    --data-table-tr-even-bg: #efefef;
    --data-table-tr-hover-bg: #d6d6d6;
    --data-table-tr-odd-bg: #e2e2e2;
    --data-table-tfoot-border: 3px solid rgba(14, 21, 34, 0.25);

    --dialog-bg: #e2e2e2;
    --dialog-border: 1px solid #ddd;
    --dialog-border-radius: 10px;
    --dialog-box-shadow: 0 5px 5px rgba(93, 93, 93, 0.83);
    --dialog-fg: inherit;
    --dialog-head-bg: #373d43;
    --dialog-head-fg: #fff;

    --fieldset-bg: inherit;
    --fieldset-fg: #444;
    --fieldset-border-radius: 5px;
    --fieldset-border: 1px solid #555;

    --icon-button-bg: inherit;
    --icon-button-border: none;
    --icon-button-border-radius: 9999px;
    --icon-button-fg: currentColor;

    --icon-button-filled-bg: #5cb579 linear-gradient(to bottom right, #0ba360, #2bb673);
    --icon-button-filled-fg: white;
    --icon-button-filled-border: none;

    --input-text-border: 1px solid #555;
    --input-text-border-active: 2px solid #2195f3;
    --input-text-border-error: 1px solid #ba1b1b;
    --input-text-border-hover: 2px solid #999;
    --input-text-border-radius: 5px;
    --input-text-fg: #444;
    --input-text-padding: 12px;
    --input-text-padding-active: 11px;
    --input-text-padding-hover: 11px;

    --key-value-even-bg: #e2e2e2;
    --key-value-fg: inherit;
    --key-value-odd-bg: #e2e2e2;
    --key-value-padding: 10px;

    --label-bg: #e2e2e2;
    --label-fg: #555;
    --label-fg-active: #2195f3;
    --label-fg-error: #ba1b1b;
    --label-fg-hover: #999;

    --legend-fg: #555;
    --legend-bg: transparent;
    --legend-border: none;
    --legend-border-radius: 0;

    --meta-backdrop-filter:  brightness(150%) contrast(30%);
    --meta-dropdown-backdrop-filter:  brightness(130%) blur(10px);
    --meta-dropdown-bg: #4449;
    --meta-dropdown-backdrop-filter-hover:  brightness(130%) blur(10px);
    --meta-dropdown-hover-bg: rgba(255,255,255,0.1);
    --meta-dropdown-fg: #222;
    --meta-dropdown-hover-fg: #000;
    --meta-description-fg: #111;
    --meta-id-tag-fg: #111;
    --meta-id-tag-bg: transparent;
    --meta-id-tag-hover-fg: #000;
    --meta-id-tag-hover-bg: rgba(255,255,255,0.4);
    --meta-chips-heading-fg: #2b2b2b;
    --meta-chip-backdrop-filter-hover:  brightness(130%) blur(10px);
    --meta-chip-hover-bg: rgba(255,255,255,0.4);
    --meta-chip-icon-fg: #1f1f1f;
    --meta-chip-icon-hover-bg: #fff;
    --meta-chip-icon-bg: #e2e2e2;
    --meta-chip-name-fg: #111;
    --meta-chip-value-fg: #333;
    --meta-chip-value-hover-fg: #000;

    --meter-fg: #d6d6d6;
    --meter-bg: #bbb;

    --notification-read: transparent;
    --notification-unread: #2bb666;

    --paginate-bg: #373d43;
    --paginate-bg-hover: #4f5964;
    --paginate-bg-current: #454d55;
    --paginate-fg: #ddd;
    --paginate-fg-disabled: #999;
    --paginate-divider: #888;

    --panel-action-fg: #aaa;
    --panel-border: 1px solid #ddd;
    --panel-bg: #e2e2e2;
    --panel-fg: inherit;
    --panel-box-shadow: 0 5px 5px rgba(93, 93, 93, 0.83);
    --panel-border-radius: 0;
    --panel-head-bg: #373d43;
    --panel-head-fg: #fff;

    --post-bg: #e9e9e9;
    --post-fg: #212121;
    --post-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
    --post-head-fg: var(--panel-fg);
    --post-head-bg: none;
    --post-toolbar-bg: #989898;
    --post-toolbar-fg: #e5e5e5;
    --post-toolbar-hover-bg: #777;
    --post-toolbar-hover-fg: inherit;
    --post-like-fg: green;
    --post-dislike-fg: red;
    --post-aside-bg: #d6d6d6;
    --post-aside-fg: #696969;
    --post-footer-fg: var(--panel-fg);

    --quick-search-bg: #444;
    --quick-search-fg: #b6b6b6;
    --quick-search-border: 1px solid transparent;
    --quick-search-border-radius: 16px;
    --quick-search-box-shadow: 0 4px 6px rgba(32, 33, 36, 0.28);
    --quick-search-selector-fg: #b6b6b6;
    --quick-search-selector-hover-bg: #4b4b4b;
    --quick-search-selector-hover-fg: #ddd;
    --quick-search-selector-selected-bg: #555;
    --quick-search-selector-selected-fg: #ddd;
    --quick-search-result-bg: #444;
    --quick-search-result-fg: #ccc;
    --quick-search-result-hover-bg: #555;
    --quick-search-result-hover-fg: #ccc;
    --quick-search-result-image-border-radius: 5px;
    --quick-search-result-year-fg: #888;
    --quick-search-result-border: none;

    --scrollbar-color: #0004;

    --secondary-nav-bg: #292929;
    --secondary-nav-tab-fg: #aaa;
    --secondary-nav-tab-bg: inherit;
    --secondary-nav-tab-active-text-decoration: underline #777 2px;
    --secondary-nav-tab-hover-fg: #ddd;
    --secondary-nav-tab-hover-bg: transparent;
    --secondary-nav-tab-hover-text-decoration: underline #777 2px;
    --secondary-nav-tab-menu-bg: #333;
    --secondary-nav-tab-menu-fg: inherit;
    --secondary-nav-tab-menu-border: none;
    --secondary-nav-tab-menu-border-radius: 6px;
    --secondary-nav-tab-menu-box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2);

    --select-border: 1px solid #555;
    --select-border-active: 2px solid #2195f3;
    --select-border-error: 1px solid #ba1b1b;
    --select-border-hover: 2px solid #999;
    --select-border-radius: 5px;
    --select-fg: #444;
    --select-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='%23444' d='M6 8l-1 1l5 5l5-5l-1-1l-4 4l-4-4z'/></svg>");
    --select-padding: 11px 23px 11px 11px;
    --select-padding-active: 10px 22px 10px 10px;
    --select-padding-hover: 10px 22px 10px 10px;

    --subforum-listing-odd-bg: #ddd;
    --subforum-listing-even-bg: transparent;
    --subforum-listing-border: none;

    --textarea-border: 1px solid #555;
    --textarea-border-active: 2px solid #2196f3;
    --textarea-border-error: 1px solid #ba1b1b;
    --textarea-border-hover: 2px solid #999;
    --textarea-border-radius: 5px;
    --textarea-fg: #444;
    --textarea-padding: 12px;
    --textarea-padding-active: 11px;
    --textarea-padding-hover: 11px;

    --top-nav-bg: #363636;
    --top-nav-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    --top-nav-dropdown-fg: #bbb;
    --top-nav-dropdown-hover-fg: #eee;
    --top-nav-dropdown-hover-bg: #404040;
    --top-nav-dropdown-hover-text-decoration: none;
    --top-nav-dropdown-menu-bg: #3c3c3c;
    --top-nav-dropdown-menu-border: none;
    --top-nav-dropdown-menu-border-radius: 6px;
    --top-nav-dropdown-menu-box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2);
    --top-nav-dropdown-menu-item-fg: #bbb;
    --top-nav-dropdown-menu-item-bg: transparent;
    --top-nav-dropdown-menu-item-hover-fg: inherit;
    --top-nav-dropdown-menu-item-hover-bg: #424242;
    --top-nav-dropdown-menu-item-hover-text-decoration: none;
    --top-nav-dropdown-menu-item-icon-fg: #ccc;
    --top-nav-dropdown-menu-item-icon-bg: #484848;
    --top-nav-ratio-bar-fg: #ddd;
    --top-nav-icon-bar-icon-bg: #424242;
    --top-nav-icon-bar-icon-fg: #bbb;
    --top-nav-icon-bar-icon-border-radius: 50%;
    --top-nav-icon-bar-icon-hover-bg: #424242;
    --top-nav-icon-bar-icon-hover-fg: #b6b6b6;
    --top-nav-stats-fg: #999;
    --top-nav-toggle-fg: #999;

    --torrent-card-bg: #e2e2e2;
    --torrent-card-fg: inherit;
    --torrent-card-border: 1px solid #ddd;
    --torrent-card-head-bg: #373d43;
    --torrent-card-head-fg: #fff;
    --torrent-card-link-fg: #3b3b3b;
    --torrent-card-genre-fg: #444;

    --torrent-group-bg: #f5f5f5;
    --torrent-group-header-bg: #d3d3d3;
    --torrent-group-text: #555;
    --torrent-group-text-muted: #555;
    --torrent-group-table-stripe: rgba(0, 0, 0, 0.05);
    --torrent-group-hover-brightness-emphasis: 1.13;
    --torrent-group-chip-border: #eee;

    --torrent-row-fg: #2a2a2a;
    --torrent-row-visited-fg: #8768e0;
    --torrent-row-sticky-bg: #dff0d8;
    --torrent-row-format-fg: #222;
    --torrent-row-format-bg: #cdcdcd;
    --torrent-row-buttons-fg: currentColor;
    --torrent-row-seeders-fg: #3fb618;
    --torrent-row-leechers-fg: #ff0039;
    --torrent-row-completed-fg: #42a5f5;
    --torrent-row-thanks-fg: #f92672;
    --torrent-row-comments-fg: #3fb618;
    --torrent-row-internal-fg: #baaf94;
    --torrent-row-personal-fg: #865be9;
    --torrent-row-stream-optimized-fg: #ff0039;
    --torrent-row-featured-fg: #f92672;
    --torrent-row-freeleech-fg: #ffb800;
    --torrent-row-double-upload-fg: #4cb828;
    --torrent-row-sticky-fg: #111111;
    --torrent-row-highspeed-fg: #ff0039;
    --torrent-row-sd-fg: #ff7518;
    --torrent-row-bumped-fg: #f9ba13;

    --torrent-tag-fg: #111;
    --torrent-tag-bg: transparent;
    --torrent-tag-hover-fg: #000;
    --torrent-tag-hover-bg: rgba(255,255,255,0.4);
}

.label,
sub,
sup {
    vertical-align: baseline;
}

.fa {
    -moz-osx-font-smoothing: grayscale;
}


html {
    -webkit-tap-highlight-color: transparent;
}

body,
figure {
    margin: 0;
    height: auto;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: auto;
    font-size: 10px;
}

body {
    font-size: 16px;
    line-height: 1.46666667;
    color: #696969;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

b,
strong {
    font-weight: 700;
}

h1 {
    margin: 0.67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
    vertical-align: middle;
}

svg:not(:root) {
    overflow: hidden;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre,
textarea {
    overflow: auto;
}

code,
kbd,
pre {
    font-size: 1em;
}

button,
input,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input[type='checkbox'],
input[type='radio'] {
    box-sizing: border-box;
    padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    height: auto;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

@media print {
    blockquote,
    img,
    pre,
    tr {
        page-break-inside: avoid;
    }
    *,
    :after,
    :before {
        background: 0 0 !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: ' (' attr(href) ')';
    }
    abbr[title]:after {
        content: ' (' attr(title) ')';
    }
    blockquote,
    pre {
        border: 1px solid #999;
    }
    thead {
        display: table-header-group;
    }
    img {
        max-width: 100% !important;
    }
    h2,
    h3,
    p {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
    .label {
        border: 1px solid #000;
    }
    .table {
        border-collapse: collapse !important;
    }
    .table td,
    .table th {
        background-color: #fff !important;
    }
}


body {
    background-color: #cfcfcf;
}

*,
:after,
:before {
    box-sizing: border-box;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: #1771cb;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #375a7f;
    text-decoration: none;
}

a:focus {
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}

.img-circle {
    border-radius: 50%;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
}

hr {
    margin-top: 24px;
    margin-bottom: 24px;
    border: 0;
    border-top: 1px solid #ddd;
}

[role='button'] {
    cursor: pointer;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    line-height: 1.1;
    color: inherit;
}

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
    font-weight: 400;
    line-height: 1;
    color: #999;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 24px;
    margin-bottom: 12px;
}

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small {
    font-size: 65%;
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
    font-size: 75%;
}

p {
    margin: 0;
}

dt,
kbd kbd,
label {
    font-weight: 700;
}

@media (min-width: 768px) {
}

.small,
small {
    font-size: 82%;
}

.mark,
mark {
    background-color: #fcf8e3;
    padding: 0.2em;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-muted {
    color: #333;
}

.text-success {
    color: #00bc63;
}

a.text-success:focus,
a.text-success:hover {
    color: #008948;
}

.text-bright {
    color: #222222;
}

a.text-bright:focus,
a.text-bright:hover {
    color: #333333;
}

.text-info {
    color: #3498db;
}

a.text-info:focus,
a.text-info:hover {
    color: #217dbb;
}

.text-warning {
    color: #f39c12;
}

a.text-warning:focus,
a.text-warning:hover {
    color: #c87f0a;
}

.text-danger {
    color: #e74c3c;
}

a.text-danger:focus,
a.text-danger:hover {
    color: #d62c1a;
}

pre code,
table {
    background-color: transparent;
}

dl,
ol,
ul {
    margin-top: 0;
}

blockquote ol:last-child,
blockquote p:last-child,
blockquote ul:last-child,
ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0;
}

address,
dl {
    margin-bottom: 24px;
}

ol,
ul {
    margin-bottom: 12px;
}

dd,
dt {
    line-height: 1.46666667;
}

dd {
    margin-left: 0;
}

abbr[data-original-title],
abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #999;
}

blockquote .small,
blockquote footer,
blockquote small {
    display: block;
    font-size: 80%;
    line-height: 1.46666667;
    color: #6f6f6f;
}

pre {
    color: #333;
}

legend {
    color: #fff;
}

blockquote .small:before,
blockquote footer:before,
blockquote small:before {
    content: '\2014 \00A0';
}


blockquote.pull-right {
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid #c4c4c4;
    border-left: 0;
    text-align: right;
}

code,
kbd {
    padding: 2px 4px;
    border-radius: 0;
}


th {
    text-align: left;
}


blockquote.pull-right .small:before,
blockquote.pull-right footer:before,
blockquote.pull-right small:before {
    content: '';
}


blockquote.pull-right .small:after,
blockquote.pull-right footer:after,
blockquote.pull-right small:after {
    content: '\00A0 \2014';
}

address {
    font-style: normal;
    line-height: 1.46666667;
}

code,
kbd,
pre {
    font-family: 'Roboto Mono', Menlo, Monaco, Consolas, 'Courier New', monospace;
    white-space: pre-wrap;
}

code {
    color: #c7254e;
    background-color: #f9f2f4;
}

kbd {
    font-size: 90%;
    color: #fff;
    background-color: #333;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}

kbd kbd {
    padding: 0;
    font-size: 100%;
    box-shadow: none;
}

pre {
    display: block;
    padding: 11.5px;
    margin: 0 0 12px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 0;
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    border-radius: 0;
}

fieldset,
legend {
    padding: 0;
    border: 0;
}

fieldset {
    margin: 0;
    min-width: 0;
}

legend {
    display: block;
    width: 100%;
    margin-bottom: 24px;
    font-size: 25.5px;
    line-height: inherit;
    border-bottom: 1px solid #e5e5e5;
}

label {
    display: inline;
    margin-bottom: 0;
}

input[type='search'] {
    box-sizing: border-box;
    -webkit-appearance: none;
}

input[type='checkbox'],
input[type='radio'] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}

input[type='file'] {
    display: block;
}

input[type='range'] {
    display: block;
    width: 100%;
}

select[multiple],
select[size] {
    height: auto;
}

input[type='file']:focus,
input[type='checkbox']:focus,
input[type='radio']:focus {
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}

output {
    padding-top: 9px;
}

.checkbox,
.radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkbox label,
.radio label {
    min-height: 24px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}

.checkbox input[type='checkbox'],
.radio input[type='radio'] {
    position: absolute;
    margin-left: -20px;
    margin-top: 4px \9;
}

.checkbox + .checkbox,
.radio + .radio {
    margin-top: -5px;
}


.checkbox.disabled label,
.radio.disabled label,
fieldset[disabled] .checkbox label,
fieldset[disabled] .radio label,
fieldset[disabled] input[type='checkbox'],
fieldset[disabled] input[type='radio'],
input[type='checkbox'].disabled,
input[type='checkbox'][disabled],
input[type='radio'].disabled,
input[type='radio'][disabled] {
    cursor: not-allowed;
}

@media (min-width: 768px) {
}

.form-horizontal .checkbox,
.form-horizontal .radio {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 9px;
}

.form-horizontal .checkbox,
.form-horizontal .radio {
    min-height: 33px;
}

.open > a {
    outline: 0;
}

.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    border-bottom: 2px solid gray;
}

a.label:focus,
a.label:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.label:empty {
    display: none;
}

.alert {
    margin-bottom: 24px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 3px;
    border-bottom-width: 4px;
}

.alert h4 {
    margin-top: 0;
    color: inherit;
}

.alert > p,
.alert > ul {
    margin-bottom: 0;
}

.alert > p + p {
    margin-top: 5px;
}

.alert-dismissable {
    padding-right: 35px;
}

.alert-dismissable .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}

.modal {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.alert-info {
    background-color: #3498db;
    border-color: #2386c8;
    color: #fff;
}

.alert-info hr {
    border-top-color: #2077b2;
}

.alert-danger {
    background-color: #e74c3c;
    border-color: #e43725;
    color: #fff;
}

.alert-danger hr {
    border-top-color: #d62c1a;
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

.progress {
    overflow: hidden;
    height: 24px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.25);
}

.media {
    margin-top: 15px;
}

.media:first-child {
    margin-top: 0;
}

.media {
    zoom: 1;
    overflow: hidden;
}


.media > .pull-right {
    padding-left: 10px;
}


.media > .pull-left {
    padding-right: 10px;
}

.list-group {
    margin-bottom: 0;
    padding-left: 0;
}

.list-group-item-heading {
    margin-top: 0;
    margin-bottom: 5px;
}

.close {
    float: right;
    font-size: 25.5px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    filter: alpha(opacity=20);
}

.close:focus,
.close:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
}

button.close {
    padding: 0;
    cursor: pointer;
    background: 0;
    border: 0;
    -webkit-appearance: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.pre,
.word-break,
code,
pre {
    word-break: break-all;
}


.pre,
.word-break,
code,
pre {
    word-wrap: break-word;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.alert,
.list-group,
blockquote small {
    font-weight: 300;
}

@media (min-width: 768px) and (max-width: 991px) {
}

.h1,
h1 {
    font-size: 30px;
}

.h2,
h2 {
    font-size: 29px;
}

.h3,
h3 {
    font-size: 22px;
}

.h4,
h4 {
    font-size: 17px;
}

.h5,
.h6,
h5,
h6 {
    font-size: 15px;
}

cite {
    font-style: italic;
}

blockquote {
    border-left-width: 2px;
    font-size: 17px;
}

blockquote.pull-right {
    border-right-width: 1px;
}

blockquote small {
    font-size: 14px;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
    border-color: transparent;
}

.nav-tabs > li > a {
    background-color: #dcdcdc;
    color: #696969;
}

.list-group {
    font-size: 17px;
}

.close {
    opacity: 0.4;
    text-decoration: none;
}

.close:focus,
.close:hover {
    opacity: 1;
}

.alert {
    font-size: 17px;
}


.progress {
    height: auto;
    padding: 2px;
    margin-bottom: 4px;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    box-shadow: none;
}

.modal .close {
    color: #696969;
}

input[type='checkbox'],
input[type='radio'] {
    margin-top: 6px;
}

.pagination {
    margin: 4px 0;
    font-size: 14px;
}


.fa.pull-left {
    margin-right: 0.3em;
}

tbody > tr > td,
thead > tr > th {
    font-size: 15px;
}

.label {
    font-size: 14px;
}

.pre,
code,
pre {
    font-family: 'Roboto Mono', Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 12px;
    line-height: 1.46666667;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}

@media (min-width: 768px) {
    .container {
        width: auto;
    }
}

@media (min-width: 992px) {
    .container {
        width: auto;
    }
}

@media (min-width: 1200px) {
    .container {
        width: auto;
    }
}

@media (min-width: 1330px) {
    .container {
        width: 1300px;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

h1.title,
h2.title {
    font-size: 30px;
    margin-top: 4px;
    padding-bottom: 4px;
}

.content,
.sidebar {
    width: 100%;
}

.block {
    display: block;
    margin: 0 0 10px;
    padding: 20px 15px;
    border-radius: 15px;
    border: 1px solid #fff;
    background-color: #efefef;
    box-shadow: 0 5px 5px rgba(93, 93, 93, 0.83);
}

.joypixels,
.screenshots {
    display: inline-block;
}

th.torrents-icon {
    width: 34px;
}

i.torrent-icon {
    color: #325d88;
    font-size: 32px;
}

.joypixels {
    font-size: inherit;
}

img.torrent-poster-img-small {
    width: 53px;
    border-radius: 5px;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0 rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
}

.checked,
.checked i {
    display: inline-block;
}

.badge-extra,
.badge-user {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    vertical-align: middle;
    text-align: center;
    background-color: transparent;
    border-radius: 2px;
    margin-left: 2px;
    white-space: nowrap;
}

.badge-user {
    border: 1px solid #b6daf2;
    box-shadow: 0 5px 5px rgba(93, 93, 93, 0.2);
    border-radius: 5px;
}

.badge-extra {
    border: 1px solid rgba(186, 205, 225, 0.61);
    border-radius: 10px;
    background: rgba(76, 79, 80, 0.14);
}

.text-red {
    color: #ff0039;
}

.text-green {
    color: #3fb618;
}

.text-orange {
    color: #ff7518;
}

.text-blue {
    color: #2780e3;
}

.text-yellow {
    color: #d5d206;
}

.text-pink {
    color: #f92672;
}

.text-gold {
    color: #ffb800;
}

.text-purple {
    color: #9400d3;
}

.text-bold {
    font-weight: 700;
}

.checked i {
    font-family: 'Font Awesome\ 5 Pro', sans-serif;
}

.mb-0 {
    margin-bottom: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mb-5 {
    margin-bottom: 5px;
}

.button-holder {
    line-height: normal !important;
    display: table;
    width: 100%;
    margin: 0 0 5px 0 !important;
    padding: 0 !important;
}
.button-center {
    display: table-cell;
    width: 100%;
    text-align: center;
}
.button-left {
    display: table-cell;
    width: 50%;
    text-align: left;
}
.button-right {
    display: table-cell;
    width: 50%;
    text-align: right;
}
.button-right-small {
    display: table-cell;
    width: 30%;
    text-align: right;
}
.no-space {
    margin: 0 !important;
    padding: 0 !important;
    line-height: initial !important;
}
@media screen and (max-width: 768px) {
    .button-holder {
        display: block;
        width: 100%;
        text-align: center;
    }
    .button-left {
        display: block;
        width: 100%;
        text-align: center;
    }
    .button-right {
        display: block;
        width: 100%;
        text-align: center;
    }
}

.circle {
    border-radius: 100% !important;
}

.message {
    padding: 10px;
}

#subject {
    margin-top: 0;
    margin-bottom: 1em;
}

.likes {
    font-size: 17px;
    right: 0;
    top: 0;
    position: absolute;
    width: 180px;
    text-align: right;
    background: linear-gradient(to right, transparent, #d3d3d3 40%, #b8b8b8);

    .badge-extra {
        border: 0;
        background: transparent;
    }
}

.spoiler {
    margin: 0;
    padding: 0 15px;
    border: 1px solid #ddd;
    position: relative;
    background: #efefef;
}

.shoutbox {
    width: 100%;
    bottom: -1px;
    margin-bottom: 10px;
    border-radius: 0;
}

.shoutbox .list-group {
    height: 610px;
    overflow-y: auto;
}

.shoutbox .list-group-item-heading,
.shoutbox p {
    margin-top: 5px;
}

.panel-chat {
    border-color: #ddd;
}

.panel-chat .close {
    color: #fff;
    position: absolute;
    top: 8px;
    right: 16px;
}

.circle {
    background-color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: relative;
}

.circle:before {
    background-color: #fff;
    content: '';
    display: table;
    border-radius: 50%;
    position: absolute;
    animation: pulse 600ms ease-in-out infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
        width: 25px;
        height: 25px;
        left: 0;
        top: 0;
    }
    90% {
        opacity: 0.1;
        left: -10px;
        top: -10px;
        width: 45px;
        height: 45px;
    }
    100% {
        opacity: 0;
        width: 25px;
        height: 25px;
        left: 0;
        top: 0;
    }
}

/* Torrent Meta Style */

body.tvshow .movie-heading,
body.tvshow .movie-poster {
    margin-top: 0;
}

@media only screen and (max-width: 767px) {
}

.element {
    @extend .center-block !optional;
}

.align-left {
    text-align: left;
}

.clear {
    clear: both;
    display: block;
}

.align-left {
    text-align: left;
}


ul,
time {
    color: #777;
}

.topic .topic-posts {
    padding: 0 0 0.75em 0;
}

.topic .topic-posts .post {
    padding: 0;
}

.head {
    border-collapse: collapse;
    line-height: 26px;
    height: 30px;
    padding: 3px 0 0;
    color: #e5e5e5;
    font-weight: normal;
    text-align: center;
    box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.3) inset, 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    background: rgba(100, 100, 100, 0.6) repeat-x top;
}

::-moz-selection {
    background: #5677fc;
    color: #fff;
    text-shadow: none;
}

.button-holder {
    padding: 10px 15px;
}

.width-table {
    width: 100%;
    display: table;
}
.width-75 {
    width: 75%;
    display: table-cell;
    text-align: right;
}

@media screen and (max-width: 1440px) {
    .width-75 {
        width: 100%;
        display: block;
    }
}

.view {
    padding-top: 25px;
}

.item {
    text-decoration: none;
}

/* New meta styles */
.profile {
    min-height: 355px;
    display: inline-block;
}

.divider {
    border-top: 2px dashed #696969;
}

.emphasis {
    border-top: 4px solid transparent;
}

.emphasis:hover {
    border-top: 4px solid #1abc9c;
}

.emphasis h2 {
    margin-bottom: 0;
}

span.tags {
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
}

h4 {
    font-size: 16px;
}

h3 {
    font-size: 17px;
}

/* Footer Icon Style */
.footer-icon {
    color: rgba(102, 204, 153, 1);
}

/* Chat Box Censor Style */
.censor {
    filter: blur(3px);
}

.censor:hover {
    -webkit-animation: 0.25s linear forwards censor;
    -moz-animation: 0.25s linear forwards censor;
    -o-animation: 0.25s linear forwards censor;
    animation: 0.25s linear forwards censor;
}

@-webkit-keyframes censor {
    from {
        filter: blur(3px);
    }
    to {
        filter: blur(0px);
    }
}

@-moz-keyframes censor {
    from {
        filter: blur(3px);
    }
    to {
        filter: blur(0px);
    }
}

@-o-keyframes censor {
    from {
        filter: blur(3px);
    }
    to {
        filter: blur(0px);
    }
}

@keyframes censor {
    from {
        filter: blur(3px);
    }
    to {
        filter: blur(0px);
    }
}

/* Top Navigation Notification Style */
.notify {
    position: absolute;
    top: 30px;
    right: 11px;
}

.notify .point {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #0dffff;
    position: absolute;
    right: -2px;
    top: -18px;
}

@-moz-keyframes heartbit {
    0% {
        -moz-transform: scale(0);
        opacity: 0;
    }
    25% {
        -moz-transform: scale(0.1);
        opacity: 0.1;
    }
    50% {
        -moz-transform: scale(0.5);
        opacity: 0.3;
    }
    75% {
        -moz-transform: scale(0.8);
        opacity: 0.5;
    }
    100% {
        -moz-transform: scale(1);
        opacity: 0;
    }
}

@-webkit-keyframes heartbit {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    25% {
        -webkit-transform: scale(0.1);
        opacity: 0.1;
    }
    50% {
        -webkit-transform: scale(0.5);
        opacity: 0.3;
    }
    75% {
        -webkit-transform: scale(0.8);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

@-ms-keyframes heartbit {
    0%,
    100% {
        opacity: 0;
    }
    0% {
        -ms-transform: scale(0);
    }
    25% {
        -ms-transform: scale(0.1);
        opacity: 0.1;
    }
    50% {
        -ms-transform: scale(0.5);
        opacity: 0.3;
    }
    75% {
        -ms-transform: scale(0.8);
        opacity: 0.5;
    }
    100% {
        -ms-transform: scale(1);
    }
}

.fa-beat {
    -webkit-animation: fa-beat 1s infinite linear;
    animation: fa-beat 1s infinite linear;
}
@-webkit-keyframes fa-beat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes fa-beat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* Blocks */

div.blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

div.blocks a {
    display: block;
    box-sizing: border-box;
    width: 33.33%;
    height: 145px;
    padding: 0 10px;
    margin-bottom: 20px;
}

div.blocks a:first-child,
div.blocks a:nth-child(4n + 4) {
    padding-left: 0;
}

div.blocks a:nth-child(3n) {
    padding-right: 0;
}

div.blocks div.media_blocks {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.5s;
    background-color: #082629;
}

div.blocks div.media_blocks:hover {
    transform: scale(1.06);
    box-shadow: 0 20px 40px 8px rgba(0, 0, 0, 0.6);
}

div.blocks div.movie.media_blocks {
    background-color: #241828;
}

div.blocks div.tv.media_blocks {
    background-color: #20153b;
}

div.blocks div.collection.media_blocks {
    background-color: #383823;
}

div.blocks div.people.media_blocks {
    background-color: #011f2b;
}

div.blocks div.media_blocks h2 {
    width: 100%;
    margin: 0;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
}

div.blocks div.media_blocks span {
    width: 50px;
    height: 3px;
    display: block;
    border-radius: 3px;
    margin: 8px auto;
}

div.blocks div.media_blocks span {
    background-color: #01d277;
}

div.blocks div.media_blocks.movie span {
    background-color: #f82251;
}

div.blocks div.media_blocks.tv span {
    background-color: #865bfd;
}

div.blocks div.media_blocks.collection span {
    background-color: #f5a623;
}

/* Torrent Cards Design */
.card {
    background: #fff;
    border-radius: 0.3rem;
    box-shadow: 0 2px 10px 0 rgba(34, 36, 38, 0.05), 0 2px 20px 0 rgba(34, 36, 38, 0.05),
    0 2px 4px -8px rgba(34, 36, 38, 0.1);
    display: flex;
    flex-direction: column;
}

.card.is-torrent {
    background: #fff;
    box-shadow: 1px -1px 5px 3px rgba(0, 0, 0, 0.17);
    height: 305px;
    border-radius: 5px;
}

@media screen and (min-width: 768px) {
    .card.is-torrent {
        margin-top: 30px;
    }
}

.card.is-torrent .card_head {
    align-items: center;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);
    height: 34px;
    padding: 5px 10px;
    position: relative;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.card.is-torrent .body_poster img {
    height: 231px;
}

.card.is-torrent .card_body {
    display: flex;
    height: 231px;
}

.card.is-torrent .card_footer {
    align-items: center;
    background: #f3f3f3;
    box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.05);
    color: #70727c;
    font-size: 1.3rem;
    height: 34px;
    padding: 6px;
}

.card.is-torrent .card_footer a {
    color: #70727c;
}

.card.is-torrent .card_footer a:hover {
    color: #3492ad;
}

.card.is-torrent .card_footer img {
    height: 12px;
    margin: 0 5px 0 15px;
}

.card.is-torrent .body_description {
    height: 231px;
    overflow: hidden;
    padding: 14px 17px;
}

.card.is-torrent .body_description:hover {
    overflow-y: auto;
}

.card.is-torrent .description_title {
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
}

.card.is-torrent .description_plot {
    color: #70727c;
    font-size: 1.2rem;
    margin-top: 10px;
}

.card.is-torrent .genre-label {
    box-shadow: 0 1px 10px 0 rgba(211, 215, 221, 0.7);
    color: #9d9ea1;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 800;
    margin-top: 0.5rem;
    padding: 3px;
    text-transform: uppercase;
}

/* Footer Style */
.image {
    height: auto;
    max-width: 100%;
}

/* Emojione Style */
.joypixels {
    height: 3ex;
    width: 3.1ex;
    min-height: 20px;
    min-width: 20px;
    margin: -0.2ex 0.15em 0.2ex;
    line-height: normal;
}

img.joypixels {
    width: auto;
}

/* Followers Style */
.followers {
    img {
        border-radius: 50%;
        border: 4px solid rgba(129, 149, 174, 0.74);
        margin-left: -3px;
    }
}

/* Recomendations */

div.item.card span.release_date,
div.card span.genres {
    color: #666;
}

div.item.card span.genres {
    padding-left: 1px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
}

div.item span.vote_average {
    padding-top: 0;
    margin-right: 0;
    display: inline-flex;
    align-items: center;
}
section.recommendations div.scroller {
    -webkit-overflow-scrolling: touch;
    width: auto;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    box-sizing: border-box;
    padding-bottom: 16px;
    padding-right: 40px;
}

section.recommendations div.scroller div.item {
    display: inline-block;
    float: none;
}

section.recommendations div.scroller div.item a {
    font-weight: 400;
    font-size: 1em;
    padding-right: 10px;
}

section.recommendations div.scroller div.item p {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

section.recommendations div.scroller div.item span.release_date {
    line-height: 1em;
    font-size: 1em;
    display: inline-flex;
    align-items: center;
}

/* No Image */
div.no_image_holder {
    display: inline-block;
    font-family: 'Font Awesome\ 5 Pro';
    text-align: center;
    background-color: #313131;
    color: #b5b5b5;
    box-sizing: border-box;
    font-size: 1em;
    border-radius: 4px;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0 rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
}

.card div.no_image_holder,
.index div.no_image_holder {
    border-radius: 0;
    border: none;
}

div.no_image_holder:before {
    content: '\f03e';
}

div.no_image_holder.profile:before {
    content: '\f007';
}

div.no_image_holder.profile.one:before {
    content: '\f007';
}

div.no_image_holder.circle {
    border-radius: 50%;
    border: 1px solid #d3d3d3;
}

div.no_image_holder.w273_and_h153.playlist {
    top: 0;
    left: 0;
    width: 100%;
    height: 154px;
    line-height: 145px;
    font-size: 100px;
    background-color: #202020;
    box-shadow: none !important;
}

/* Spoiler */
.spoiler {
    display: none;
}

.show {
    display: none;
}

.hide:target + .show {
    display: inline;
}

.hide:target {
    display: none;
}

.hide:target ~ .spoiler {
    display: inline;
}

/* Playlists */
.item-playlist-container-playlist {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.06);
    margin-bottom: 30px;
    background: #0f0f0f;
    min-height: 325px;
}

.item-playlist-container-playlist img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.item-playlist-text-playlist {
    text-align: center;
    position: relative;
    padding: 38px 0 20px;
}

.item-playlist-text-playlist img {
    border-radius: 80px;
    width: 56px;
    margin-left: -23px;
    border: 3px solid #fff;
    position: absolute;
    top: -30px;
    left: 50%;
}

.item-playlist-text-playlist h5 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 6px;
}

.item-playlist-text-playlist h6 {
    font-weight: 400;
    color: #adadad;
    font-size: 12px;
}

a.button.white {
    margin-top: 0;
}

div.comment {
    width: 185px;
    background-color: #01ca6e;
    border-radius: 6px;
    padding: 14px 18px;
    box-sizing: border-box;
    color: #fff;
}

div.comment p {
    margin: 0;
}

div.pagination {
    padding-top: 0;
}

div.pagination p {
    margin: 0;
}

/* Chat Message Bubbles
============================================================================

/* Message avatar */
.sent > a {
    height: 100%;
    position: absolute;
    bottom: 0;
}
.sent > a > img {
    display: block !important;
    height: 100%;
    position: absolute;
    bottom: 4px;
}
/* Avatar */
#frame .content .messages ul li.sent img.chat-user-image {
    height: 40px;
    width: 40px;
}
/* Message header */
.sent > h4 {
    display: block !important;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: var(--message-bubble-bg);
    padding: 4px 12px 0 8px;
    margin: 4px 12px 0 48px;
}
/* Message text */
.sent > div {
    display: block !important;
    border-bottom-right-radius: 15px;
    background-color: var(--message-bubble-bg);
    padding: 0 12px 4px 8px !important;
    margin: 0 12px 4px 48px !important;
}
/* Bot messages */
.sent > .system {
    border-bottom-left-radius: 15px;
}
/* Message triangle tip */
.sent > div:not(.system):before {
    content: '';
    position: absolute;
    bottom: 4px;
    left: 38px;
    width: 0;
    border-right: 10px solid var(--message-bubble-bg);
    border-top: 10px solid transparent;
    /* border-bottom: 10px solid transparent; */
}
/* Entire Message */
#frame .content .messages ul li.sent {
    border: 0;
    display: table;
    max-width: 85%;
    width: auto;
}
/* Timestamp */
#frame .content .messages ul li.sent h4 .text-muted {
    float: none;
}

/* purgecss start ignore /*
/* Position top-end postioned swal2 notifications below the top nav */
.swal2-top-end {
    margin-top: 40px;
}
/* purgecss end ignore */