.movie-card {
    background-size: contain;
    background-position: 0 80%;
    background-repeat: no-repeat;
    height: 300px;
    display: block;
}

.color-overlay {
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(42, 159, 255, 0.2) 0%, #212120 60%, #212120 100%);
    background: linear-gradient(to right, rgba(42, 159, 255, 0.2), #212120 39.5%, rgba(10, 10, 10, 0.89));
    background-blend-mode: multiply;
}

.movie-content {
    width: 60%;
    display: block;
    position: relative;
    float: right;
    padding-right: 1em;
}

.movie-content .movie-title {
    color: #ffffff;
    margin-bottom: 0.25em;
    opacity: 0.75;
}

.movie-content .movie-info {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8em;
    color: #2a9fff;
    line-height: 1;
    margin: 0;
    font-weight: 700;
    opacity: 0.5;
}

.movie-content .movie-header {
    margin-bottom: 2em;
}

.movie-content .movie-desc {
    font-weight: 300;
    opacity: 0.84;
    margin-bottom: 2em;
}

@media only screen and (max-width: 720px) {
    .mobile-hide {
        display: none !important;
    }
}

.carousel-inner {
    -webkit-transform-style: preserve-3d;
    -webkit-font-smoothing: subpixel-antialiased;
}

.transition-timer-carousel-progress-bar {
    height: 3px;
    background-color: #5cb85c;
    width: 0;
    margin: 0 0 0 0;
    border: none;
    z-index: 11;
    position: relative;
}
