.form__legend {
    all: revert !important; /* Can be removed once site-wide `legend` styling is removed */

    font-size: 11px !important;
    color: var(--legend-fg) !important;
    background-color: var(--legend-bg) !important;
    border: var(--legend-border) !important;
    border-radius: var(--legend-border-radius) !important;
}
