.form__meter {
    --meter-fg: #333;
    --meter-bg: #505050;
    background: var(--meter-bg);
    appearance: none;
    border: 2px solid var(--meter-bg);
    border-radius: 4px;
    height: 22px;
    max-width: 100%;
    width: 100%;
}

.form__meter::-moz-meter-bar {
    background: var(--meter-fg);
}
