#hoe-header[hoe-lpanel-effect='push'] .hoe-right-header[hoe-position-type='fixed'] {
    margin-left: 230px;
    margin-right: -230px;
    padding-right: 0;
}

#hoe-header.hoe-minimized-lpanel[hoe-lpanel-effect='push'] .hoe-right-header[hoe-position-type='fixed'] {
    margin-left: 50px;
    margin-right: 0;
    padding-right: 50px;
}

#hoe-header[hoe-lpanel-effect='push'] .hoe-right-header[hoe-position-type='relative'] {
    margin-left: 230px;
    margin-right: -230px;
}

#hoe-header[hoe-lpanel-effect='push'].hoe-minimized-lpanel .hoe-right-header[hoe-position-type='relative'] {
    margin-left: 50px;
    margin-right: 0;
}

#hoe-header[hoe-lpanel-effect='push'] .hoe-right-header[hoe-position-type='relative'] .hoe-sidebar-toggle a:after {
    margin-left: 0;
}

#hoe-header.hoe-minimized-lpanel[hoe-lpanel-effect='push']
    .hoe-right-header[hoe-position-type='relative']
    .hoe-sidebar-toggle
    a:after {
    margin-left: 0;
}

#hoe-header[hoe-lpanel-effect='push'] .hoe-right-header[hoe-position-type='fixed'] .hoe-sidebar-toggle a:after {
    margin-left: 0;
}

#hoe-header.hoe-minimized-lpanel[hoe-lpanel-effect='push']
    .hoe-right-header[hoe-position-type='fixed']
    .hoe-sidebar-toggle
    a:after {
    margin-left: 0;
}

#hoeapp-container[hoe-lpanel-effect='push'] #main-content {
    margin-left: 230px;
    margin-right: -230px;
}

#hoeapp-container[hoe-lpanel-effect='push'].hoe-minimized-lpanel #main-content {
    margin-left: 50px;
    margin-right: 0;
}
