#hoe-header[hoe-lpanel-effect='shrink'] .hoe-right-header[hoe-position-type='relative'] {
    margin-left: 230px;
    padding-right: 0;
}

#hoe-header[hoe-lpanel-effect='shrink'].hoe-minimized-lpanel .hoe-right-header[hoe-position-type='relative'] {
    margin-left: 50px;
    padding-right: 0;
}

#hoe-header[hoe-lpanel-effect='shrink'] .hoe-right-header[hoe-position-type='fixed'] {
    padding-right: 230px;
    margin-left: 230px;
}

#hoe-header[hoe-lpanel-effect='shrink'].hoe-minimized-lpanel .hoe-right-header[hoe-position-type='fixed'] {
    padding-right: 50px;
    margin-left: 50px;
}

#hoe-header[hoe-lpanel-effect='shrink'] .hoe-right-header[hoe-position-type='relative'] .hoe-sidebar-toggle a:after {
    margin-left: 0;
}

#hoe-header.hoe-minimized-lpanel[hoe-lpanel-effect='shrink']
    .hoe-right-header[hoe-position-type='relative']
    .hoe-sidebar-toggle
    a:after {
    margin-left: 0;
}

#hoe-header[hoe-lpanel-effect='shrink'] .hoe-right-header[hoe-position-type='fixed'] .hoe-sidebar-toggle a:after {
    left: 0;
}

#hoe-header.hoe-minimized-lpanel[hoe-lpanel-effect='shrink']
    .hoe-right-header[hoe-position-type='fixed']
    .hoe-sidebar-toggle
    a:after {
    left: 0;
}

#hoeapp-container[hoe-lpanel-effect='shrink'] #main-content {
    margin-left: 230px;
}

#hoeapp-container[hoe-lpanel-effect='shrink'].hoe-minimized-lpanel #main-content {
    margin-left: 50px;
}
