:root {
    --text-color: #cccccc;
    --color-dark-magenta: hsl(300, 10%, 25%);
    --color-dark-green: hsl(120, 10%, 25%);
    --color-dark-blue: hsl(240, 10%, 30%);
    --color-dark-red: hsl(0, 10%, 25%);
    --color-red: hsl(0, 20%, 40%);
    --color-light-red: hsl(0, 20%, 50%);
    --color-green: hsl(120, 20%, 40%);
    --color-light-green: hsl(120, 20%, 50%);
    --color-yellow: hsl(30, 20%, 40%);
    --color-light-yellow: hsl(30, 20%, 50%);
    --color-magenta: hsl(300, 20%, 40%);
    --color-light-magenta: hsl(300, 20%, 50%);
    --color-dark-purple: hsl(240, 20%, 30%);
    --color-purple: hsl(240, 20%, 40%);
    --color-light-purple: hsl(240, 20%, 50%);
    --color-blue: hsl(205, 35%, 50%);
    --color-light-blue: hsl(205, 35%, 60%);
    --color-bright-white: hsl(0, 0%, 100%);
    --color-light-orange: hsl(20, 20%, 50%);

    --message-bubble-bg: #222;
    --message-bubble-fg: currentColor;
    --message-bubble-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    --message-bubble-border-radius: 20px;
    --message-bubble-border: none;
    --message-bubble-avatar-border-radius: 50%;

    --button-filled-bg: var(--color-green);

    --achievement-fg: inherit;
    --achievement-bg: #2c2c2c;
    --achievement-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    --achievement-progress-bg: #8fbcbb;

    --alert-bg: #292929;
    --alert-fg: #aaa;
    --alert-gap-color: #444;
    --alert-gap-width: 1px;

    --article-card-bg: #2c2c2c;
    --article-card-fg: #aaa;
    --article-card-head-fg: #aaa;
    --article-card-time-fg: #aaa;
    --article-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);

    --bbcode-input-header-bg: #272727;
    --bbcode-input-body-bg: #272727;
    --bbcode-input-border: 1px solid #555;
    --bbcode-input-border-radius: 5px;

    --bbcode-rendered-fg-default: #c9d1d9;
    --bbcode-rendered-fg-muted: #8b949e;
    --bbcode-rendered-fg-subtle: #484f58;
    --bbcode-rendered-canvas-default: transparent;
    --bbcode-rendered-canvas-subtle: #313131;
    --bbcode-rendered-border-default: #3c3d3d;
    --bbcode-rendered-border-muted: #464749;
    --bbcode-rendered-neutral-muted: #46484b66;
    --bbcode-rendered-accent-fg: #58a6ff;
    --bbcode-rendered-accent-emphasis: #2260be;
    --bbcode-rendered-attention-subtle: #7289da;
    --bbcode-rendered-danger-fg: #ff141ccc;
    --bbcode-rendered-quote-bg: #6662;
    --bbcode-rendered-quote-border: var(--color-green);

    --body-bg: #232323;
    --body-fg: var(--text-color);

    --breadcrumb-fg: #777;
    --breadcrumb-active-fg: #aaa;
    --breadcrumb-hover-fg: #ddd;
    --breadcrumb-inactive-text-decoration: none;

    --button-filled-bg: var(--color-green);
    --button-filled-border: none;
    --button-filled-border-radius: 9999px;
    --button-filled-fg: white;

    --button-outlined-bg: inherit;
    --button-outlined-border: 1px solid #555;
    --button-outlined-border-radius: 9999px;
    --button-outlined-fg: currentColor;

    --button-text-bg: inherit;
    --button-text-border: none;
    --button-text-border-radius: 5px;
    --button-text-fg: currentColor;

    --comparison-divider-fg: #fff;
    --comparison-button-fg: #fff;

    --data-table-fg: var(--text-color);
    --data-table-th-bg: #2c2c2c;
    --data-table-thead-border: none;
    --data-table-tr-border: 1px solid #333;
    --data-table-tr-even-bg: #272727;
    --data-table-tr-hover-bg: #2c2c2c;
    --data-table-tr-odd-bg: #272727;
    --data-table-tfoot-border: none;

    --dialog-bg: #272727;
    --dialog-border: none;
    --dialog-border-radius: 10px;
    --dialog-box-shadow: none;
    --dialog-fg: var(--text-color);
    --dialog-head-bg: #1c1c1c;
    --dialog-head-fg: #fff;

    --fieldset-bg: inherit;
    --fieldset-fg: #bbb;
    --fieldset-border-radius: 5px;
    --fieldset-border: 1px solid #555;

    --icon-button-bg: inherit;
    --icon-button-border: none;
    --icon-button-border-radius: 9999px;
    --icon-button-fg: currentColor;

    --icon-button-filled-bg: var(--color-green);
    --icon-button-filled-fg: white;
    --icon-button-filled-border: none;

    --input-text-border: 1px solid #555;
    --input-text-border-active: 2px solid #2195f3;
    --input-text-border-error: 1px solid #ba1b1b;
    --input-text-border-hover: 2px solid #999;
    --input-text-border-radius: 5px;
    --input-text-fg: #bbb;
    --input-text-padding: 12px;
    --input-text-padding-active: 11px;
    --input-text-padding-hover: 11px;

    --key-value-even-bg: #272727;
    --key-value-fg: var(--text-color);
    --key-value-odd-bg: #272727;
    --key-value-padding: 10px;

    --label-bg: #e2e2e2;
    --label-fg: #555;
    --label-fg-active: #2195f3;
    --label-fg-error: #ba1b1b;
    --label-fg-hover: #999;

    --legend-fg: #555;
    --legend-bg: transparent;
    --legend-border: none;
    --legend-border-radius: 0;

    --mediahub-card-bg: #1A1A1A;
    --mediahub-card-fg: #ddd;
    --mediahub-card-hover-fg: #fff;
    --mediahub-card-border: none;
    --mediahub-card-border-radius: 0;
    --mediahub-card-box-shadow: none;

    --meta-backdrop-filter:  brightness(30%);
    --meta-dropdown-backdrop-filter:  brightness(2) blur(10px);
    --meta-dropdown-bg: #4449;
    --meta-dropdown-backdrop-filter-hover:  brightness(2) blur(10px);
    --meta-dropdown-hover-bg: rgba(255,255,255,0.1);
    --meta-dropdown-fg: #bbb;
    --meta-dropdown-hover-fg: #ccc;
    --meta-description-fg: #ddd;
    --meta-id-tag-fg: #eee;
    --meta-id-tag-bg: transparent;
    --meta-id-tag-hover-fg: #fff;
    --meta-id-tag-hover-bg: rgba(255,255,255,0.1);
    --meta-chips-heading-fg: #bbb;
    --meta-chip-icon-fg: #1f1f1f;
    --meta-chip-icon-hover-bg: #bbb;
    --meta-chip-icon-bg: #cdcdcd;
    --meta-chip-name-fg: #e2e2e2;
    --meta-chip-value-fg: #aaa;
    --meta-chip-value-hover-fg: #ccc;
    --meta-chip-backdrop-filter-hover:  brightness(2) blur(10px);
    --meta-chip-hover-bg: rgba(255,255,255,0.1);

    --meter-fg: #333;
    --meter-bg: #505050;

    --notification-read: transparent;
    --notification-unread: var(--color-green);

    --option-bg: #303030;
    --option-fg: #999;

    --paginate-bg: #1c1c1c;
    --paginate-bg-hover: #222;
    --paginate-bg-current: #202020;
    --paginate-fg: #888;
    --paginate-fg-disabled: #555;
    --paginate-divider: #303030;

    --panel-action-fg: #aaa;
    --panel-border: none;
    --panel-bg: #272727;
    --panel-fg: var(--text-color);
    --panel-box-shadow: none;
    --panel-border-radius: 0;
    --panel-head-bg: #1c1c1c;
    --panel-head-fg: #fff;

    --post-bg: #2b2b2b;
    --post-fg: #ccc;
    --post-shadow: none;
    --post-head-fg: var(--text-color);
    --post-head-bg: none;
    --post-toolbar-bg: #1d1d1d;
    --post-toolbar-fg: #ccc;
    --post-toolbar-hover-bg: #262626;
    --post-toolbar-hover-fg: inherit;
    --post-like-fg: green;
    --post-dislike-fg: red;
    --post-aside-bg: #393939;
    --post-aside-fg: #ccc;
    --post-footer-fg: var(--text-color);

    --quick-search-bg: #444;
    --quick-search-fg: #b6b6b6;
    --quick-search-border: 1px solid transparent;
    --quick-search-border-radius: 16px;
    --quick-search-box-shadow: 0 4px 6px rgba(32, 33, 36, 0.28);
    --quick-search-selector-fg: #b6b6b6;
    --quick-search-selector-hover-bg: #4b4b4b;
    --quick-search-selector-hover-fg: #ddd;
    --quick-search-selector-selected-bg: #555;
    --quick-search-selector-selected-fg: #ddd;
    --quick-search-result-bg: #444;
    --quick-search-result-fg: #ccc;
    --quick-search-result-hover-bg: #555;
    --quick-search-result-hover-fg: #ccc;
    --quick-search-result-image-border-radius: 5px;
    --quick-search-result-year-fg: #888;
    --quick-search-result-border: none;

    --scrollbar-color: #ffffff19;

    --secondary-nav-bg: #292929;
    --secondary-nav-tab-fg: #aaa;
    --secondary-nav-tab-bg: inherit;
    --secondary-nav-tab-active-text-decoration: underline #777 2px;
    --secondary-nav-tab-hover-fg: #ddd;
    --secondary-nav-tab-hover-bg: transparent;
    --secondary-nav-tab-hover-text-decoration: underline #777 2px;
    --secondary-nav-tab-menu-bg: #333;
    --secondary-nav-tab-menu-fg: inherit;
    --secondary-nav-tab-menu-border: none;
    --secondary-nav-tab-menu-border-radius: 6px;
    --secondary-nav-tab-menu-box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2);

    --select-border: 1px solid #555;
    --select-border-active: 2px solid #2195f3;
    --select-border-error: 1px solid #ba1b1b;
    --select-border-hover: 2px solid #999;
    --select-border-radius: 5px;
    --select-fg: #bbb;
    --select-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='%23bbb' d='M6 8l-1 1l5 5l5-5l-1-1l-4 4l-4-4z'/></svg>");
    --select-padding: 11px 23px 11px 11px;
    --select-padding-active: 10px 22px 10px 10px;
    --select-padding-hover: 10px 22px 10px 10px;

    --subforum-listing-odd-bg: #2a2a2a;
    --subforum-listing-even-bg: transparent;
    --subforum-listing-border: none;

    --textarea-border: 1px solid #555;
    --textarea-border-active: 2px solid #2196f3;
    --textarea-border-error: 1px solid #ba1b1b;
    --textarea-border-hover: 2px solid #999;
    --textarea-border-radius: 5px;
    --textarea-fg: #bbb;
    --textarea-padding: 12px;
    --textarea-padding-active: 11px;
    --textarea-padding-hover: 11px;

    --top-nav-bg: #363636;
    --top-nav-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    --top-nav-dropdown-fg: #bbb;
    --top-nav-dropdown-hover-fg: #eee;
    --top-nav-dropdown-hover-bg: #404040;
    --top-nav-dropdown-hover-text-decoration: none;
    --top-nav-dropdown-menu-bg: #3c3c3c;
    --top-nav-dropdown-menu-border: none;
    --top-nav-dropdown-menu-border-radius: 6px;
    --top-nav-dropdown-menu-box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2);
    --top-nav-dropdown-menu-item-fg: #bbb;
    --top-nav-dropdown-menu-item-bg: transparent;
    --top-nav-dropdown-menu-item-hover-fg: inherit;
    --top-nav-dropdown-menu-item-hover-bg: #424242;
    --top-nav-dropdown-menu-item-hover-text-decoration: none;
    --top-nav-dropdown-menu-item-icon-fg: #ccc;
    --top-nav-dropdown-menu-item-icon-bg: #484848;
    --top-nav-ratio-bar-fg: #ddd;
    --top-nav-icon-bar-icon-bg: #424242;
    --top-nav-icon-bar-icon-fg: #bbb;
    --top-nav-icon-bar-icon-border-radius: 50%;
    --top-nav-icon-bar-icon-hover-bg: #424242;
    --top-nav-icon-bar-icon-hover-fg: #b6b6b6;
    --top-nav-stats-fg: #999;
    --top-nav-toggle-fg: #999;

    --torrent-card-bg: #272727;
    --torrent-card-fg: var(--text-color);
    --torrent-card-border: none;
    --torrent-card-head-bg: #1c1c1c;
    --torrent-card-head-fg: #fff;
    --torrent-card-link-fg: #fff;
    --torrent-card-genre-fg: #fff;

    --torrent-group-bg: #1c1c1c;
    --torrent-group-header-bg: #303030;
    --torrent-group-text: white;
    --torrent-group-text-muted: #878787;
    --torrent-group-table-stripe: rgba(255, 255, 255, 0.05);
    --torrent-group-hover-brightness-emphasis: 1.2;
    --torrent-group-chip-border: rgba(255, 255, 255, 0.05);

    --torrent-row-fg: #ccc;
    --torrent-row-visited-fg: #a295fe;
    --torrent-row-sticky-bg: #404040;
    --torrent-row-format-fg: #ccc;
    --torrent-row-format-bg: #3c3c3c;
    --torrent-row-buttons-fg: currentColor;
    --torrent-row-seeders-fg: #3fb618;
    --torrent-row-leechers-fg: #996666;
    --torrent-row-completed-fg: #42a5f5;
    --torrent-row-thanks-fg: #805e70;
    --torrent-row-comments-fg: #669966;
    --torrent-row-internal-fg: #baaf92;
    --torrent-row-personal-fg: #865be9;
    --torrent-row-stream-optimized-fg: #996666;
    --torrent-row-featured-fg: #997799;
    --torrent-row-freeleech-fg: #ffb800;
    --torrent-row-double-upload-fg: #619061;
    --torrent-row-sticky-fg: #cccccc;
    --torrent-row-highspeed-fg: #996666;
    --torrent-row-sd-fg: #997766;
    --torrent-row-bumped-fg: #f98a1e;

    --torrent-tag-fg: #eee;
    --torrent-tag-bg: transparent;
    --torrent-tag-hover-fg: #fff;
    --torrent-tag-hover-bg: rgba(255,255,255,0.1);

    --user-stat-card-bg: #1a1a1a;
    --user-stat-card-fg: #ddd;
    --user-stat-card-border: none;
    --user-stat-card-border-radius: 0;
    --user-stat-card-box-shadow: none;
}

.text-bright {
    color: #fefefe;
}

a.text-bright:focus,
a.text-bright:hover {
    color: #fcfcfc;
}


.text-blue {
    color: var(--text-color);
}

.text-purple {
    color: #958;
}

a {
    color: var(--color-blue);
}

a:hover {
    color: var(--color-light-blue);
}

.text-green {
    color: var(--color-light-green);
}
.text-muted {
    color: #999;
}
.text-red {
    color: var(--color-light-red);
}

.text-orange {
    color: var(--color-light-orange);
}

.text-pink {
    color: #979;
}

.text-danger {
    color: var(--color-light-red);
}

.badge-user {
    border: 0;
    box-shadow: none;
    background-color: #373737;
    text-shadow: 1.5px 1.5px #000;
}

.footer__icon {
    color: rgba(148, 123, 204, 1);
}

/* CHAT */
#frame {
    background: #262929;
}

#frame .content .messages ul li {
    border-bottom: 1px dashed #424545;
}

.chatbox {
    .typing {
        color: #dddddd;
    }
}

#frame .content .messages ul li.sent h4 .text-muted {
    color: #818686;
}

#frame .content .messages ul li > img {
    border: 3px solid #7289da;
}

#frame .content .message-input .wrap input {
    color: #32465a;
}

#frame .content .message-input .wrap input:focus {
    outline: none;
}

#frame .content .message-input .wrap .attachment {
    color: #435f7a;
}

#frame .content .message-input .wrap button {
    background: #32465a;
    color: #f5f5f5;
}

#frame .content .message-input .wrap button:hover {
    background: #435f7a;
}

/* Chat Message Bubbles
============================================================================

/* Message avatar */
.sent > a {
    height: 100%;
    position: absolute;
    bottom: 0;
}
.sent > a > img {
    display: block !important;
    height: 100%;
    position: absolute;
    bottom: 4px;
}
/* Avatar */
#frame .content .messages ul li.sent img.chat-user-image {
    height: 40px;
    width: 40px;
}
/* Message header */
.sent > h4 {
    display: block !important;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: var(--message-bubble-bg) !important;
    padding: 4px 12px 0 8px;
    margin: 4px 12px 0 48px;
}
/* Message text */
.sent > div {
    display: block !important;
    border-bottom-right-radius: 15px;
    background-color: var(--message-bubble-bg) !important;
    padding: 0 12px 4px 8px !important;
    margin: 0 12px 4px 48px !important;
}
/* Bot messages */
.sent > .system {
    border-bottom-left-radius: 15px;
}
/* Message triangle tip */
.sent > div:not(.system):before {
    content: '';
    position: absolute;
    bottom: 4px;
    left: 38px;
    width: 0;
    border-right: 10px solid var(--message-bubble-bg) !important;
    border-top: 10px solid transparent;
    /* border-bottom: 10px solid transparent; */
}
/* Entire Message */
#frame .content .messages ul li.sent {
    border: 0;
    display: table;
    max-width: 85%;
    width: auto;
}
/* Timestamp */
#frame .content .messages ul li.sent h4 .text-muted {
    float: none;
}
