:root {
  --message-bubble-bg: #F1EFF2;
  --message-bubble-fg: #080808;

  --achievement-fg: inherit;
  --achievement-bg: #fff;
  --achievement-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);;
  --achievement-progress-bg: #8fbcbb;

  --alert-bg: #f4f4f4;
  --alert-fg: #050505;
  --alert-gap-color: #ccc;
  --alert-gap-width: 1px;

  --article-card-bg: #fff;
  --article-card-fg: #050505;
  --article-card-head-fg: #050505;
  --article-card-time-fg: #111;
  --article-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);

  --bbcode-input-header-bg: #e2e2e2;
  --bbcode-input-body-bg: white;
  --bbcode-input-border: 1px solid #bbb;
  --bbcode-input-border-radius: 22px;

  --bbcode-rendered-fg-default: #24292f;
  --bbcode-rendered-fg-muted: #57606a;
  --bbcode-rendered-fg-subtle: #667788;
  --bbcode-rendered-canvas-default: transparent;
  --bbcode-rendered-canvas-subtle: #ececec;
  --bbcode-rendered-border-default: #bebebe;
  --bbcode-rendered-border-muted: #babbbd;
  --bbcode-rendered-neutral-muted: #aeb3b833;
  --bbcode-rendered-accent-fg: #0969da;
  --bbcode-rendered-accent-emphasis: #0969da;
  --bbcode-rendered-attention-subtle: #7289da;
  --bbcode-rendered-danger-fg: #ff141ccc;
  --bbcode-rendered-quote-bg: #6662;
  --bbcode-rendered-quote-border: #707070;

  --body-bg: #fff;
  --body-fg: #050505;

  --breadcrumb-fg: #0099FF;
  --breadcrumb-active-fg: #0088FF;
  --breadcrumb-hover-fg: #0072FF;
  --breadcrumb-inactive-text-decoration: none;

  --button-filled-bg: #EBEBEB;
  --button-filled-border: none;
  --button-filled-border-radius: 6px;
  --button-filled-fg: #050505;

  --button-outlined-bg: inherit;
  --button-outlined-border: 1px solid #e6e6e6;
  --button-outlined-border-radius: 6px;
  --button-outlined-fg: currentColor;

  --button-text-bg: inherit;
  --button-text-border: none;
  --button-text-border-radius: 6px;
  --button-text-fg: currentColor;

  --comparison-divider-fg: #000;
  --comparison-button-fg: #000;

  --data-table-fg: #111;
  --data-table-th-bg: #fff;
  --data-table-thead-border: 1px solid rgba(14, 21, 34, 0.25);
  --data-table-tr-border: 1px solid #eee;
  --data-table-tr-even-bg: #fff;
  --data-table-tr-hover-bg: #f6f6f6;
  --data-table-tr-odd-bg: #fff;
  --data-table-tfoot-border: 3px solid rgba(14, 21, 34, 0.25);

  --dialog-bg: #fff;
  --dialog-border: none;
  --dialog-border-radius: 22px;
  --dialog-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
  --dialog-fg: #050505;
  --dialog-head-bg: #fff;
  --dialog-head-fg: #050505;

  --fieldset-bg: inherit;
  --fieldset-fg: #333;
  --fieldset-border-radius: 20px;
  --fieldset-border: 1px solid #bbb;

  --icon-button-bg: inherit;
  --icon-button-border: none;
  --icon-button-border-radius: 9999px;
  --icon-button-fg: currentColor;

  --icon-button-filled-bg: #5cb579 linear-gradient(to bottom right, #0ba360, #2bb673);
  --icon-button-filled-fg: white;
  --icon-button-filled-border: none;

  --input-text-border: 1px solid #555;
  --input-text-border-active: 2px solid #2195f3;
  --input-text-border-error: 1px solid #ba1b1b;
  --input-text-border-hover: 2px solid #999;
  --input-text-border-radius: 20px;
  --input-text-fg: #444;
  --input-text-padding: 12px;
  --input-text-padding-active: 11px;
  --input-text-padding-hover: 11px;

  --key-value-even-bg: transparent;
  --key-value-fg: inherit;
  --key-value-odd-bg: transparent;
  --key-value-padding: 13px;

  --label-bg: #e2e2e2;
  --label-fg: #555;
  --label-fg-active: #2195f3;
  --label-fg-error: #ba1b1b;
  --label-fg-hover: #999;

  --legend-fg: #555;
  --legend-bg: transparent;
  --legend-border: none;
  --legend-border-radius: 0;

  --mediahub-card-bg: #f6f6f6;
  --mediahub-card-fg: #050505;
  --mediahub-card-hover-fg: #666;
  --mediahub-card-border: none;
  --mediahub-card-border-radius: 6px;
  --mediahub-card-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);

  --meta-backdrop-filter:  brightness(150%) contrast(30%);
  --meta-dropdown-backdrop-filter:  brightness(130%) blur(10px);
  --meta-dropdown-bg: #4449;
  --meta-dropdown-backdrop-filter-hover:  brightness(130%) blur(10px);
  --meta-dropdown-hover-bg: rgba(255,255,255,0.1);
  --meta-dropdown-fg: #222;
  --meta-dropdown-hover-fg: #000;
  --meta-description-fg: #111;
  --meta-id-tag-fg: #111;
  --meta-id-tag-bg: transparent;
  --meta-id-tag-hover-fg: #000;
  --meta-id-tag-hover-bg: rgba(255,255,255,0.4);
  --meta-chips-heading-fg: #2b2b2b;
  --meta-chip-backdrop-filter-hover:  brightness(130%) blur(10px);
  --meta-chip-hover-bg: rgba(255,255,255,0.4);
  --meta-chip-icon-fg: #1f1f1f;
  --meta-chip-icon-hover-bg: #fff;
  --meta-chip-icon-bg: #e2e2e2;
  --meta-chip-name-fg: #111;
  --meta-chip-value-fg: #333;
  --meta-chip-value-hover-fg: #000;

  --meter-fg: #fff;
  --meter-bg: #E8E8E8;

  --notification-read: transparent;
  --notification-unread: #2bb666;

  --option-bg: #fff;
  --option-fg: #050505;

  --paginate-bg: #fff;
  --paginate-bg-hover: #E8E8E8;
  --paginate-bg-current: #F5F5F5;
  --paginate-fg: #050505;
  --paginate-fg-disabled: #080808;
  --paginate-divider: #888;

  --panel-action-fg: #050505;
  --panel-border: none;
  --panel-bg: #fff;
  --panel-fg: inherit;
  --panel-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
  --panel-border-radius: 22px;
  --panel-head-bg: #fff;
  --panel-head-fg: #111;

  --post-bg: #fff;
  --post-fg: #212121;
  --post-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
  --post-head-fg: var(--panel-fg);
  --post-head-bg: none;
  --post-toolbar-bg: #fff;
  --post-toolbar-fg: #777;
  --post-toolbar-hover-bg: #fff;
  --post-toolbar-hover-fg: #000;
  --post-like-fg: green;
  --post-dislike-fg: red;
  --post-aside-bg: #fff;
  --post-aside-fg: #696969;
  --post-footer-fg: var(--panel-fg);

  --quick-search-bg: #F3F3F5;
  --quick-search-fg: #444;
  --quick-search-border: none;
  --quick-search-border-radius: 16px;
  --quick-search-box-shadow: 0 4px 6px rgba(32, 33, 36, 0.28);
  --quick-search-selector-fg: #b6b6b6;
  --quick-search-selector-hover-bg: #e3e3e3;
  --quick-search-selector-hover-fg: #818286;
  --quick-search-selector-selected-bg: #e9e9e9;
  --quick-search-selector-selected-fg: #87888B;
  --quick-search-result-bg: #F3F3F3;
  --quick-search-result-fg: #080808;
  --quick-search-result-hover-bg: #e9e9e9;
  --quick-search-result-hover-fg: #050505;
  --quick-search-result-image-border-radius: 5px;
  --quick-search-result-year-fg: #161616;
  --quick-search-result-border: none;

  --scrollbar-color: #0004;

  --secondary-nav-bg: #f4f4f4;
  --secondary-nav-tab-fg: #050505;
  --secondary-nav-tab-bg: inherit;
  --secondary-nav-tab-active-text-decoration: underline #0099FF 2px;
  --secondary-nav-tab-hover-fg: #080808;
  --secondary-nav-tab-hover-bg: transparent;
  --secondary-nav-tab-hover-text-decoration: underline #0088FF 2px;
  --secondary-nav-tab-menu-bg: #fff;
  --secondary-nav-tab-menu-fg: inherit;
  --secondary-nav-tab-menu-border: none;
  --secondary-nav-tab-menu-border-radius: 6px;
  --secondary-nav-tab-menu-box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2);

  --select-border: 1px solid #555;
  --select-border-active: 2px solid #2195f3;
  --select-border-error: 1px solid #ba1b1b;
  --select-border-hover: 2px solid #999;
  --select-border-radius: 20px;
  --select-fg: #444;
  --select-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='%23444' d='M6 8l-1 1l5 5l5-5l-1-1l-4 4l-4-4z'/></svg>");
  --select-padding: 11px 23px 11px 11px;
  --select-padding-active: 10px 22px 10px 10px;
  --select-padding-hover: 10px 22px 10px 10px;

  --subforum-listing-odd-bg: transparent;
  --subforum-listing-even-bg: transparent;
  --subforum-listing-border: 1px solid #e6e6e6;

  --textarea-border: 1px solid #555;
  --textarea-border-active: 2px solid #2196f3;
  --textarea-border-error: 1px solid #ba1b1b;
  --textarea-border-hover: 2px solid #999;
  --textarea-border-radius: 20px;
  --textarea-fg: #444;
  --textarea-padding: 12px;
  --textarea-padding-active: 11px;
  --textarea-padding-hover: 11px;

  --top-nav-bg: #fff;
  --top-nav-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  --top-nav-dropdown-fg: #050505;
  --top-nav-dropdown-hover-fg: #080808;
  --top-nav-dropdown-hover-bg: #F2F2F2;
  --top-nav-dropdown-hover-text-decoration: none;
  --top-nav-dropdown-menu-bg: #fff;
  --top-nav-dropdown-menu-border: none;
  --top-nav-dropdown-menu-border-radius: 6px;
  --top-nav-dropdown-menu-box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2);
  --top-nav-dropdown-menu-item-fg: #050505;
  --top-nav-dropdown-menu-item-bg: transparent;
  --top-nav-dropdown-menu-item-hover-fg: inherit;
  --top-nav-dropdown-menu-item-hover-bg: #F2F2F2;
  --top-nav-dropdown-menu-item-hover-text-decoration: none;
  --top-nav-dropdown-menu-item-icon-fg: #1F2525;
  --top-nav-dropdown-menu-item-icon-bg: #F5F5F5;
  --top-nav-ratio-bar-fg: #050505;
  --top-nav-icon-bar-icon-bg: #F5F5F5;
  --top-nav-icon-bar-icon-fg: #1F2525;
  --top-nav-icon-bar-icon-border-radius: 50%;
  --top-nav-icon-bar-icon-hover-bg: #E8E8E8;
  --top-nav-icon-bar-icon-hover-fg: #080808;
  --top-nav-stats-fg: #050505;
  --top-nav-toggle-fg: #050505;

  --torrent-card-bg: #fff;
  --torrent-card-fg: #111;
  --torrent-card-border: 1px solid #ddd;
  --torrent-card-head-bg: #fff;
  --torrent-card-head-fg: #080808;
  --torrent-card-link-fg: #111;
  --torrent-card-genre-fg: #444;

  --torrent-group-bg: #fff;
  --torrent-group-header-bg: #fff;
  --torrent-group-text: #333;
  --torrent-group-text-muted: #555;
  --torrent-group-table-stripe: rgba(0, 0, 0, 0.05);
  --torrent-group-hover-brightness-emphasis: 1.13;
  --torrent-group-chip-border: #eee;

  --torrent-row-fg: #050505;
  --torrent-row-visited-fg: #8768e0;
  --torrent-row-sticky-bg: #e9f6ff;
  --torrent-row-format-fg: #222;
  --torrent-row-format-bg: transparent;
  --torrent-row-buttons-fg: #888;
  --torrent-row-seeders-fg: #3fb618;
  --torrent-row-leechers-fg: #ff0039;
  --torrent-row-completed-fg: #42a5f5;
  --torrent-row-thanks-fg: #f92672;
  --torrent-row-comments-fg: #3fb618;
  --torrent-row-internal-fg: #baaf94;
  --torrent-row-personal-fg: #865be9;
  --torrent-row-stream-optimized-fg: #ff0039;
  --torrent-row-featured-fg: #f92672;
  --torrent-row-freeleech-fg: #ffb800;
  --torrent-row-double-upload-fg: #4cb828;
  --torrent-row-sticky-fg: #111111;
  --torrent-row-highspeed-fg: #ff0039;
  --torrent-row-sd-fg: #ff7518;
  --torrent-row-bumped-fg: #f9ba13;

  --torrent-tag-fg: #111;
  --torrent-tag-bg: transparent;
  --torrent-tag-hover-fg: #000;
  --torrent-tag-hover-bg: rgba(255,255,255,0.4);

  --user-stat-card-bg: #f6f6f6;
  --user-stat-card-fg: #050505;
  --user-stat-card-border: none;
  --user-stat-card-border-radius: 22px;
  --user-stat-card-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.panel__body {
  border-bottom-left-radius: var(--panel-border-radius);
  border-bottom-right-radius: var(--panel-border-radius);
}

.panel__header {
  border-top-left-radius: var(--panel-border-radius);
  border-top-right-radius: var(--panel-border-radius);
}

.panel__header:has(+ [style="display: none;"]),
.panel__header:has(+ [style="display: none;"]) > .panel__heading,
.panel__header:has(+ [style="display: none;"]) > .panel__actions,
.panel__header:has(+ [style="display: none;"]) > .panel__actions > .panel__action,
.panel__heading:has(+ [style="display: none;"]),
.panel__heading:has(+ .data-table-wrapper):not(:has(+ .data-table-wrapper tr)) {
  border-bottom-left-radius: var(--panel-border-radius);
  border-bottom-right-radius: var(--panel-border-radius);
}

.panel__heading {
  border-top-left-radius: var(--panel-border-radius);
  border-top-right-radius: var(--panel-border-radius);
  font-size: 19px;
  font-weight: bold;
  padding: 12px 15px;
}

.panel__actions {
  border-top-right-radius: var(--panel-border-radius);
}

.featured-carousel__previous {
  border-bottom-left-radius: var(--panel-border-radius);
}

.featured-carousel__next {
  border-bottom-right-radius: var(--panel-border-radius);
}

.data-table tr:last-of-type td:first-of-type,
.data-table > thead:not(:has(+ tbody > tr)):not(:has(tfoot)) > tr > th:first-of-type {
  border-bottom-left-radius: var(--panel-border-radius);
}

.data-table tr:last-of-type td:last-of-type,
.data-table tr:last-of-type td:not([style="display: none;"]):has(+ td[style="display: none;"]),
.data-table > thead:not(:has(+ tbody > tr)):not(:has(tfoot)) > tr > th:last-of-type {
  border-bottom-right-radius: var(--panel-border-radius);
}

.data-table > thead:not(:has(+ tbody > tr)):not(:has(tfoot)) > tr > th {
  border-bottom: none;
}

.data-table tr td:first-of-type,
.data-table tr th:first-of-type {
  padding-left: 20px;
}

.data-table tr td:last-of-type,
.data-table tr th:last-of-type {
  padding-right: 20px;
}

.article-preview {
  border-radius: 22px;
}

.page__forum--topic .bbcode-input {
  --bbcode-input-border: none;
  box-shadow: var(--post-shadow);
}

.page__forum--topic > article > div > .panelV2 {
  box-shadow: none;
}

.page__forum--topic > article > div > .panelV2 > .panel__body {
  padding: 20px 0;
}

.post {
  border-radius: 22px;
}

a {
  color: #0099FF;
}

#frame {
  background-color: #fff;
}

#frameFooter {
  background-color: #fff;
  border-bottom-left-radius: var(--panel-border-radius);
  border-bottom-right-radius: var(--panel-border-radius);
  padding: 10px;
}

.sent > div {
  border-bottom-left-radius: 15px;
}

.sent > div:not(.system)::before {
  display: none;
}

.sent .badge-user {
  box-shadow: none;
  border: none;
}

.torrent-search--grouped__result {
  border-radius: 22px;
}

.torrent-card {
  border-radius: 22px;
}

.comment {
  box-shadow: none;
}

.comment__list-item + .comment__list-item > .comment {
  border-top: 1px solid #e6e6e6;
  border-radius: 0;
  padding-top: 22px;
}

.comment__replies {
  margin-top: 4px;
}

.meta__title {
  color: #050505;
}

.meta__backdrop {
  mask-image: linear-gradient(to bottom, #000D 0%, #0002 65%, #0000 100%);
}

.user-card {
  border-radius: 22px;
}

.notification--unread {
  border-left: none !important;
}

.notification--unread::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  margin-right: 4px;
  background-color: var(--notification-unread);
  position: relative;
}

.achievement {
  margin: 18px;
  border-radius: 22px;
}

.pagination:last-child {
  border-bottom-left-radius: var(--panel-border-radius);
  border-bottom-right-radius: var(--panel-border-radius);
}

li.pagination__next,
li.pagination__previous {
  margin: 2px;
}

a.pagination__next,
a.pagination__previous,
li.pagination__next,
li.pagination__previous {
  border-radius: 9999px;
  height: 36px;
  width: 86px;
  line-height: 36px;
}

.pagination__link,
.pagination__current {
  border-radius: 9999px;
  height: 36px;
  width: 36px;
  margin: 2px;
  line-height: 36px;
}