/*

2014 material design colors from https://material.io/design/color/the-color-system.html#tools-for-picking-colors

Create a stylesheet that sets the following custom properties, and then imports this theme.

For example dark blue,

:root {
    --color-light-blue: #64B5F6;	  300
    --color-light-green: #64B5F6;	  300
    --color-light-magenta: #64B5F6;	300
    --color-light-purple: #64B5F6;	300
    --color-400: #42A5F5;           400
    --color-blue: #2196F3;		      500
    --color-green: #2196F3;		      500
    --color-yellow: #2196F3;		    500
    --color-magenta:  #1E88E5;		  600
    --color-red: #1565C0;		        800
    --color-dark-green: #1565C0;	  800
    --color-A200: #448AFF;          A200
    --color-A400: #2979FF;          A400
    --color-purple: #2962FF;		    A700
    
    --color-dark-blue: #181818;
    --color-dark-red: #181818;

    --movie-overlay: radial-gradient(circle at 20% 50%, rgba(0, 0, 0, 1) 5.46%, rgba(21, 101, 192, 0.46));    800
    --background-pipe: url("../../img/pipes/blue.png");
    --gradient-background: radial-gradient(at 30% top, #072e46 0%, #081c24 70%);
}
*/

:root {
    --torrent-row-fg: #ccc;
    --torrent-row-format-fg: #ccc;
    --torrent-row-format-bg: #3c3c3c;
    --torrent-row-buttons-fg: currentColor;
    --torrent-row-seeders-fg: #3fb618;
    --torrent-row-leechers-fg: var(--color-light-red);
    --torrent-row-completed-fg: var(--color-400);
    --torrent-row-thanks-fg: var(--color-400);
    --torrent-row-comments-fg: #3fb618;
    --torrent-row-internal-fg: #baaf92;
    --torrent-row-personal-fg: #865be9;
    --torrent-row-stream-optimized-fg: var(--color-light-red);
    --torrent-row-featured-fg: var(--color-400);
    --torrent-row-freeleech-fg: #FFB800;
    --torrent-row-double-upload-fg: #3fb618;
    --torrent-row-sticky-fg: var(--text-color);
    --torrent-row-highspeed-fg: var(--color-light-red);
    --torrent-row-sd-fg: var(--color-400);
    --torrent-row-bumped-fg: #ffb800;
}

body {
    background-color: var(--color-dark-blue);
}

.nav-tabs > #active {
    background-color: var(--color-dark-green);
}

.text-green {
    color: #3fb618;
}
.text-muted {
    color: #999;
}

i.torrent-icon {
    color: var(--color-blue);
}

.panel-chat > .panel-body > #frame > .content {
    background-color: var(--color-dark-blue);
}

.notify .point {
    background-color: var(--color-A400);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
}

select,
select option {
    background-color: #454545 !important;
}

.form-control {
    background-color: #2b2b2b;
    color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.56);
}
.form-control:focus {
    box-shadow: 0 0 5px var(--color-light-blue);
    border: 1px solid var(--color-light-blue);
}
.form-control > option {
    background-color: #616161;
}

.text-info,
.footer-icon {
    color: var(--color-400);
}

.badge-extra {
    border: 1px solid rgba(66, 70, 92, 0.61);
    border-radius: 0;
}

.text-bright {
    color: #fefefe;
}

a.text-bright:focus,
a.text-bright:hover {
    color: #fcfcfc;
}

.text-purple,
.text-orange,
.text-success,
.text-pink,
.fa-coins {
    color: var(--color-400);
}

.text-danger {
    color: #996666;
}

.alert-danger,
.panel-primary,
.panel-primary > .panel-heading,
.alert-info,
.panel-info,
.panel-info > .panel-heading {
    background-color: var(--color-magenta) !important;
}

.alert {
    color: #424242;
}

.alert > h2,
.alert > h2 > strong,
.panel > .panel-heading > h2,
.panel > .panel-heading > h4,
.panel > .panel-heading > div > h2,
.panel > .panel-heading > div > h4,
.movie-title > a {
    color: #000;
}

.panel-chat > .panel-heading > h4 {
    color: #fff;
}

.badge-user {
    border-radius: 0;
}

.container.box {
    background: #1f1f1f;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.list-inline {
    color: inherit;
}


div.header.purple div.inner_content,
div.header.green div.inner_content,
div.header.blue div.inner_content,
div.header.orange div.inner_content,
div.header.yellow div.inner_content,
div.header.red div.inner_content {
    background-image: var(--background-pipe) !important;
}

/* history table restores */
.table > tbody > tr > td.text-green {
    color: #3fb618 !important;
}
.table > tbody > tr > td.text-red {
    color: var(--color-light-red) !important;
}
