/*

2014 material design colors from https://material.io/design/color/the-color-system.html#tools-for-picking-colors

Create a stylesheet that sets the following custom properties, and then imports this theme.

For example dark blue,

:root {
    --color-light-blue: #64B5F6;	  300
    --color-light-green: #64B5F6;	  300
    --color-light-magenta: #64B5F6;	300
    --color-light-purple: #64B5F6;	300
    --color-400: #42A5F5;           400
    --color-blue: #2196F3;		      500
    --color-green: #2196F3;		      500
    --color-yellow: #2196F3;		    500
    --color-magenta:  #1E88E5;		  600
    --color-red: #1565C0;		        800
    --color-dark-green: #1565C0;	  800
    --color-A200: #448AFF;          A200
    --color-A400: #2979FF;          A400
    --color-purple: #2962FF;		    A700
    
    --color-dark-blue: #181818;
    --color-dark-red: #181818;

    --movie-overlay: radial-gradient(circle at 20% 50%, rgba(0, 0, 0, 1) 5.46%, rgba(21, 101, 192, 0.46));    800
    --background-pipe: url("../../img/pipes/blue.png");
    --gradient-background: radial-gradient(at 30% top, #072e46 0%, #081c24 70%);
}
*/

:root {
    --body-bg: var(--color-dark-blue);

    --torrent-row-fg: #ccc;
    --torrent-row-format-fg: #ccc;
    --torrent-row-format-bg: #3c3c3c;
    --torrent-row-buttons-fg: currentColor;
    --torrent-row-seeders-fg: #3fb618;
    --torrent-row-leechers-fg: var(--color-light-red);
    --torrent-row-completed-fg: var(--color-400);
    --torrent-row-thanks-fg: var(--color-400);
    --torrent-row-comments-fg: #3fb618;
    --torrent-row-internal-fg: #baaf92;
    --torrent-row-personal-fg: #865be9;
    --torrent-row-stream-optimized-fg: var(--color-light-red);
    --torrent-row-featured-fg: var(--color-400);
    --torrent-row-freeleech-fg: #FFB800;
    --torrent-row-double-upload-fg: #3fb618;
    --torrent-row-sticky-fg: var(--text-color);
    --torrent-row-highspeed-fg: var(--color-light-red);
    --torrent-row-sd-fg: var(--color-400);
    --torrent-row-bumped-fg: #ffb800;
}

.text-green {
    color: #3fb618;
}
.text-muted {
    color: #999;
}

i.torrent-icon {
    color: var(--color-blue);
}

.panel-chat > .panel-body > #frame > .content {
    background-color: var(--color-dark-blue);
}

.text-info,
.footer__icon {
    color: var(--color-400);
}

.badge-extra {
    border: 1px solid rgba(66, 70, 92, 0.61);
    border-radius: 0;
}

.text-bright {
    color: #fefefe;
}

a.text-bright:focus,
a.text-bright:hover {
    color: #fcfcfc;
}

.text-purple,
.text-orange,
.text-success,
.text-pink {
    color: var(--color-400);
}

.text-danger {
    color: #996666;
}

.badge-user {
    border-radius: 0;
}

