:root {
  --message-bubble-bg: white;
  --message-bubble-fg: currentColor;

  --achievement-fg: inherit;
  --achievement-bg: #e7e7e7;
  --achievement-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  --achievement-progress-bg: #8fbcbb;

  --alert-bg: #292929;
  --alert-fg: #aaa;
  --alert-gap-color: #444;
  --alert-gap-width: 1px;

  --article-card-bg: #e7e7e7;
  --article-card-fg: inherit;
  --article-card-head-fg: inherit;
  --article-card-time-fg: inherit;
  --article-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);

  --bbcode-input-header-bg: #e2e2e2;
  --bbcode-input-body-bg: white;
  --bbcode-input-border: 1px solid #555;
  --bbcode-input-border-radius: 5px;

  --bbcode-rendered-fg-default: #24292f;
  --bbcode-rendered-fg-muted: #57606a;
  --bbcode-rendered-fg-subtle: #667788;
  --bbcode-rendered-canvas-default: transparent;
  --bbcode-rendered-canvas-subtle: #ececec;
  --bbcode-rendered-border-default: #bebebe;
  --bbcode-rendered-border-muted: #babbbd;
  --bbcode-rendered-neutral-muted: #aeb3b833;
  --bbcode-rendered-accent-fg: #0969da;
  --bbcode-rendered-accent-emphasis: #0969da;
  --bbcode-rendered-attention-subtle: #7289da;
  --bbcode-rendered-danger-fg: #ff141ccc;
  --bbcode-rendered-quote-bg: #6662;
  --bbcode-rendered-quote-border: #707070;

  --body-fg: #696969;
  --body-bg: #CFCFCF;

  --breadcrumb-fg: #777;
  --breadcrumb-active-fg: #aaa;
  --breadcrumb-hover-fg: #ddd;
  --breadcrumb-inactive-text-decoration: none;

  --button-filled-bg: #5cb579 linear-gradient(to bottom right, #0ba360, #2bb673);
  --button-filled-border: none;
  --button-filled-border-radius: 9999px;
  --button-filled-fg: white;

  --button-outlined-bg: inherit;
  --button-outlined-border: 1px solid #555;
  --button-outlined-border-radius: 9999px;
  --button-outlined-fg: currentColor;

  --button-text-bg: inherit;
  --button-text-border: none;
  --button-text-border-radius: 5px;
  --button-text-fg: currentColor;

  --collection-fg: #ccc;

  --comparison-divider-fg: #000;
  --comparison-button-fg: #000;

  --data-table-fg: inherit;
  --data-table-th-bg: #efefef;
  --data-table-thead-border: 1px solid rgba(14, 21, 34, 0.25);
  --data-table-tr-border: 1px solid #ddd;
  --data-table-tr-even-bg: #efefef;
  --data-table-tr-hover-bg: #d6d6d6;
  --data-table-tr-odd-bg: #e2e2e2;
  --data-table-tfoot-border: 3px solid rgba(14, 21, 34, 0.25);

  --dialog-bg: #e2e2e2;
  --dialog-border: 1px solid #ddd;
  --dialog-border-radius: 10px;
  --dialog-box-shadow: 0 5px 5px rgba(93, 93, 93, 0.83);
  --dialog-fg: inherit;
  --dialog-head-bg: #373d43;
  --dialog-head-fg: #fff;

  --fieldset-bg: inherit;
  --fieldset-fg: #444;
  --fieldset-border-radius: 5px;
  --fieldset-border: 1px solid #555;

  --icon-button-bg: inherit;
  --icon-button-border: none;
  --icon-button-border-radius: 9999px;
  --icon-button-fg: currentColor;

  --icon-button-filled-bg: #5cb579 linear-gradient(to bottom right, #0ba360, #2bb673);
  --icon-button-filled-fg: white;
  --icon-button-filled-border: none;

  --input-text-border: 1px solid #555;
  --input-text-border-active: 2px solid #2195f3;
  --input-text-border-error: 1px solid #ba1b1b;
  --input-text-border-hover: 2px solid #999;
  --input-text-border-radius: 5px;
  --input-text-fg: #444;
  --input-text-padding: 12px;
  --input-text-padding-active: 11px;
  --input-text-padding-hover: 11px;

  --key-value-even-bg: #e2e2e2;
  --key-value-fg: inherit;
  --key-value-odd-bg: #e2e2e2;
  --key-value-padding: 10px;

  --label-bg: #e2e2e2;
  --label-fg: #555;
  --label-fg-active: #2195f3;
  --label-fg-error: #ba1b1b;
  --label-fg-hover: #999;

  --legend-fg: #555;
  --legend-bg: transparent;
  --legend-border: none;
  --legend-border-radius: 0;

  --mediahub-card-bg: #989898;
  --mediahub-card-fg: #fff;
  --mediahub-card-hover-fg: #eee;
  --mediahub-card-border: none;
  --mediahub-card-border-radius: 0;
  --mediahub-card-box-shadow: none;

  --meta-backdrop-filter:  brightness(150%) contrast(30%);
  --meta-dropdown-backdrop-filter:  brightness(130%) blur(10px);
  --meta-dropdown-bg: #4449;
  --meta-dropdown-backdrop-filter-hover:  brightness(130%) blur(10px);
  --meta-dropdown-hover-bg: rgba(255,255,255,0.1);
  --meta-dropdown-fg: #222;
  --meta-dropdown-hover-fg: #000;
  --meta-description-fg: #111;
  --meta-id-tag-fg: #111;
  --meta-id-tag-bg: transparent;
  --meta-id-tag-hover-fg: #000;
  --meta-id-tag-hover-bg: rgba(255,255,255,0.4);
  --meta-chips-heading-fg: #2b2b2b;
  --meta-chip-backdrop-filter-hover:  brightness(130%) blur(10px);
  --meta-chip-hover-bg: rgba(255,255,255,0.4);
  --meta-chip-icon-fg: #1f1f1f;
  --meta-chip-icon-hover-bg: #fff;
  --meta-chip-icon-bg: #e2e2e2;
  --meta-chip-name-fg: #111;
  --meta-chip-value-fg: #333;
  --meta-chip-value-hover-fg: #000;

  --meter-fg: #d6d6d6;
  --meter-bg: #bbb;

  --notification-read: transparent;
  --notification-unread: #2bb666;

  --option-bg: #fff;
  --option-fg: #222;

  --paginate-bg: #373d43;
  --paginate-bg-hover: #4f5964;
  --paginate-bg-current: #454d55;
  --paginate-fg: #ddd;
  --paginate-fg-disabled: #999;
  --paginate-divider: #888;

  --panel-action-fg: #aaa;
  --panel-border: 1px solid #ddd;
  --panel-bg: #e2e2e2;
  --panel-fg: inherit;
  --panel-box-shadow: 0 5px 5px rgba(93, 93, 93, 0.83);
  --panel-border-radius: 0;
  --panel-head-bg: #373d43;
  --panel-head-fg: #fff;

  --post-bg: #e9e9e9;
  --post-fg: #212121;
  --post-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
  --post-head-fg: var(--panel-fg);
  --post-head-bg: none;
  --post-toolbar-bg: #989898;
  --post-toolbar-fg: #e5e5e5;
  --post-toolbar-hover-bg: #777;
  --post-toolbar-hover-fg: inherit;
  --post-like-fg: green;
  --post-dislike-fg: red;
  --post-aside-bg: #d6d6d6;
  --post-aside-fg: #696969;
  --post-footer-fg: var(--panel-fg);

  --quick-search-bg: #444;
  --quick-search-fg: #b6b6b6;
  --quick-search-border: 1px solid transparent;
  --quick-search-border-radius: 16px;
  --quick-search-box-shadow: 0 4px 6px rgba(32, 33, 36, 0.28);
  --quick-search-selector-fg: #b6b6b6;
  --quick-search-selector-hover-bg: #4b4b4b;
  --quick-search-selector-hover-fg: #ddd;
  --quick-search-selector-selected-bg: #555;
  --quick-search-selector-selected-fg: #ddd;
  --quick-search-result-bg: #444;
  --quick-search-result-fg: #ccc;
  --quick-search-result-hover-bg: #555;
  --quick-search-result-hover-fg: #ccc;
  --quick-search-result-image-border-radius: 5px;
  --quick-search-result-year-fg: #888;
  --quick-search-result-border: none;

  --scrollbar-color: #0004;

  --secondary-nav-bg: #292929;
  --secondary-nav-tab-fg: #aaa;
  --secondary-nav-tab-bg: inherit;
  --secondary-nav-tab-active-text-decoration: underline #777 2px;
  --secondary-nav-tab-hover-fg: #ddd;
  --secondary-nav-tab-hover-bg: transparent;
  --secondary-nav-tab-hover-text-decoration: underline #777 2px;
  --secondary-nav-tab-menu-bg: #333;
  --secondary-nav-tab-menu-fg: inherit;
  --secondary-nav-tab-menu-border: none;
  --secondary-nav-tab-menu-border-radius: 6px;
  --secondary-nav-tab-menu-box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2);

  --select-border: 1px solid #555;
  --select-border-active: 2px solid #2195f3;
  --select-border-error: 1px solid #ba1b1b;
  --select-border-hover: 2px solid #999;
  --select-border-radius: 5px;
  --select-fg: #444;
  --select-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='%23444' d='M6 8l-1 1l5 5l5-5l-1-1l-4 4l-4-4z'/></svg>");
  --select-padding: 11px 23px 11px 11px;
  --select-padding-active: 10px 22px 10px 10px;
  --select-padding-hover: 10px 22px 10px 10px;

  --subforum-listing-odd-bg: #ddd;
  --subforum-listing-even-bg: transparent;
  --subforum-listing-border: none;

  --textarea-border: 1px solid #555;
  --textarea-border-active: 2px solid #2196f3;
  --textarea-border-error: 1px solid #ba1b1b;
  --textarea-border-hover: 2px solid #999;
  --textarea-border-radius: 5px;
  --textarea-fg: #444;
  --textarea-padding: 12px;
  --textarea-padding-active: 11px;
  --textarea-padding-hover: 11px;

  --top-nav-bg: #363636;
  --top-nav-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  --top-nav-dropdown-fg: #bbb;
  --top-nav-dropdown-hover-fg: #eee;
  --top-nav-dropdown-hover-bg: #404040;
  --top-nav-dropdown-hover-text-decoration: none;
  --top-nav-dropdown-menu-bg: #3c3c3c;
  --top-nav-dropdown-menu-border: none;
  --top-nav-dropdown-menu-border-radius: 6px;
  --top-nav-dropdown-menu-box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2);
  --top-nav-dropdown-menu-item-fg: #bbb;
  --top-nav-dropdown-menu-item-bg: transparent;
  --top-nav-dropdown-menu-item-hover-fg: inherit;
  --top-nav-dropdown-menu-item-hover-bg: #424242;
  --top-nav-dropdown-menu-item-hover-text-decoration: none;
  --top-nav-dropdown-menu-item-icon-fg: #ccc;
  --top-nav-dropdown-menu-item-icon-bg: #484848;
  --top-nav-ratio-bar-fg: #ddd;
  --top-nav-icon-bar-icon-bg: #424242;
  --top-nav-icon-bar-icon-fg: #bbb;
  --top-nav-icon-bar-icon-border-radius: 50%;
  --top-nav-icon-bar-icon-hover-bg: #424242;
  --top-nav-icon-bar-icon-hover-fg: #b6b6b6;
  --top-nav-stats-fg: #999;
  --top-nav-toggle-fg: #999;

  --torrent-card-bg: #e2e2e2;
  --torrent-card-fg: inherit;
  --torrent-card-border: 1px solid #ddd;
  --torrent-card-head-bg: #373d43;
  --torrent-card-head-fg: #fff;
  --torrent-card-link-fg: #3b3b3b;
  --torrent-card-genre-fg: #444;

  --torrent-group-bg: #f5f5f5;
  --torrent-group-header-bg: #d3d3d3;
  --torrent-group-text: #555;
  --torrent-group-text-muted: #555;
  --torrent-group-table-stripe: rgba(0, 0, 0, 0.05);
  --torrent-group-hover-brightness-emphasis: 1.13;
  --torrent-group-chip-border: #eee;

  --torrent-row-fg: #2a2a2a;
  --torrent-row-visited-fg: #8768e0;
  --torrent-row-sticky-bg: #dff0d8;
  --torrent-row-format-fg: #222;
  --torrent-row-format-bg: #cdcdcd;
  --torrent-row-buttons-fg: currentColor;
  --torrent-row-seeders-fg: #3fb618;
  --torrent-row-leechers-fg: #ff0039;
  --torrent-row-completed-fg: #42a5f5;
  --torrent-row-thanks-fg: #f92672;
  --torrent-row-comments-fg: #3fb618;
  --torrent-row-internal-fg: #baaf94;
  --torrent-row-personal-fg: #865be9;
  --torrent-row-stream-optimized-fg: #ff0039;
  --torrent-row-featured-fg: #f92672;
  --torrent-row-freeleech-fg: #ffb800;
  --torrent-row-double-upload-fg: #4cb828;
  --torrent-row-sticky-fg: #111111;
  --torrent-row-highspeed-fg: #ff0039;
  --torrent-row-sd-fg: #ff7518;
  --torrent-row-bumped-fg: #f9ba13;

  --torrent-tag-fg: #111;
  --torrent-tag-bg: transparent;
  --torrent-tag-hover-fg: #000;
  --torrent-tag-hover-bg: rgba(255,255,255,0.4);

  --user-stat-card-bg: #989898;
  --user-stat-card-fg: #fff;
  --user-stat-card-border: none;
  --user-stat-card-border-radius: 0;
  --user-stat-card-box-shadow: none;
}
