:root {
  --text-color: #d8dee9;
  --color-dark-magenta: hsl(300, 10%, 25%);
  --color-dark-green: hsl(120, 10%, 25%);
  --color-dark-blue: hsl(240, 10%, 30%);
  --color-dark-red: hsl(0, 10%, 25%);
  --color-red: hsl(0, 20%, 40%);
  --color-light-red: hsl(0, 20%, 50%);
  --color-green: hsl(120, 20%, 40%);
  --color-light-green: hsl(120, 20%, 50%);
  --color-yellow: hsl(30, 20%, 40%);
  --color-light-yellow: hsl(30, 20%, 50%);
  --color-magenta: hsl(300, 20%, 40%);
  --color-light-magenta: hsl(300, 20%, 50%);
  --color-dark-purple: hsl(240, 20%, 30%);
  --color-purple: hsl(240, 20%, 40%);
  --color-light-purple: hsl(240, 20%, 50%);
  --color-blue: hsl(205, 35%, 50%);
  --color-light-blue: hsl(205, 35%, 60%);
  --color-bright-white: hsl(0, 0%, 100%);
  --color-light-orange: hsl(20, 20%, 50%);

  --message-bubble-bg: #4c566a;
  --message-bubble-fg: #d8dee9;
  --message-bubble-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  --message-bubble-border-radius: 20px;
  --message-bubble-border: none;
  --message-bubble-avatar-border-radius: 50%;

  --achievement-fg: #d8dee9;
  --achievement-bg: #3b4252;

  --alert-bg: #242933;
  --alert-fg: #d8dee9;

  --article-card-bg: #3b4252;
  --article-card-fg: #d8dee9;
  --article-card-head-fg: #d8dee9;
  --article-card-time-fg: #d8dee9;
  --article-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);

  --bbcode-input-header-bg: #3b4252;
  --bbcode-input-body-bg: #3b4252;
  --bbcode-input-border: 1px solid #4c566a;
  --bbcode-input-border-radius: 10px;

  --bbcode-rendered-fg-default: #d8dee9;
  --bbcode-rendered-fg-muted: #d8dee9;
  --bbcode-rendered-fg-subtle: #d8dee9;
  --bbcode-rendered-canvas-default: #3b4252;
  --bbcode-rendered-canvas-subtle: #313131;
  --bbcode-rendered-border-default: #3c3d3d;
  --bbcode-rendered-border-muted: #464749;
  --bbcode-rendered-neutral-muted: #2e3440;
  --bbcode-rendered-accent-fg: #58a6ff;
  --bbcode-rendered-accent-emphasis: #2260be;
  --bbcode-rendered-attention-subtle: #7289da;
  --bbcode-rendered-danger-fg: #bf616a;
  --bbcode-rendered-quote-bg: #6662;
  --bbcode-rendered-quote-border: #81a1c1;

  --body-bg: #2e3440;
  --body-fg: #d8dee9;

  --breadcrumb-fg: #d8dee9;
  --breadcrumb-active-fg: #e5e9f0;
  --breadcrumb-hover-fg: #eceff4;
  --breadcrumb-inactive-text-decoration: none;

  --button-filled-bg: #8fbcbb;
  --button-filled-border: none;
  --button-filled-border-radius: 9999px;
  --button-filled-fg: #eceff4;

  --button-outlined-bg: inherit;
  --button-outlined-border: 1px solid #4c566a;
  --button-outlined-border-radius: 9999px;
  --button-outlined-fg: currentColor;

  --button-text-bg: inherit;
  --button-text-border: none;
  --button-text-border-radius: 5px;
  --button-text-fg: currentColor;

  --comparison-divider-fg: #fff;
  --comparison-button-fg: #fff;

  --data-table-fg: var(--text-color);
  --data-table-th-bg: #3b4252;
  --data-table-thead-border: none;
  --data-table-tr-border: none;
  --data-table-tr-even-bg: #3b4252;
  --data-table-tr-hover-bg: #434c5e;
  --data-table-tr-odd-bg: #3b4252;
  --data-table-tfoot-border: none;

  --dialog-bg: #3b4252;
  --dialog-border: none;
  --dialog-border-radius: 10px;
  --dialog-box-shadow: none;
  --dialog-fg: #d8dee9;
  --dialog-head-bg: #3b4252;
  --dialog-head-fg: #d8dee9;

  --fieldset-bg: inherit;
  --fieldset-fg: #5e81ac;
  --fieldset-border-radius: 10px;
  --fieldset-border: 1px solid #4c566a;

  --icon-button-bg: inherit;
  --icon-button-border: none;
  --icon-button-border-radius: 9999px;
  --icon-button-fg: currentColor;

  --icon-button-filled-bg: var(--color-green);
  --icon-button-filled-fg: white;
  --icon-button-filled-border: none;

  --input-text-border: 1px solid #4c566a;
  --input-text-border-active: 2px solid #88c0d0;
  --input-text-border-error: 1px solid #bf616a;
  --input-text-border-hover: 2px solid #8fbcbb;
  --input-text-border-radius: 10px;
  --input-text-fg: #bbb;
  --input-text-padding: 12px;
  --input-text-padding-active: 11px;
  --input-text-padding-hover: 11px;

  --key-value-even-bg: #3b4252;
  --key-value-fg: var(--text-color);
  --key-value-odd-bg: #3b4252;
  --key-value-padding: 10px;

  --label-bg: #eceff4;
  --label-fg: #5e81ac;
  --label-fg-active: #88c0d0;
  --label-fg-error: #bf616a;
  --label-fg-hover: #8fbcbb;

  --legend-fg: #5e81ac;
  --legend-bg: transparent;
  --legend-border: none;
  --legend-border-radius: 0;

  --mediahub-card-bg: #4C566A;
  --mediahub-card-fg: #d8dee9;
  --mediahub-card-hover-fg: #fff;
  --mediahub-card-border: none;
  --mediahub-card-border-radius: 10px;
  --mediahub-card-box-shadow: none;

  --meta-backdrop-filter:  brightness(30%);
  --meta-dropdown-backdrop-filter:  brightness(2) blur(10px);
  --meta-dropdown-bg: #4449;
  --meta-dropdown-backdrop-filter-hover:  brightness(2) blur(10px);
  --meta-dropdown-hover-bg: rgba(255,255,255,0.1);
  --meta-dropdown-fg: #d8dee9;
  --meta-dropdown-hover-fg: #e5e9f0;
  --meta-description-fg: #d8dee9;
  --meta-id-tag-fg: #d8dee9;
  --meta-id-tag-bg: transparent;
  --meta-id-tag-hover-fg: #eceff4;
  --meta-id-tag-hover-bg: rgba(255,255,255,0.1);
  --meta-chips-heading-fg: #d8dee9;
  --meta-chip-icon-fg: #d8dee9;
  --meta-chip-icon-hover-bg: #eceff4;
  --meta-chip-icon-bg: #e5e9f0;
  --meta-chip-name-fg: #d8dee9;
  --meta-chip-value-fg: #d8dee9;
  --meta-chip-value-hover-fg: #d8dee9;
  --meta-chip-backdrop-filter-hover:  brightness(2) blur(10px);
  --meta-chip-hover-bg: rgba(255,255,255,0.1);

  --meter-fg: #8fbcbb;
  --meter-bg: #5e81ac;

  --notification-read: transparent;
  --notification-unread: #a3be8c;

  --option-bg: #4c566a;
  --option-fg: #d8dee9;

  --paginate-bg: #3b4252;
  --paginate-bg-hover: #434c5e;
  --paginate-bg-current: #4c566a;
  --paginate-fg: #d8dee9;
  --paginate-fg-disabled: #d8dee9;
  --paginate-divider: #d8dee9;

  --panel-action-fg: #aaa;
  --panel-border: none;
  --panel-bg: #272727;
  --panel-fg: var(--text-color);
  --panel-box-shadow: none;
  --panel-border-radius: 0;
  --panel-head-bg: transparent;
  --panel-head-fg: #fff;

  --post-bg: #4c566a;
  --post-fg: #d8dee9;
  --post-shadow: none;
  --post-head-fg: #d8dee9;
  --post-head-bg: #434c5e;
  --post-toolbar-bg: #434c5e;
  --post-toolbar-fg: #ccc;
  --post-toolbar-hover-bg: #4c566a;
  --post-toolbar-hover-fg: inherit;
  --post-like-fg: #a3be8c;
  --post-dislike-fg: #bf616a;
  --post-aside-bg: #4c566a;
  --post-aside-fg: #d8dee9;
  --post-footer-fg: #d8dee9;

  --quick-search-bg: #3B4252;
  --quick-search-fg: #d8dee9;
  --quick-search-border: none;
  --quick-search-border-radius: 18px;
  --quick-search-box-shadow: 0 4px 6px rgba(32, 33, 36, 0.28);
  --quick-search-selector-fg: #b6b6b6;
  --quick-search-selector-hover-bg: #434c5e;
  --quick-search-selector-hover-fg: #e5e9f0;
  --quick-search-selector-selected-bg: #4c566a;
  --quick-search-selector-selected-fg: #e5e9f0;
  --quick-search-result-bg: #3b4252;
  --quick-search-result-fg: #d8dee9;
  --quick-search-result-hover-bg: #4c566a;
  --quick-search-result-hover-fg: #d8dee9;
  --quick-search-result-image-border-radius: 5px;
  --quick-search-result-year-fg: #d8dee9;
  --quick-search-result-border: 1px solid #3b4252;

  --scrollbar-color: #ffffff19;

  --secondary-nav-bg: #242933;
  --secondary-nav-tab-fg: #d8dee9;
  --secondary-nav-tab-bg: inherit;
  --secondary-nav-tab-active-text-decoration: transparent #81a1c1 2px;
  --secondary-nav-tab-hover-fg: #88c0d0;
  --secondary-nav-tab-hover-bg: transparent;
  --secondary-nav-tab-hover-text-decoration: transparent #81a1c1 2px;
  --secondary-nav-tab-menu-bg: #2e3440;
  --secondary-nav-tab-menu-fg: inherit;
  --secondary-nav-tab-menu-border: none;
  --secondary-nav-tab-menu-border-radius: 6px;
  --secondary-nav-tab-menu-box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2);


  --select-border: 1px solid #4c566a;
  --select-border-active: 2px solid #88c0d0;
  --select-border-error: 1px solid #bf616a;
  --select-border-hover: 2px solid #8fbcbb;
  --select-border-radius: 10px;
  --select-fg: #5e81ac;
  --select-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='%235e81ac' d='M6 8l-1 1l5 5l5-5l-1-1l-4 4l-4-4z'/></svg>");
  --select-padding: 11px 23px 11px 11px;
  --select-padding-active: 10px 22px 10px 10px;
  --select-padding-hover: 10px 22px 10px 10px;

  --subforum-listing-odd-bg: #3b4252;
  --subforum-listing-even-bg: #3b4252;
  --subforum-listing-border: none;

  --textarea-border: 1px solid #4c566a;
  --textarea-border-active: 2px solid #88c0d0;
  --textarea-border-error: 1px solid #bf616a;
  --textarea-border-hover: 2px solid #8fbcbb;
  --textarea-border-radius: 10px;
  --textarea-fg: #bbb;
  --textarea-padding: 12px;
  --textarea-padding-active: 11px;
  --textarea-padding-hover: 11px;

  --top-nav-bg: #2c323d;
  --top-nav-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  --top-nav-dropdown-fg: #d8dee9;
  --top-nav-dropdown-hover-fg: #eceff4;
  --top-nav-dropdown-hover-bg: #3b4252;
  --top-nav-dropdown-hover-text-decoration: none;
  --top-nav-dropdown-menu-bg: #2e3440;
  --top-nav-dropdown-menu-border: none;
  --top-nav-dropdown-menu-border-radius: 6px;
  --top-nav-dropdown-menu-box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2);
  --top-nav-dropdown-menu-item-fg: #d8dee9;
  --top-nav-dropdown-menu-item-bg: #2e3440;
  --top-nav-dropdown-menu-item-hover-fg: #eceff4;
  --top-nav-dropdown-menu-item-hover-bg: #3b4252;
  --top-nav-dropdown-menu-item-hover-text-decoration: none;
  --top-nav-dropdown-menu-item-icon-fg: #d8dee9;
  --top-nav-dropdown-menu-item-icon-bg: #434c5e;
  --top-nav-ratio-bar-fg: #d8dee9;
  --top-nav-icon-bar-icon-bg: #434c5e;
  --top-nav-icon-bar-icon-fg: #d8dee9;
  --top-nav-icon-bar-icon-border-radius: 50%;
  --top-nav-icon-bar-icon-hover-bg: #4c566a;
  --top-nav-icon-bar-icon-hover-fg: #e5e9f0;
  --top-nav-stats-fg: #d8dee9;
  --top-nav-toggle-fg: #d8dee9;

  --torrent-card-bg: #434c5e;
  --torrent-card-fg: #d8dee9;
  --torrent-card-border: none;
  --torrent-card-head-bg: #434c5e;
  --torrent-card-head-fg: #d8dee9;
  --torrent-card-link-fg: #d8dee9;
  --torrent-card-genre-fg: #d8dee9;

  --torrent-group-bg: #3b4252;
  --torrent-group-header-bg: #434c5e;
  --torrent-group-text: inherit;
  --torrent-group-text-muted: #d8dee9;
  --torrent-group-table-stripe: rgba(0, 0, 0, 0.04);
  --torrent-group-hover-brightness-emphasis: 1.05;
  --torrent-group-chip-border: #4c566a;

  --torrent-row-fg: #d8dee9;
  --torrent-row-visited-fg: inherit;
  --torrent-row-sticky-bg: #4c566a;
  --torrent-row-format-fg: inherit;
  --torrent-row-format-bg: transparent;
  --torrent-row-buttons-fg: currentColor;
  --torrent-row-seeders-fg: #a3be8c;
  --torrent-row-leechers-fg: #bf616a;
  --torrent-row-completed-fg: #88c0d0;
  --torrent-row-thanks-fg: #bf616a;
  --torrent-row-comments-fg: #a3be8c;
  --torrent-row-internal-fg: #baaf94;
  --torrent-row-personal-fg: #b48ead;
  --torrent-row-stream-optimized-fg: #bf616a;
  --torrent-row-featured-fg: #bf616a;
  --torrent-row-freeleech-fg: #ebcb8b;
  --torrent-row-double-upload-fg: #a3be8c;
  --torrent-row-sticky-fg: #111111;
  --torrent-row-highspeed-fg: #bf616a;
  --torrent-row-sd-fg: #d08770;
  --torrent-row-bumped-fg: #d08770;

  --torrent-tag-fg: #d8dee9;
  --torrent-tag-bg: #eceff4;
  --torrent-tag-hover-fg: #2e3440;
  --torrent-tag-hover-bg: #eceff477;

  --user-stat-card-bg: #4C566A;
  --user-stat-card-fg: #d8dee9;
  --user-stat-card-border: none;
  --user-stat-card-border-radius: 10px;
  --user-stat-card-box-shadow: none;
}

/* Links
---------------------------------------------------------------------------- */

a {
  color: #88c0d0;
}

a:hover {
  color: #eceff4
}

/* General
---------------------------------------------------------------------------- */

ul, time, pre {
  color: inherit;
}

hr {
  border-top: 1px solid #4c566a;
}

/* Panels
---------------------------------------------------------------------------- */

.panelV2 {
  background-color: transparent;
}


.panelV2 > :nth-child(2) {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.panelV2 > :not(:has(~ :not([style*="display: none"]))) {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}


.panel__header,
.panel__heading,
.panel__actions,
.panel__action {
  /* background-color: #2e3440; */
  background-color: inherit;
  color: #d8dee9;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.panel__action .form__label--floating {
  background-color: #2e3440;
}

.panel__body {
  background-color: #3b4252;
}

.panel__tab {
  color: #81a1c1;
}

.panel__tab--active {
  color: #88c0d0;
  border-bottom: 1px solid #88c0d0;
}

/* Achievements
---------------------------------------------------------------------------- */

.achievement__progress::-moz-progress-bar,
.achievement__progress::-webkit-progress-value {
  background-color: #8fbcbb;
}

/* Featured Carousel
---------------------------------------------------------------------------- */
.featured-carousel__next:hover,
.featured-carousel__previous:hover {
  background-color: #434c5e;
}

/* Top Nav Notifications
---------------------------------------------------------------------------- */

svg > circle:first-child {
  stroke: #ebcb8b;
}

svg > circle:last-child {
  fill: #ebcb8b;
}

/* Forums
---------------------------------------------------------------------------- */

.topic-listings__item:hover {
  background-color: #434c5e;
}

.page__forum--topic > article > div > section > .panel__body {
  background-color: transparent;
  padding: 12px 0 8px 0;
}

.page__forum--topic > article > div > section > .panel__header > .panel__heading {
  font-size: 16px;
  text-transform: initial;
}

.post__content.post__content.post__content {
  background-color: #434c5e;
}

/* Notifications
---------------------------------------------------------------------------- */

.notification--read, .notification--unread {
  border-left: none !important;
}

.notification--unread::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: var(--notification-unread);
}

/* BBCode input
---------------------------------------------------------------------------- */

.bbcode-input__tab-input:checked + .bbcode-input__tab-label {
  color: #88c0d0;
  border-bottom: 2px solid #88c0d0;
}

.bbcode-input__tab-label {
  color: #81a1c1;
}

.bbcode-input__icon-bar-toggle {
  color: #81a1c1;
}

/* Chromium browsers don't allow changing the background color to transparent */
::-webkit-resizer {
  background-color: inherit;
}

/* Playlists
---------------------------------------------------------------------------- */
.playlists__playlist {
  background-color: #434c5e;
}

.playlists__playlist-image--none {
  background-color: #4c566a;
}

.playlists__playlist-name {
  color: #d8dee9;
}

.playlist__description.playlist__description.playlist__description {
  background-color: transparent;
}

/** Chat box
---------------------------------------------------------------------------- */

/* messages */
.panel-chat > .panel-body > #frame > .content {
  background-color: #3b4252;
}

/* Message content */
.sent .text-bright {
  color: #e5e9f0;
}

/* Message timestamps */
#frame .content .messages ul li.sent h4 .text-muted {
  color: #d8dee9;
  font-size: 12px;
  font-weight: normal;
}

/* Message user */
.sent .badge-user {
  background-color: transparent;
  border: none;
  margin: 0;
}

/* Heading */
#chatbody h4 {
  font-size: 12px;
  font-weight: bold;
}

#chatbody .form__button {
  font-size: 12px;
}

/* Chatbox wrappers */
#frame {
  background-color: transparent;
}

.panel-body {
  background-color: transparent;
}

/* New message form containers */
.panel-footer {
  background-color: #3b4252;
  border: none;
}

.message-input,
.message-input > .row {
  background-color: inherit;
}

/* Torrent page
 ---------------------------------------------------------------------------*/

.torrent__name {
  color: #d8dee9;
}

.torrent__buttons {
  color: #d8dee9;
}

.meta__title {
  color: #d8dee9;
}

/* Footer
---------------------------------------------------------------------------- */

.footer {
  color: #d8dee9;
}
