:root {
  --text-color: #e2e2e2;
  --color-dark-magenta: hsl(300, 10%, 25%);
  --color-dark-green: hsl(120, 10%, 25%);
  --color-dark-blue: hsl(240, 10%, 30%);
  --color-dark-red: hsl(0, 10%, 25%);
  --color-red: hsl(0, 20%, 40%);
  --color-light-red: hsl(0, 20%, 50%);
  --color-green: hsl(120, 20%, 40%);
  --color-light-green: hsl(120, 20%, 50%);
  --color-yellow: hsl(30, 20%, 40%);
  --color-light-yellow: hsl(30, 20%, 50%);
  --color-magenta: hsl(300, 20%, 40%);
  --color-light-magenta: hsl(300, 20%, 50%);
  --color-dark-purple: hsl(240, 20%, 30%);
  --color-purple: hsl(240, 20%, 40%);
  --color-light-purple: hsl(240, 20%, 50%);
  --color-blue: hsl(205, 35%, 50%);
  --color-light-blue: hsl(205, 35%, 60%);
  --color-bright-white: hsl(0, 0%, 100%);
  --color-light-orange: hsl(20, 20%, 50%);

  --message-bubble-bg: #363636;
  --message-bubble-fg: currentColor;
  --message-bubble-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  --message-bubble-border-radius: 20px;
  --message-bubble-border: none;
  --message-bubble-avatar-border-radius: 50%;

  --button-filled-bg: var(--color-green);

  --achievement-fg: inherit;
  --achievement-bg: #2c2c2c;
  --achievement-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  --achievement-progress-bg: #8fbcbb;

  --alert-bg: #232323;
  --alert-fg: #aaa;
  --alert-gap-color: transparent;
  --alert-gap-width: 0;

  --article-card-bg: #232323;
  --article-card-fg: #aaa;
  --article-card-head-fg: #aaa;
  --article-card-time-fg: #aaa;
  --article-box-shadow: none;

  --bbcode-input-header-bg: #272727;
  --bbcode-input-body-bg: #272727;
  --bbcode-input-border: 1px solid #424242;
  --bbcode-input-border-radius: 0;

  --bbcode-rendered-fg-default: #c9d1d9;
  --bbcode-rendered-fg-muted: #8b949e;
  --bbcode-rendered-fg-subtle: #484f58;
  --bbcode-rendered-canvas-default: transparent;
  --bbcode-rendered-canvas-subtle: #313131;
  --bbcode-rendered-border-default: #3c3d3d;
  --bbcode-rendered-border-muted: #464749;
  --bbcode-rendered-neutral-muted: #46484b66;
  --bbcode-rendered-accent-fg: #58a6ff;
  --bbcode-rendered-accent-emphasis: #2260be;
  --bbcode-rendered-attention-subtle: #7289da;
  --bbcode-rendered-danger-fg: #ff141ccc;
  --bbcode-rendered-quote-bg: #6662;
  --bbcode-rendered-quote-border: var(--color-green);

  --body-bg: #1A1A1A;
  --body-fg: var(--text-color);

  --breadcrumb-fg: #777;
  --breadcrumb-active-fg: #aaa;
  --breadcrumb-hover-fg: #ddd;
  --breadcrumb-inactive-text-decoration: none;

  --button-filled-bg: var(--color-green);
  --button-filled-border: none;
  --button-filled-border-radius: 2px;
  --button-filled-fg: white;

  --button-outlined-bg: inherit;
  --button-outlined-border: 1px solid #424242;
  --button-outlined-border-radius: 2px;
  --button-outlined-fg: currentColor;

  --button-text-bg: inherit;
  --button-text-border: none;
  --button-text-border-radius: 2px;
  --button-text-fg: currentColor;

  --comparison-divider-fg: #fff;
  --comparison-button-fg: #fff;

  --data-table-fg: var(--text-color);
  --data-table-th-bg: #2c2c2c;
  --data-table-thead-border: none;
  --data-table-tr-border: 1px solid #333;
  --data-table-tr-even-bg: #272727;
  --data-table-tr-hover-bg: #2c2c2c;
  --data-table-tr-odd-bg: #272727;
  --data-table-tfoot-border: none;

  --dialog-bg: #303030;
  --dialog-border: none;
  --dialog-border-radius: 0;
  --dialog-box-shadow: none;
  --dialog-fg: var(--text-color);
  --dialog-head-bg: #232323;
  --dialog-head-fg: #fff;

  --fieldset-bg: inherit;
  --fieldset-fg: #bbb;
  --fieldset-border-radius: 0;
  --fieldset-border: 1px solid #424242;

  --icon-button-bg: inherit;
  --icon-button-border: none;
  --icon-button-border-radius: 2px;
  --icon-button-fg: currentColor;

  --icon-button-filled-bg: var(--color-green);
  --icon-button-filled-fg: white;
  --icon-button-filled-border: none;

  --input-text-border: 1px solid #424242;
  --input-text-border-active: 2px solid #2195f3;
  --input-text-border-error: 1px solid #ba1b1b;
  --input-text-border-hover: 2px solid #999;
  --input-text-border-radius: 0;
  --input-text-fg: #bbb;
  --input-text-padding: 12px;
  --input-text-padding-active: 11px;
  --input-text-padding-hover: 11px;

  --key-value-even-bg: #272727;
  --key-value-fg: var(--text-color);
  --key-value-odd-bg: #272727;
  --key-value-padding: 10px;

  --label-bg: #e2e2e2;
  --label-fg: #424242;
  --label-fg-active: #2195f3;
  --label-fg-error: #ba1b1b;
  --label-fg-hover: #999;

  --legend-fg: #424242;
  --legend-bg: transparent;
  --legend-border: none;
  --legend-border-radius: 0;

  --mediahub-card-bg: transparent;
  --mediahub-card-fg: #aaa;
  --mediahub-card-hover-fg: #ddd;
  --mediahub-card-border: 1px solid #444;
  --mediahub-card-border-radius: 0;
  --mediahub-card-box-shadow: none;

  --meta-backdrop-filter:  brightness(30%);
  --meta-dropdown-backdrop-filter:  brightness(2) blur(10px);
  --meta-dropdown-bg: #4449;
  --meta-dropdown-backdrop-filter-hover:  brightness(2) blur(10px);
  --meta-dropdown-hover-bg: rgba(255,255,255,0.1);
  --meta-dropdown-fg: #bbb;
  --meta-dropdown-hover-fg: #ccc;
  --meta-description-fg: #ddd;
  --meta-id-tag-fg: #eee;
  --meta-id-tag-bg: transparent;
  --meta-id-tag-hover-fg: #fff;
  --meta-id-tag-hover-bg: rgba(255,255,255,0.1);
  --meta-chips-heading-fg: #bbb;
  --meta-chip-icon-fg: #1f1f1f;
  --meta-chip-icon-hover-bg: #bbb;
  --meta-chip-icon-bg: #cdcdcd;
  --meta-chip-name-fg: #e2e2e2;
  --meta-chip-value-fg: #aaa;
  --meta-chip-value-hover-fg: #ccc;
  --meta-chip-backdrop-filter-hover:  brightness(2) blur(10px);
  --meta-chip-hover-bg: rgba(255,255,255,0.1);

  --meter-fg: #333;
  --meter-bg: #505050;

  --notification-read: transparent;
  --notification-unread: var(--color-green);

  --option-bg: #2b2b2b;
  --option-fg: #ccc;

  --paginate-bg: #232323;
  --paginate-bg-hover: #373737;
  --paginate-bg-current: #292929;
  --paginate-fg: #888;
  --paginate-fg-disabled: #424242;
  --paginate-divider: #303030;

  --panel-action-fg: #aaa;
  --panel-border: none;
  --panel-bg: #272727;
  --panel-fg: var(--text-color);
  --panel-box-shadow: none;
  --panel-border-radius: 0;
  --panel-head-bg: #232323;
  --panel-head-fg: #fff;

  --post-bg: #2b2b2b;
  --post-fg: #ccc;
  --post-shadow: none;
  --post-head-fg: var(--text-color);
  --post-head-bg: #232323;
  --post-toolbar-bg: #232323;
  --post-toolbar-fg: #ccc;
  --post-toolbar-hover-bg: #262626;
  --post-toolbar-hover-fg: inherit;
  --post-like-fg: green;
  --post-dislike-fg: red;
  --post-aside-bg: #2B2B2B;
  --post-aside-fg: #ccc;
  --post-footer-fg: var(--text-color);

  --quick-search-bg: #1a1a1a;
  --quick-search-fg: #b6b6b6;
  --quick-search-border: 1px solid #363636;
  --quick-search-border-radius: 0;
  --quick-search-box-shadow: none;
  --quick-search-selector-fg: #b6b6b6;
  --quick-search-selector-hover-bg: #222;
  --quick-search-selector-hover-fg: #ddd;
  --quick-search-selector-selected-bg: #272727;
  --quick-search-selector-selected-fg: #ddd;
  --quick-search-result-bg: #222;
  --quick-search-result-fg: #ccc;
  --quick-search-result-hover-bg: #272727;
  --quick-search-result-hover-fg: #ccc;
  --quick-search-result-image-border-radius: 0;
  --quick-search-result-year-fg: #888;
  --quick-search-result-border: none;

  --scrollbar-color: #ffffff19;

  --secondary-nav-bg: #292929;
  --secondary-nav-tab-fg: #aaa;
  --secondary-nav-tab-bg: inherit;
  --secondary-nav-tab-active-text-decoration: none;
  --secondary-nav-tab-hover-fg: #ddd;
  --secondary-nav-tab-hover-bg: #303030;
  --secondary-nav-tab-hover-text-decoration: none;
  --secondary-nav-tab-menu-bg: #333;
  --secondary-nav-tab-menu-fg: inherit;
  --secondary-nav-tab-menu-border: none;
  --secondary-nav-tab-menu-border-radius: 0;
  --secondary-nav-tab-menu-box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2);

  --select-border: 1px solid #424242;
  --select-border-active: 2px solid #2195f3;
  --select-border-error: 1px solid #ba1b1b;
  --select-border-hover: 2px solid #999;
  --select-border-radius: 0;
  --select-fg: #bbb;
  --select-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='%23bbb' d='M6 8l-1 1l5 5l5-5l-1-1l-4 4l-4-4z'/></svg>");
  --select-padding: 11px 23px 11px 11px;
  --select-padding-active: 10px 22px 10px 10px;
  --select-padding-hover: 10px 22px 10px 10px;

  --subforum-listing-odd-bg: #2a2a2a;
  --subforum-listing-even-bg: transparent;
  --subforum-listing-border: none;

  --textarea-border: 1px solid #424242;
  --textarea-border-active: 2px solid #2196f3;
  --textarea-border-error: 1px solid #ba1b1b;
  --textarea-border-hover: 2px solid #999;
  --textarea-border-radius: 0;
  --textarea-fg: #bbb;
  --textarea-padding: 12px;
  --textarea-padding-active: 11px;
  --textarea-padding-hover: 11px;

  --top-nav-bg: transparent;
  --top-nav-box-shadow: none;
  --top-nav-dropdown-fg: #bbb;
  --top-nav-dropdown-hover-fg: #eee;
  --top-nav-dropdown-hover-bg: inherit;
  --top-nav-dropdown-hover-text-decoration: none;
  --top-nav-dropdown-menu-bg: inherit;
  --top-nav-dropdown-menu-border: none;
  --top-nav-dropdown-menu-border-radius: 4px;
  --top-nav-dropdown-menu-box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2);
  --top-nav-dropdown-menu-item-fg: #bbb;
  --top-nav-dropdown-menu-item-bg: transparent;
  --top-nav-dropdown-menu-item-hover-fg: inherit;
  --top-nav-dropdown-menu-item-hover-bg: transparent;
  --top-nav-dropdown-menu-item-hover-text-decoration: none;
  --top-nav-dropdown-menu-item-icon-fg: #ccc;
  --top-nav-dropdown-menu-item-icon-bg: transparent;
  --top-nav-ratio-bar-fg: #fff;
  --top-nav-icon-bar-icon-bg: transparent;
  --top-nav-icon-bar-icon-fg: #bbb;
  --top-nav-icon-bar-icon-border-radius: 50%;
  --top-nav-icon-bar-icon-hover-bg: transparent;
  --top-nav-icon-bar-icon-hover-fg: #b6b6b6;
  --top-nav-stats-fg: #999;
  --top-nav-toggle-fg: #999;

  --torrent-card-bg: #303030;
  --torrent-card-fg: var(--text-color);
  --torrent-card-border: none;
  --torrent-card-head-bg: #232323;
  --torrent-card-head-fg: #fff;
  --torrent-card-link-fg: #fff;
  --torrent-card-genre-fg: #fff;

  --torrent-group-bg: #202020;
  --torrent-group-header-bg: #3a3a3a;
  --torrent-group-text: white;
  --torrent-group-text-muted: #aaa;
  --torrent-group-table-stripe: rgba(255, 255, 255, 0.05);
  --torrent-group-hover-brightness-emphasis: 1.2;
  --torrent-group-chip-border: rgba(255, 255, 255, 0.05);

  --torrent-row-fg: #ccc;
  --torrent-row-visited-fg: #a295fe;
  --torrent-row-sticky-bg: #404040;
  --torrent-row-format-fg: #ccc;
  --torrent-row-format-bg: #3c3c3c;
  --torrent-row-buttons-fg: currentColor;
  --torrent-row-seeders-fg: #3fb618;
  --torrent-row-leechers-fg: #996666;
  --torrent-row-completed-fg: #42a5f5;
  --torrent-row-thanks-fg: #805e70;
  --torrent-row-comments-fg: #669966;
  --torrent-row-internal-fg: #baaf92;
  --torrent-row-personal-fg: #865be9;
  --torrent-row-stream-optimized-fg: #996666;
  --torrent-row-featured-fg: #997799;
  --torrent-row-freeleech-fg: #ffb800;
  --torrent-row-double-upload-fg: #619061;
  --torrent-row-sticky-fg: #cccccc;
  --torrent-row-highspeed-fg: #996666;
  --torrent-row-sd-fg: #997766;
  --torrent-row-bumped-fg: #f98a1e;

  --torrent-tag-fg: #eee;
  --torrent-tag-bg: transparent;
  --torrent-tag-hover-fg: #fff;
  --torrent-tag-hover-bg: rgba(255,255,255,0.1);

  --user-stat-card-bg: transparent;
  --user-stat-card-fg: #aaa;
  --user-stat-card-border: 1px solid #444;
  --user-stat-card-border-radius: 0;
  --user-stat-card-box-shadow: none;
}

/* Background */

body {
  display: grid;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 300;
  min-width: 1024px;
  grid-template-areas: "header" "alerts" "main" "footer";
  grid-template-rows: auto auto auto auto;
  row-gap: 2px !important;
  align-content: flex-start;
}

/* Alerts */

.alerts {
  grid-area: alerts;
}

.alert {
  padding: 8px 12px;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
  background: #232323;
  border: none;
  width: 1024px;
  max-width: 1024px;
  margin: 0 auto;
}

.special-event-alert {
  margin-top: 2px;
}

.cookie-consent {
  height: 38px;
  line-height: 38px;
  padding: 0 12px;
}

body > header {
  grid-area: header;
}

body > main {
  grid-area: main;
}

body > footer {
  grid-area: footer;
}



/* Main layout */

body > header {
  position: static;
  margin: 0;
}

.top-nav,
.secondary-nav,
main > article,
main > div > article {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0;
}

.sidebar2,
main > article, .sidebar2 > div,
.sidebar2 > aside {
  gap: 2px;
}

.sidebar2 > div {
  max-width: calc(100% - 240px);
}

.sidebar2 > aside {
  width: 240px;
}

/* Links
---------------------------------------------------------------------------- */

a {
  text-decoration: none;
  outline: 0;
  transition: color 0.1s ease-out;
  color: rgba(255, 255, 255, 0.7);
}

a:hover {
  color: #fff;
}

/* Panels
---------------------------------------------------------------------------- */

.panel__heading {
  height: 38px;
  padding: 0 12px;
  line-height: 38px;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
  background: #232323;
}

.panel__body {
  padding: 10px;
  font-size: 12px;
}

.panel__tab {
  border-bottom: none;
}

.panel__tabs {
  background-color: #232323;
}

.panel__tab:hover {
  color: rgb(52, 172, 224);
  background-color: #303030;
}

.panel__tab--active {
  background-color: #373737;
  color: rgb(52, 172, 224);
  border-bottom: none;
}

.panel__action {
  font-size: 12px;
}

/* Top nav
---------------------------------------------------------------------------- */

.top-nav {
  grid-template-areas:
        "branding pms notifications modq staff . quick-search profile toggle"
        "ratio-bar ratio-bar ratio-bar ratio-bar ratio-bar ratio-bar ratio-bar ratio-bar ratio-bar"
        "menus menus menus menus menus menus menus menus menus";
  grid-template-columns: auto auto auto auto auto 1fr auto auto;
  grid-template-rows: 56px 40px 46px;
  column-gap: 12px;
}

.top-nav__left {
  display: contents;
}

.top-nav__branding {
  grid-area: "branding";
}

.top-nav__site-logo {
  font-size: 42px;
  font-weight: normal;
  color: white;
  background: none;
  text-shadow: none;
  font-family: "Roboto";
  -webkit-text-fill-color: inherit;
  color: #fff;
}

.top-nav__branding > i {
  display: none;
}

.quick-search {
  grid-area: quick-search;
}

.top-nav__right {
  display: contents;
}

.top-nav__ratio-bar.top-nav__ratio-bar {
  grid-area: ratio-bar;
  grid-template-areas: "uploaded downloaded ratio_ buffer seeding leeching points tokens warnings";
  grid-template-columns: auto;
  grid-template-rows: auto;
  color: #fff;
  font-size: 12px;
  justify-content: space-around;
}

.top-nav__ratio-bar i:before {
  color: #fff;
}

.ratio-bar__uploaded {
  grid-area: uploaded;
}

.ratio-bar__uploaded i:before {
  content: "Upload: ";
  font-family: "Roboto";
  font-weight: normal;
}

.ratio-bar__downloaded i:before {
  grid-area: downloaded;
}

.ratio-bar__downloaded i:before {
  content: "Download: ";
  font-family: "Roboto";
  font-weight: normal;
}

.ratio-bar__seeding {
  grid-area: seeding;
}

.ratio-bar__seeding i:before {
  content: "Seeding: ";
  font-family: "Roboto";
  font-weight: normal;
}

.ratio-bar__leeching {
  grid-area: leeching;
}

.ratio-bar__leeching i:before {
  content: "Leeching: ";
  font-family: "Roboto";
  font-weight: normal;
}

.ratio-bar__buffer {
  grid-area: buffer;
}

.ratio-bar__buffer i:before {
  content: "Buffer: ";
  font-family: "Roboto";
  font-weight: normal;
}

.ratio-bar__points {
  grid-area: points;
}

.ratio-bar__points i:before {
  content: "BON: ";
  font-family: "Roboto";
  font-weight: normal;
}

.ratio-bar__ratio {
  grid-area: ratio_;
}

.ratio-bar__ratio i:before {
  content: "Ratio: ";
  font-family: "Roboto";
  font-weight: normal;
}

.ratio-bar__tokens {
  grid-area: tokens;
}

.ratio-bar__tokens i:before {
  content: "FL Tokens: ";
  font-family: "Roboto";
  font-weight: normal;
}


.top-nav__icon-bar {
  display: contents;
}

.top-nav__icon-bar > li:nth-last-child(1) {
  grid-area: profile;
}

.top-nav__icon-bar > li:nth-last-child(2) {
  grid-area: notifications;
}

.top-nav__icon-bar > li:nth-last-child(3) {
  grid-area: pms;
}

.top-nav__icon-bar > li:nth-last-child(4) {
  grid-area: modq;
}

.top-nav__icon-bar > li:nth-last-child(5) {
  grid-area: staff;
}

.top-nav__icon-bar > .top-nav__dropdown > ul {
  right: initial;
  top: 46px;
  background-color: #232323;
}


.top-nav__icon-bar > .top-nav__dropdown > ul > li:hover {
  background-color: #292929;
}

.top-nav__main-menus > li {
  width: 100%;
}

.top-nav__main-menus > li > a {
  margin: 0;
  border-radius: 0;
  height: 46px;
  padding: 0 12px;
  line-height: 46px;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
  color: #fff;
}

.top-nav__main-menus > li > ul > li:hover {
  filter: brightness(110%);
  backdrop-filter: brightness(110%);
}

.top-nav__main-menus > li:nth-child(1) {
  background: #894545;
  border-top-left-radius: 4px;
}

.top-nav__main-menus > li:nth-child(1) > ul {
  background: #894545;
}

.top-nav__main-menus > li:nth-child(2),
.top-nav__main-menus > li:nth-child(2) > ul {
  background: #8D5629;
}

.top-nav__main-menus > li:nth-child(3),
.top-nav__main-menus > li:nth-child(3) > ul {
  background: #8D7F20;
}

.top-nav__main-menus > li:nth-child(4),
.top-nav__main-menus > li:nth-child(4) > ul {
  background: #678120;
}

.top-nav__main-menus > li:nth-child(5),
.top-nav__main-menus > li:nth-child(5) > ul {
  background: #276F29;
}

.top-nav__main-menus > li:nth-child(6),
.top-nav__main-menus > li:nth-child(6) > ul {
  background: #267C57;
}

.top-nav__main-menus > li:nth-child(7),
.top-nav__main-menus > li:nth-child(7) > ul {
  background: #398787;
}

.top-nav__main-menus > li:last-child {
  border-top-right-radius: 4px;
}

.top-nav__main-menus > li:nth-child(4) > ul {
  background: #678120;
}

.top-nav__dropdown > ul > li > a, .top-nav__dropdown > ul > li > form > button {
  font-size: 13px;
}

.top-nav__dropdown > ul {
  box-shadow: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  top: 142px;
  width: auto;
  padding: 0;
}

.nav-tab-menu__items {
  top: 180px;
  box-shadow: none;
  border-radius: 0;
  background: #292929;
  padding: 0;
  margin: 0;
}

.top-nav__dropdown > ul > li > a, .top-nav__dropdown > ul > li > form > button {
  width: 256px;
}

/* Secondary nav
---------------------------------------------------------------------------- */

.secondary-nav {
  height: 38px;
  padding: 0 12px;
  line-height: 38px;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
  background: #232323;
}

.breadcrumbsV2 {
  font-size: 11px;
}

.nav-tab__link, .nav-tab--active__link {
  font-size: 11px;
  padding: 0 18px;
}

.nav-tab--active__link {
  background-color: #2c2c2c;
}

/* Forums
---------------------------------------------------------------------------- */

.page__forums--index > article {
  flex-direction: column;
}

.page__forums--index > article > div,
.page__forums--index > article > aside {
  max-width: 100%;
  width: 100%;
}

.subforum-listing {
  grid-template-areas: "figure header latest topics posts";
  grid-template-columns: 20px 220px 1fr 44px 54px;
  padding: 2px;
}

.subforum-listing__heading {
  font-size: 12px;
}

.subforum-listing__description {
  display: none;
}

.subforum-listing__icon {
  font-size: 12px;
}

.subforum-listing__latest-topic {
  grid-template-areas: "heading . author datetime";
  grid-template-columns: "auto 1fr auto auto";
}

.subforum-listing__latest-heading {
  font-size: 12px;
}

.subforum-listing__latest-author {
  font-size: 12px;
}

.subforum-listing__latest-author::before {
  content: "by ";
}

.subforum-listing__latest-author::after {
  content: '';
  display: inline-block;
  margin-right: 1ch;
}

.subforum-listing__latest-datetime {
  font-size: 12px;
}

.subforum-listing__topic-stats dt {
  display: none;
}

.subforum-listing__topic-stats dd::before {
  content: "T: "
}

.subforum-listing__post-stats dt {
  display: none;
}

.subforum-listing__post-stats dd::before {
  content: "P: "
}

/* Topic listing */
.page__forum--display .sidebar2 {
  flex-direction: column-reverse;
}

.page__forum--display .sidebar2 > div,
.page__forum--display .sidebar2 > aside {
  max-width: 100%;
  width: 100%;
}

.page__forum--display .sidebar2 > aside .panel__body {
  padding: 8px;
}

.page__forum--display .sidebar2 > aside form {
  flex-direction: row;
  padding-top: 0;
}

.topic-listing {
  grid-template-areas: "figure header latest posts views";
  grid-template-columns: 100px 1fr 180px 72px 72px;
}

.topic-listing__figure {
  flex-direction: row;
  gap: 8px;
}

.topic-listing__heading {
  font-size: 12px;
  font-weight: normal;
}

.topic-listing__author {
  display: none;
}

.topic-listing__view-stats dt {
  display: none;
}

.topic-listing__view-stats dd::before {
  content: "T: "
}

.topic-listing__post-stats dt {
  display: none;
}

.topic-listing__post-stats dd::before {
  content: "P: "
}


.topic-listing__latest-post {
  flex-direction: row-reverse;
}

.topic-listing__latest-author::before {
  content: "by ";
}

.topic-listing__latest-author::after {
  content: '';
  display: inline-block;
  margin-right: 1ch;
}

/* Topic */

.page__forum--topic > .sidebar2 > div > .panelV2 {
  background-color: transparent;
}

.page__forum--topic > .sidebar2 > div > .panelV2 > .panel__body {
  padding: 0;
  background-color: transparent;
}

.topic-posts {
  row-gap: 2px;
  margin-top: 2px;
}

/* Posts */

.post {
  border-radius: 0;
  grid-template-areas: "header header" "aside content" "aside footer";
}

.post__aside {
  padding: 0;
}

.post__avatar {
  border-radius: 0;
}

.post__author,
.post__author-join,
.post__author-topics,
.post__author-posts {
  padding: 0 9px;
}

.post__author-posts {
  padding-bottom: 9px;
}

.post__content {
  padding: 9px;
}

/* Key value pairs
---------------------------------------------------------------------------- */

.key-value dt, .key-value dd {
  font-size: 11px;
}

/* Forms
---------------------------------------------------------------------------- */

.form {
  gap: 6px;
  padding-top: 6px;
}

.form__group--horizontal {
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 6px;
}

.form__group--short-horizontal {
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 6px;
}

.form__label {
  font-size: 11px;
}

.form__fieldset {
  padding: 4px 6px 6px 6px;
}

.form__fieldset-checkbox-container {
  padding: 0 6px 6px 6px;
  margin: 0 -6px -6px -6px;
}

.form__text {
  font-size: 11px;
  height: 36px;
}

.form__select {
  font-size: 11px;
  height: 36px;
}

.form__textarea {
  font-size: 12px;
  height: 36px;
}

/* Buttons
---------------------------------------------------------------------------- */

.form__button {
  font-size: 12px;
  padding: 6px 8px;
}

.form__standard-icon-button {
  font-size: 12px;
  padding: 12px;
  min-height: 24px;
  min-width: 24px;
}

/* BBCode
---------------------------------------------------------------------------- */

.bbcode-rendered.bbcode-rendered {
  font-size: 13px;
}

/* BBCode input
---------------------------------------------------------------------------- */

.bbcode-input {
  /* border-radius: 0; */
  /* border: none; */
}

.bbcode-input__tabs,
.bbcode-input__icon-bar-toggle {
  background-color: #232323;
  /* border-radius: 0; */
}

.bbcode-input__tab-pane {
  /* border-radius: 0; */
}

/* Pagination
---------------------------------------------------------------------------- */

.pagination,
.pagination__previous,
.pagination__next,
.pagination__current,
.pagination__link {
  font-size: 12px;
}

.pagination__ellipsis,
.pagination__current,
.pagination__link {
  width: 32px;
  min-width: 32px;
  height: 32px;
  line-height: 32px;
}

.pagination__previous,
.pagination__next {
  width: 70px;
  height: 32px;
  line-height: 32px;
}

/* Data table
---------------------------------------------------------------------------- */

.data-table > tr > th, .data-table > thead > tr > th, .data-table > tbody > tr > th, .data-table > tfoot > tr > th {
  height: 38px;
  padding: 0 12px;
  line-height: 38px;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
  background: #232323;
}

.data-table > tbody > tr > td, .data-table > tfoot > tr > td {
  padding: 4px;
  font-size: 12px;
}


/* Torrent row
---------------------------------------------------------------------------- */

.torrent-search__component {
  row-gap: 2px;
}

.torrent-search__results {
  margin: 0;
}

.torrent-search__results  .panel__body {
  padding: 0;
  background-color: #1a1a1a;
}

.torrent-search--list__row {
  grid-template-columns: 34px 60px 1fr 106px 30px 70px 38px 38px 38px 80px;
}

.torrent-search--list__poster {
  padding: 0 !important;
  border-radius: 0;
}

.torrent-search--list__poster-img {
  width: 34px;
  border-radius: 0;
}

.torrent-search--list__format > div {
  display: grid;
  place-items: center;
  height: 100%;
}

.torrent-search--list__category {
  display: none;
}

.torrent-search--list__resolution-and-type {
  flex-direction: column-reverse;
  background-color: transparent;
  padding: 0;
}

.torrent-search--list__name {
  font-size: 13px;
  font-weight: bold;
  padding: 0;
  line-height: 1;
}

.torrent-search--list__buttons > div {
  display: flex;
}

.torrent-search--list__overview > div {
  gap: 4px;
}

.torrent-search--list__uploader, .torrent-icons {
  font-size: 10px;
}

.torrent-search__filters {
  margin: 0;
}

/* Torrent cards
---------------------------------------------------------------------------- */

.torrent-card {
  box-shadow: none;
  border-radius: 0;
}

.torrent-search--card__results {
  grid-gap: 2px;
  border-top: 2px solid #1a1a1a;
  border-bottom: 2px solid #1a1a1a;
}

/* Torrent groupings
---------------------------------------------------------------------------- */

.torrent-search--grouped__result:first-child {
  margin-top: 2px;
}

.torrent-search--grouped__result {
  box-shadow: none;
  border-radius: 0;
  margin: 0 0 2px 0;
}

/* Stats
---------------------------------------------------------------------------- */

.stats__panels {
  gap: 2px;
}

/* Playlists
---------------------------------------------------------------------------- */

.playlists__playlist {
  border-radius: 0;
  box-shadow: none;
}

/* Articles
---------------------------------------------------------------------------- */

.article-preview {
  border-radius: 0;
}

/* Comments
---------------------------------------------------------------------------- */

#comments .panel__body {
  padding: 0;
  background-color: #1a1a1a;
}

.comment-list {
  gap: 2px;
}

.comment__reply-list {
  margin-top: 2px;
}

.comment {
  grid-template-areas: "header header" "aside content";
  border-radius: 0;
}


/* Dashboard
---------------------------------------------------------------------------- */

.dashboard__menus {
  gap: 2px;
}

.dashboard__stats {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 2px;
}

/* Notifications
---------------------------------------------------------------------------- */

.top-nav__dropdown > a > .top-nav--left__container > svg {
  top: 6px;
  right: -6px;
}

/* Torrent page
---------------------------------------------------------------------------- */

.meta {
  max-height: 420px;
}

.meta__backdrop {
  display: none;
}

.meta__poster {
  width: 260px;
  border-radius: 0;
}

.torrent__tags {
  font-size: 12px;
}

.meta__chips {
  gap: 12px;
}

.meta-chip {
  grid-template-columns: 32px auto;
  gap: 2px 14px;
  padding: 4px 12px 4px 4px;
}

.meta-chip__icon {
  width: 32px;
  height: 32px;
  line-height: 32px;
}

.meta-chip__image {
  width: 32px;
  height: 32px;
}

.meta-chip__name,
.meta-chip__value {
  font-size: 12px;
}

.mediainfo {
  font-size: 12px;
}

/* Chat box
---------------------------------------------------------------------------- */

#chatbody h4 {
  font-size: 12px;
}

/* messages */
.panel-chat > .panel-body > #frame > .content {
  background-color: #2c2c2c;
}

/* Message content */
.sent .text-bright {
  color: #ccc;
}

/* Message timestamps */
#frame .content .messages ul li.sent h4 .text-muted {
  color: #bbb;
}

/* Message user */
.sent .badge-user {
  background-color: transparent;
  border: none;
  margin: 0;
}

/* Chatbox wrappers */
#frame {
  background-color: transparent;
}

.panel-body {
  background-color: transparent;
}

/* New message form containers */
.panel-footer {
  background-color: #2c2c2c;
  border: none;
}

.message-input,
.message-input > .row {
  background-color: inherit;
}

.footer {
  color: #ccc;
}

/* Searches
---------------------------------------------------------------------------- */
.user-torrents__filters,
.user-peers__filters,
.user-uploads__filters,
.user-resurrections__filters {
  margin: 0 auto;
  width: 1024px;
  max-width: 1024px;
}
