::-webkit-scrollbar {
  width: .5em;
  height: .5em;
}

::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: 0 0;
}

.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.align-right {
  text-align: right;
}

.table > tbody > tr > td:first-child,
.table > thead > tr > th:first-child {
  text-align: center;
}

.content-panel {
  padding-left: 22px;
  padding-top: 26px;
}

.full-invisible,
.full-invisible * {
  visibility: hidden !important;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#preloader > div,
.widgets {
  -webkit-backface-visibility: hidden;
}

#preloader > div {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e85656;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#preloader > div:after,
#preloader > div:before {
  content: "";
  position: absolute;
}

#preloader > div:before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #209e91;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#preloader > div:after {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #dfb81c;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

.table {
  margin-bottom: 0;
}

.table > thead > tr > th:last-child {
  padding-right: 16px;
}

.table > tbody > tr > tr:first-child {
  padding-top: 1px;
}

.table > tbody > tr > td {
  padding: 0 8px;
  line-height: 35px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.table > tbody > tr > td:last-child {
  padding-right: 16px !important;
}

.table-id {
  text-align: left !important;
  width: 40px;
}

.table-arr {
  width: 5px;
  padding: 10px 8px 8px 0 !important;
}

.table-no-borders {
  border: none;
}

.table-no-borders td,
.table-no-borders th,
.table-no-borders tr {
  border: none !important;
}

.table .editable-wrap .editable-controls,
.table .editable-wrap .editable-error {
  vertical-align: sub;
}

.table .editable-wrap .editable-controls .btn,
.table .editable-wrap .editable-error .btn {
  padding: 3px 8px;
}

.table .editable-wrap .editable-controls .btn.dropdown-toggle,
.table .editable-wrap .editable-error .btn.dropdown-toggle {
  padding: 3px 20px;
  margin-top: 3px;
}

.table .editable-wrap .editable-controls input,
.table .editable-wrap .editable-error input {
  line-height: 1px;
  height: 30px;
}

.table > thead > tr > th {
  white-space: nowrap;
  border-bottom: none;
}

.table > tbody > tr.no-top-border:first-child > td {
  border-top: none;
}

.table-bordered,
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(5, 5, 5, 0.16);
}

.table > tbody > tr.primary > td {
  background-color: rgba(32, 158, 145, 0.7);
  color: #fff;
  border: none;
}

.table > tbody > tr.primary > td a.email-link {
  color: #fff;
}

.table > tbody > tr.primary > td a.email-link:hover {
  color: #e85656;
}

.table > tbody > tr.success > td {
  background-color: rgba(144, 185, 0, 0.7);
  color: #fff;
  border: none;
}

.table > tbody > tr.success > td a.email-link {
  color: #fff;
}

.table > tbody > tr.success > td a.email-link:hover {
  color: #e85656;
}

.table > tbody > tr.warning > td {
  background-color: rgba(223, 184, 28, 0.7);
  color: #fff;
  border: none;
}

.table > tbody > tr.warning > td a.email-link {
  color: #fff;
}

.table > tbody > tr.warning > td a.email-link:hover {
  color: #e85656;
}

.table > tbody > tr.danger > td {
  background-color: rgba(232, 86, 86, 0.7);
  color: #fff;
  border: none;
}

.table > tbody > tr.danger > td a.email-link {
  color: #fff;
}

.table > tbody > tr.danger > td a.email-link:hover {
  color: #e85656;
}

.table > tbody > tr.info > td {
  background-color: rgba(45, 172, 209, 0.7);
  color: #fff;
  border: none;
}

.table > tbody > tr.info > td a.email-link {
  color: #fff;
}

.table > tbody > tr.info > td a.email-link:hover {
  color: #e85656;
}

.table-striped > tbody > tr > td,
.table > tbody > tr > th {
  border: none;
}

.panel {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;
  position: relative;
  margin-bottom: 24px;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
}

.feed-message,
.panel-footer,
.panel-heading {
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.12);
          box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.12);
}

.panel ::-webkit-scrollbar {
  width: .4em;
  height: .4em;
}

.panel ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.panel ::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.7);
}

.panel body {
  scrollbar-face-color: rgba(0, 0, 0, 0.6);
  scrollbar-track-color: rgba(255, 255, 255, 0.7);
}

.panel.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}

.panel.small-panel {
  height: 114px;
}

.panel.xsmall-panel {
  height: 187px;
}

.panel.medium-panel {
  height: 400px;
}

.panel.xmedium-panel {
  height: 550px;
}

.panel.large-panel {
  height: 974px;
}

.panel.viewport100 {
  height: calc(100vh - 218px);
}

.panel.with-scroll .panel-body {
  height: calc(100% - 44px);
  overflow-y: auto;
}

.panel.panel-blur {
  background: url(/img/blur-bg.jpg) fixed;
  -webkit-transition: none;
  transition: none;
}

.panel > .panel-body {
  padding: 15px 22px;
  height: 100%;
}

.panel > .panel-heading {
  color: #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.bootstrap-panel .panel-body,
.panel-default > .panel-footer,
.panel-default > .panel-heading {
  color: #7d7d7d;
}

.panel-footer,
.panel-heading {
  font-size: 16px;
  background-color: rgba(55, 61, 67, 0.62);
}

.panel-title {
  font-weight: 400;
  opacity: .9;
}

.panel-primary > .panel-heading {
  background-color: #4db1a7;
  border-color: #4db1a7;
}

.panel-success > .panel-heading {
  background-color: #a6c733;
  border-color: #a6c733;
}

.panel-info > .panel-heading {
  background-color: #57bdda;
  border-color: #57bdda;
}

.panel-warning > .panel-heading {
  background-color: #e5c649;
  border-color: #e5c649;
}

.panel-danger > .panel-heading {
  background-color: #ed7878;
  border-color: #ed7878;
}

body {
  background-size: cover;
  background: #464646 url(/img/blur-bg.jpg) no-repeat fixed center center;
}

.well {
  border: none;
  border-radius: 5px;
  position: relative;
  margin-bottom: 24px;
  -webkit-box-shadow: 0 5px 5px rgba(10, 10, 10, 0.75);
          box-shadow: 0 5px 5px rgba(10, 10, 10, 0.75);
  background: rgba(0, 0, 0, 0.2) url(/img/blur-bg-blurred.jpg) fixed;
  -webkit-transition: none;
  transition: none;
}

.box {
  background: url(/img/blur-bg-blurred.jpg) fixed;
  display: block;
  padding: 20px 15px;
  background-color: #efefef;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;
  position: relative;
  margin-bottom: 24px;
  -webkit-box-shadow: 0 5px 5px rgba(10, 10, 10, 0.75);
          box-shadow: 0 5px 5px rgba(10, 10, 10, 0.75);
  color: #fff;
}

.container.box {
  background: url(/img/blur-bg-blurred.jpg) fixed;
  display: block;
  padding: 20px 15px;
  background-color: #efefef;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;
  position: relative;
  margin-bottom: 24px;
  -webkit-box-shadow: 0 5px 5px rgba(10, 10, 10, 0.75);
          box-shadow: 0 5px 5px rgba(10, 10, 10, 0.75);
  color: #fff;
}

.ratio-bar {
  padding: 10px 10px 0;
  background: url(/img/blur-bg-blurred.jpg) fixed;
  text-align: center;
  font-weight: bolder;
  color: #fff;
  font-size: 14px;
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 24px;
  list-style: none;
  background: url(/img/blur-bg-blurred.jpg) fixed;
  border: 1px solid rgba(158, 158, 158, 0.46);
  font-size: 14px;
}

.block {
  background: url(/img/blur-bg-blurred.jpg) fixed;
  display: block;
  padding: 20px 15px;
  background-color: #efefef;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;
  position: relative;
  margin-bottom: 24px;
  -webkit-box-shadow: 0 5px 5px rgba(10, 10, 10, 0.75);
          box-shadow: 0 5px 5px rgba(10, 10, 10, 0.75);
  color: #fff;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgba(5, 5, 5, 0.16);
}

a {
  color: #fff;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}

a:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}

i.torrent-icon {
  color: #fff;
  font-size: 32px;
}

#hoeapp-wrapper {
  color: #fff;
}

.list-group-item {
  background-color: rgba(0, 0, 0, 0.51);
  border: .5px dashed #ddd;
}

.mentioned {
  background-color: rgba(3, 96, 163, 0.57);
}

.panel-chat > .panel-heading {
  color: #fff;
  background-color: rgba(55, 61, 67, 0.62);
  border-color: rgba(55, 61, 67, 0.62);
}

a.view-torrent {
  font-size: 19px;
  font-weight: bolder;
  color: #fff;
}

a.view-torrent:hover {
  font-size: 19px;
  font-weight: bolder;
  background: -webkit-linear-gradient(right, #fff, #8768e0, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul.comments-list li {
  background-color: rgba(55, 61, 67, 0.62);
}

.form-control {
  background-color: rgba(55, 61, 67, 0.62);
  color: #fff;
}

.btn {
  background-color: rgba(55, 61, 67, 0.62);
}

.mentioned {
  background-color: rgba(9, 144, 255, 0.42);
}

.mentions {
  background-color: rgba(10, 255, 64, 0.28);
}


.wysibb {
    border: 1px solid #424242;
    background-color: rgba(55, 61, 67, 0.62);
}

.wysibb .wysibb-toolbar {
    border-bottom: 1px solid #393939;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container {
    border-right: 1px solid #393939;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn span.btn-tooltip {
  background-color: rgba(55, 61, 67, 0.62);
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn span.btn-tooltip {
  border: 1px solid #232323;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn .fonticon {
    color: #d5d5d5;
    text-shadow: 0px 1px 0px #000;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.on,
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.on:hover,
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn:active {
    background: transparent;
    padding: 0px 1px;
    border: 1px solid #2f2f2f;
    border-radius: 0px;
}

#wbbmodal  .wbbm{
  background: #fff;
  text-align:left;
  max-width: 90%;
  max-height:90%;
  margin: 30px auto;
  border: 1px solid #bbb;
  box-shadow:0px 0px 5px #333;
  overflow:auto;
  color: #111;
}

.wbbquote {
    padding: 15px;
    border-left: 3px solid #00b6bb;
    color: #777777;
}
