.wysibb {
    border: 1px solid #424242;
    background-color: rgba(55, 61, 67, 0.62);
}

.wysibb .wysibb-toolbar {
    border-bottom: 1px solid #393939;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container {
    border-right: 1px solid #393939;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn span.btn-tooltip {
    background-color: rgba(55, 61, 67, 0.62);
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn span.btn-tooltip {
    border: 1px solid #232323;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn .fonticon {
    color: #d5d5d5;
    text-shadow: 0 1px 0 #000;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.on,
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.on:hover,
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn:active {
    background: transparent;
    padding: 0 1px;
    border: 1px solid #2f2f2f;
    border-radius: 0;
}

#wbbmodal .wbbm {
    background: #fff;
    text-align: left;
    max-width: 90%;
    max-height: 90%;
    margin: 30px auto;
    border: 1px solid #bbb;
    box-shadow: 0 0 5px #333;
    overflow: auto;
    color: #111;
}

.wbbquote {
    padding: 15px;
    border-left: 3px solid #00b6bb;
    color: #777777;
}
