{
	experimental_http3
}
APP_HOSTNAME {
    root * /app/public
    log {
        output file /var/log/caddy/APP_HOSTNAME.access.log {
        	roll_size 3MiB
	        roll_keep 5
	        roll_keep_for 48h
        }
        format console
    }
    reverse_proxy /socket.io echo-server:6001 {
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-For {remote}
        websocket
    }
    file_server
    encode gzip zstd
    php_fastcgi app:9000

    tls APP_EMAIL {
        # ca https://acme-staging-v02.api.letsencrypt.org/directory
    	protocols tls1.2 tls1.3
    }
}